Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli

run doctools.py on the current code
  data/json/decision_points/automatable_2_0_0.json
  data/json/decision_points/exploitation_1_0_0.json
  data/json/decision_points/exploitation_1_1_0.json
  data/json/decision_points/human_impact_2_0_0.json
  data/json/decision_points/human_impact_2_0_1.json
  data/json/decision_points/mission_and_well-being_impact_1_0_0.json
  data/json/decision_points/mission_impact_1_0_0.json
  data/json/decision_points/mission_impact_2_0_0.json
  data/json/decision_points/public_safety_impact_2_0_0.json
  data/json/decision_points/public_safety_impact_2_0_1.json
  data/json/decision_points/public_value_added_1_0_0.json
  data/json/decision_points/public_well-being_impact_1_0_0.json
  data/json/decision_points/report_credibility_1_0_0.json
  data/json/decision_points/report_public_1_0_0.json
  data/json/decision_points/safety_impact_1_0_0.json
  data/json/decision_points/safety_impact_2_0_0.json
  data/json/decision_points/supplier_cardinality_1_0_0.json
  data/json/decision_points/supplier_contacted_1_0_0.json
  data/json/decision_points/supplier_engagement_1_0_0.json
  data/json/decision_points/supplier_involvement_1_0_0.json
  data/json/decision_points/system_exposure_1_0_0.json
  data/json/decision_points/system_exposure_1_0_1.json
  data/json/decision_points/technical_impact_1_0_0.json
  data/json/decision_points/utility_1_0_0.json
  data/json/decision_points/utility_1_0_1.json
  data/json/decision_points/value_density_1_0_0.json
  data/json/decision_points/virulence_1_0_0.json
Owners: @sei-vsarvepalli, @ahouseholder

Resolve part of Feature/issue 602 to add schemaVersion field (#606)
  data/json/decision_points/automatable_2_0_0.json
  data/json/decision_points/exploitation_1_0_0.json
  data/json/decision_points/exploitation_1_1_0.json
  data/json/decision_points/human_impact_1_0_0.json
  data/json/decision_points/human_impact_2_0_0.json
  data/json/decision_points/human_impact_2_0_1.json
  data/json/decision_points/mission_and_well-being_impact_1_0_0.json
  data/json/decision_points/mission_impact_1_0_0.json
  data/json/decision_points/mission_impact_2_0_0.json
  data/json/decision_points/public_safety_impact_1_0_0.json
  data/json/decision_points/public_safety_impact_2_0_0.json
  data/json/decision_points/public_safety_impact_2_0_1.json
  data/json/decision_points/public_value_added_1_0_0.json
  data/json/decision_points/public_well-being_impact_1_0_0.json
  data/json/decision_points/report_credibility_1_0_0.json
  data/json/decision_points/report_public_1_0_0.json
  data/json/decision_points/safety_impact_1_0_0.json
  data/json/decision_points/safety_impact_2_0_0.json
  data/json/decision_points/supplier_cardinality_1_0_0.json
  data/json/decision_points/supplier_contacted_1_0_0.json
  data/json/decision_points/supplier_engagement_1_0_0.json
  data/json/decision_points/supplier_involvement_1_0_0.json
  data/json/decision_points/system_exposure_1_0_0.json
  data/json/decision_points/system_exposure_1_0_1.json
  data/json/decision_points/technical_impact_1_0_0.json
  data/json/decision_points/utility_1_0_0.json
  data/json/decision_points/utility_1_0_1.json
  data/json/decision_points/value_density_1_0_0.json
  data/json/decision_points/virulence_1_0_0.json
  data/schema/current/Decision_Point_Group.schema.json
  data/schema/v1/Decision_Point-1-0-1.schema.json
  data/schema/v1/Decision_Point_Group-1-0-1.schema.json
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
  src/ssvc/__init__.py
  src/ssvc/_mixins.py
  src/test/test_schema.py
Owners: @sei-vsarvepalli, @ahouseholder

schema URL's ID field is garbled
  data/schema/v1/Decision_Point-1-0-1.schema.json
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
Owners: @sei-vsarvepalli

schema URL's ID field is garbled (#627)
  data/schema/v1/Decision_Point-1-0-1.schema.json
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
Owners: @sei-vsarvepalli

Updated schema to remove #definitions for root element of the schema - supporting CVE Program
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
Owners: @sei-vsarvepalli

Schema/issue 631 (#633)
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
Owners: @sei-vsarvepalli

Erorr in the ID field for Decision_Point_Value_Selection-1-0-1.schema.json
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
Owners: @sei-vsarvepalli

Erorr in the ID field for Decision_Point_Value_Selection-1-0-1.schema.json
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
Owners: @sei-vsarvepalli

Move to 2020-12 support issue #640
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
Owners: @sei-vsarvepalli

Updates from mkdocs latest version for space issues
  docs/_generated/decision_points/automatable_2_0_0.md
  docs/_generated/decision_points/exploitation_1_0_0.md
  docs/_generated/decision_points/exploitation_1_1_0.md
  docs/_generated/decision_points/human_impact_2_0_0.md
  docs/_generated/decision_points/human_impact_2_0_1.md
  docs/_generated/decision_points/mission_and_well-being_impact_1_0_0.md
  docs/_generated/decision_points/mission_impact_1_0_0.md
  docs/_generated/decision_points/mission_impact_2_0_0.md
  docs/_generated/decision_points/public_safety_impact_2_0_0.md
  docs/_generated/decision_points/public_safety_impact_2_0_1.md
  docs/_generated/decision_points/public_value_added_1_0_0.md
  docs/_generated/decision_points/public_well-being_impact_1_0_0.md
  docs/_generated/decision_points/report_credibility_1_0_0.md
  docs/_generated/decision_points/report_public_1_0_0.md
  docs/_generated/decision_points/safety_impact_1_0_0.md
  docs/_generated/decision_points/safety_impact_2_0_0.md
  docs/_generated/decision_points/supplier_cardinality_1_0_0.md
  docs/_generated/decision_points/supplier_contacted_1_0_0.md
  docs/_generated/decision_points/supplier_engagement_1_0_0.md
  docs/_generated/decision_points/supplier_involvement_1_0_0.md
  docs/_generated/decision_points/system_exposure_1_0_0.md
  docs/_generated/decision_points/system_exposure_1_0_1.md
  docs/_generated/decision_points/technical_impact_1_0_0.md
  docs/_generated/decision_points/utility_1_0_0.md
  docs/_generated/decision_points/utility_1_0_1.md
  docs/_generated/decision_points/value_density_1_0_0.md
  docs/_generated/decision_points/virulence_1_0_0.md
  src/ssvc/doctools.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

SSVC JSON Schema 2020-12
  data/schema/v1/Decision_Point-1-0-1.schema.json
  data/schema/v1/Decision_Point_Group-1-0-1.schema.json
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
Owners: @sei-vsarvepalli

bump mkdocs-include-markdown-plugin to 7.1.2
  requirements.txt
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

SSVC JSON Schema 2020-12 (#654)
  data/schema/v1/Decision_Point-1-0-1.schema.json
  data/schema/v1/Decision_Point_Group-1-0-1.schema.json
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
Owners: @sei-vsarvepalli

initial commit- proof of concept.
  docs/explanation-index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

real initial commit
  docs/explanation-index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Spelling error fix in Decision Point Value Selection cvvs to cvss
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
Owners: @sei-vsarvepalli

Moved CVE-1969 to recommend CVE-1900 example see https://github.com/CVEProject/cve-schema/releases
  data/schema_examples/CVE-1900-1234-Decision_Point_Value_Selection.json
Owners: @sei-vsarvepalli

Also fixed for Issue #665
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
Owners: @sei-vsarvepalli

Spelling error fix in Decision Point Value Selection cvvs to cvss (#664)
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
  data/schema_examples/CVE-1900-1234-Decision_Point_Value_Selection.json
Owners: @sei-vsarvepalli

fix unit test
  src/test/test_schema.py
Owners: @ahouseholder

reformat python with black
  src/SSVC_csv-to-latex.py
  src/ssvc/_mixins.py
  src/ssvc/csv_analyzer.py
  src/ssvc/decision_points/automatable.py
  src/ssvc/decision_points/cvss/attack_vector.py
  src/ssvc/decision_points/cvss/availability_impact.py
  src/ssvc/decision_points/cvss/availability_requirement.py
  src/ssvc/decision_points/cvss/confidentiality_requirement.py
  src/ssvc/decision_points/cvss/exploitability.py
  src/ssvc/decision_points/cvss/integrity_requirement.py
  src/ssvc/decision_points/cvss/report_confidence.py
  src/ssvc/decision_points/helpers.py
  src/ssvc/decision_points/human_impact.py
  src/ssvc/decision_points/utility.py
  src/ssvc/doctools.py
  src/ssvc/dp_groups/cvss/collections.py
  src/ssvc/dp_groups/ssvc/collections.py
  src/ssvc/dp_groups/ssvc/deployer.py
  src/ssvc/outcomes/groups.py
  src/ssvc/policy_generator.py
  src/ssvc_v2.py
  src/test/test_csv_analyzer.py
  src/test/test_doctools.py
  src/test/test_dp_groups.py
  src/test/test_mixins.py
  src/test/test_policy_generator.py
  src/test/test_schema.py
Owners: @ahouseholder

add some comments explaining why we're doing it this way
  src/test/test_schema.py
Owners: @ahouseholder

fix unit test (#669)
  src/test/test_schema.py
Owners: @ahouseholder

added symlink to schema/current folder
  data/schema/current/Outcome_Group-1-0-1.schema.json
Owners: @sei-vsarvepalli

fix unit test (#669)
  src/test/test_schema.py
Owners: @ahouseholder

black reformat
  src/ssvc/decision_points/helpers.py
  src/test/test_schema.py
Owners: @ahouseholder

use pydantic dataclasses
  src/ssvc/_mixins.py
  src/ssvc/decision_points/base.py
  src/ssvc/decision_points/critical_software.py
  src/ssvc/decision_points/cvss/base.py
  src/ssvc/decision_points/cvss/eq_sets.py
  src/ssvc/decision_points/helpers.py
  src/ssvc/decision_points/high_value_asset.py
  src/ssvc/decision_points/in_kev.py
  src/ssvc/decision_points/report_credibility.py
  src/ssvc/decision_points/report_public.py
  src/ssvc/decision_points/supplier_cardinality.py
  src/ssvc/decision_points/supplier_contacted.py
  src/ssvc/decision_points/supplier_engagement.py
  src/ssvc/decision_points/supplier_involvement.py
  src/ssvc/decision_points/system_exposure.py
  src/ssvc/decision_points/technical_impact.py
  src/ssvc/decision_points/value_density.py
  src/ssvc/doctools.py
  src/ssvc/dp_groups/base.py
  src/ssvc/dp_groups/cvss/collections.py
  src/ssvc/dp_groups/ssvc/collections.py
  src/ssvc/dp_groups/ssvc/coordinator_publication.py
  src/ssvc/dp_groups/ssvc/coordinator_triage.py
  src/ssvc/dp_groups/ssvc/deployer.py
  src/ssvc/dp_groups/ssvc/supplier.py
  src/ssvc_v2.py
  src/test/test_doctools.py
  src/test/test_dp_base.py
  src/test/test_dp_groups.py
  src/test/test_mixins.py
  src/test/test_schema.py
Owners: @ahouseholder

fix unit tests
  src/ssvc/dp_groups/base.py
  src/ssvc/outcomes/base.py
  src/test/test_dp_groups.py
  src/test/test_mixins.py
  src/test/test_outcomes.py
Owners: @ahouseholder

black reformat
  src/test/test_dp_groups.py
  src/test/test_mixins.py
Owners: @ahouseholder

use native python types
  src/ssvc/decision_points/base.py
  src/ssvc/policy_generator.py
Owners: @ahouseholder

update dependencies
  requirements.txt
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Resolves @ahouseholder feedback
  data/json/decision_points.zip
  src/cvss_to_json.py
  src/outcomes_to_json.py
  src/ssvc/gini_impurity.py
Owners: @sei-vsarvepalli, @ahouseholder

wrap scripts in main() func
  src/cvss_to_json.py
  src/outcomes_to_json.py
Owners: @ahouseholder

black reformat
  src/test/test_schema.py
Owners: @ahouseholder

add placeholder test
  src/test/test_schema.py
Owners: @ahouseholder

Add more info in explanations
  .gitignore
  docs/explanation-index.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

Standardize docstrings to define what the program does, add missing license wording, and format blank lines around header docstrings.
  src/ssvc/decision_points/automatable.py
  src/ssvc/decision_points/base.py
  src/ssvc/decision_points/critical_software.py
  src/ssvc/decision_points/helpers.py
  src/ssvc/decision_points/high_value_asset.py
  src/ssvc/decision_points/human_impact.py
  src/ssvc/decision_points/mission_impact.py
  src/ssvc/decision_points/mission_prevalence.py
  src/ssvc/decision_points/public_safety_impact.py
  src/ssvc/decision_points/public_value_added.py
  src/ssvc/decision_points/report_credibility.py
  src/ssvc/decision_points/report_public.py
  src/ssvc/decision_points/safety_impact.py
  src/ssvc/decision_points/supplier_cardinality.py
  src/ssvc/decision_points/supplier_contacted.py
  src/ssvc/decision_points/supplier_engagement.py
  src/ssvc/decision_points/supplier_involvement.py
  src/ssvc/decision_points/system_exposure.py
  src/ssvc/decision_points/technical_impact.py
  src/ssvc/decision_points/utility.py
  src/ssvc/decision_points/value_density.py
Owners: @ahouseholder

Undo a deleted line
  src/ssvc/decision_points/utility.py
Owners: @ahouseholder

Update module docstrings (#679)
  src/ssvc/decision_points/automatable.py
  src/ssvc/decision_points/base.py
  src/ssvc/decision_points/critical_software.py
  src/ssvc/decision_points/helpers.py
  src/ssvc/decision_points/high_value_asset.py
  src/ssvc/decision_points/human_impact.py
  src/ssvc/decision_points/mission_impact.py
  src/ssvc/decision_points/mission_prevalence.py
  src/ssvc/decision_points/public_safety_impact.py
  src/ssvc/decision_points/public_value_added.py
  src/ssvc/decision_points/report_credibility.py
  src/ssvc/decision_points/report_public.py
  src/ssvc/decision_points/safety_impact.py
  src/ssvc/decision_points/supplier_cardinality.py
  src/ssvc/decision_points/supplier_contacted.py
  src/ssvc/decision_points/supplier_engagement.py
  src/ssvc/decision_points/supplier_involvement.py
  src/ssvc/decision_points/system_exposure.py
  src/ssvc/decision_points/technical_impact.py
  src/ssvc/decision_points/utility.py
  src/ssvc/decision_points/value_density.py
Owners: @ahouseholder

add markdown-exec plugin and doc_helpers in prep for inlining examples
  mkdocs.yml
  requirements.txt
  src/ssvc/doc_helpers.py
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough
