Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

add new ssvc namspace pattern based on ABNF
  src/ssvc/outcomes/x_com_yahooinc/paranoids.py
  src/ssvc/utils/patterns.py
  src/ssvc/utils/ssvc_namespace_pattern.abnf
Owners: @ahouseholder, @sei-vsarvepalli

cleanup whitespace in ssvc_namespace_pattern.abnf
  src/ssvc/utils/ssvc_namespace_pattern.abnf
Owners: @ahouseholder, @sei-vsarvepalli

adapt namespace tests to new patterns from #858
  docs/reference/code/namespaces.md
  src/ssvc/decision_tables/base.py
  src/test/decision_points/test_dp_base.py
  src/test/decision_points/test_dp_helpers.py
  src/test/decision_tables/test_base.py
  src/test/dp_groups/test_dp_groups.py
  src/test/outcomes/test_outcomes.py
  src/test/registry/test_base.py
  src/test/test_doc_helpers.py
  src/test/test_mixins.py
  src/test/test_namespaces.py
  src/test/test_namespaces_pattern.py
  src/test/test_policy_generator.py
  src/test/test_selections.py
  src/test/utils/test_toposort.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

cleanup codestyle with black (minor)
  src/ssvc/utils/patterns.py
  src/test/test_namespaces.py
  src/test/test_namespaces_pattern.py
Owners: @ahouseholder

put freshly generated schema files in
  data/schema/v2/Decision_Point-2-0-0.schema.json
  data/schema/v2/Decision_Point_Group-2-0-0.schema.json
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  data/schema/v2/Decision_Table-2-0-0.schema.json
  data/schema/v2/Ssvc_Object_Registry-2-0-0.schema.json
Owners: @sei-vsarvepalli

Updated to evaluation with dynamic graph
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli

Updated to click events on checkbox
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli

Update valueSelection
  docs/ssvc-calc/findex.html
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli, @ahouseholder

Added more logic for replicated CVEs
  docs/ssvc-calc/findex.html
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli, @ahouseholder

Added SweetAlert2 prompt
  docs/ssvc-calc/css.css
  docs/ssvc-calc/findex.html
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli, @ahouseholder

Updated to evaluation with dynamic graph
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli

Removed bug after label move to ADA compliance
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli

SSVC CVE Collect
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli

make namespace abnf and examples more consistent
  src/ssvc/utils/ssvc_namespace_pattern.abnf
  src/test/test_namespaces_pattern.py
Owners: @ahouseholder, @sei-vsarvepalli

improve x_com_yahooinc namespace model example
  src/ssvc/outcomes/x_com_yahooinc/paranoids.py
Owners: @ahouseholder

improving namespace example
  src/ssvc/decision_tables/base.py
Owners: @ahouseholder

this one appears to work
  src/ssvc/decision_tables/_mermaid.py
  src/ssvc/decision_tables/test.md
Owners: @ahouseholder, @sei-vsarvepalli

add workaround for when graph exceeds mermaid default 500 edges
  docs/howto/coordination_triage_decision.md
  src/ssvc/decision_tables/_mermaid.py
  src/ssvc/decision_tables/test.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

fix example x_name-space
  docs/adr/0012-ssvc-namespaces.md
  docs/reference/code/namespaces.md
  src/test/decision_points/test_dp_base.py
  src/test/decision_points/test_dp_helpers.py
  src/test/dp_groups/test_dp_groups.py
  src/test/outcomes/test_outcomes.py
  src/test/test_doc_helpers.py
  src/test/test_mixins.py
  src/test/test_policy_generator.py
  src/test/test_selections.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

refactor decision table pages to leverage new python tools for decision table presentation
  docs/howto/coordination_triage_decision.md
  docs/howto/deployer_tree.md
  docs/howto/publication_decision.md
  docs/howto/supplier_tree.md
  src/ssvc/decision_tables/_mermaid.py
  src/ssvc/decision_tables/helpers.py
  src/ssvc/decision_tables/ssvc/coord_triage.py
  src/ssvc/outcomes/ssvc/coordinate.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

update coordinate outcome decision point with descriptions that better match prior documentation
  data/json/decision_points/ssvc/decline_track_coordinate_1_0_1.json
  data/json/decision_tables/ssvc/coordinator_triage_1_0_0.json
  data/json/ssvc_object_registry.json
Owners: @sei-vsarvepalli, @ahouseholder

adds cvss v4 decision table documentation
  docs/howto/cvss_v4/eq1.md
  docs/howto/cvss_v4/eq2.md
  docs/howto/cvss_v4/eq3.md
  docs/howto/cvss_v4/eq4.md
  docs/howto/cvss_v4/eq5.md
  docs/howto/cvss_v4/eq6.md
  docs/howto/cvss_v4/index.md
  docs/howto/cvss_v4/qualitative.md
  mkdocs.yml
  src/ssvc/decision_tables/cvss/qualitative_severity.py
  src/test/decision_tables/cvss/_v4expected.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

remove files from wip
  src/ssvc/decision_tables/_mermaid.py
  src/ssvc/decision_tables/test.md
Owners: @ahouseholder, @sei-vsarvepalli

strip the invalid macrovector rows back out before printing models
  docs/howto/cvss_v4/qualitative.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

markdownlint --fix
  docs/howto/cvss_v4/eq1.md
  docs/howto/cvss_v4/eq2.md
  docs/howto/cvss_v4/eq3.md
  docs/howto/cvss_v4/eq4.md
  docs/howto/cvss_v4/eq5.md
  docs/howto/cvss_v4/eq6.md
  docs/howto/cvss_v4/index.md
  docs/howto/cvss_v4/qualitative.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

markdownlint --fix
  docs/howto/coordination_triage_decision.md
  docs/howto/deployer_tree.md
  docs/howto/publication_decision.md
  docs/howto/supplier_tree.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

markdownlint --fix
  docs/adr/0012-ssvc-namespaces.md
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Updates to SSVC-Calc
  docs/ssvc-calc/findex.html
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli, @ahouseholder

Added Mermaid2 plugin test
  docs/index.md
  mkdocs.yml
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add uv to manage pyproject.toml
  src/pyproject.toml
  src/uv.lock
Owners: @ahouseholder, @sei-vsarvepalli

Namespace ABNF
  docs/adr/0012-ssvc-namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

we don't use dataclasses-json anymore
  src/pyproject.toml
  src/uv.lock
Owners: @ahouseholder, @sei-vsarvepalli

update require ments.txt
  requirements.txt
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

bump python version to 3.11
  requirements.txt
  src/pyproject.toml
  src/uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

bump python to 3.12
  requirements.txt
  src/pyproject.toml
  src/uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Namespace ABNF
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add `make dev` environment target
  Makefile
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Updates to Titel looks
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli

improve ssvc_namespace_pattern.abnf (minor)
  src/ssvc/utils/ssvc_namespace_pattern.abnf
Owners: @ahouseholder, @sei-vsarvepalli

Update src/ssvc/utils/ssvc_namespace_pattern.abnf
  src/ssvc/utils/ssvc_namespace_pattern.abnf
Owners: @ahouseholder, @sei-vsarvepalli

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli
