Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

add docs, update docstrings
  data/schema/v1/Decision_Point-1-0-1.schema.json
  docs/reference/code/index.md
  docs/reference/code/namespaces.md
  mkdocs.yml
  src/ssvc/_mixins.py
  src/ssvc/namespaces.py
Owners: @sei-vsarvepalli, @ahouseholder, @cgyarbrough, @j---

Update Decision_Point-1-0-1.schema.json
  data/schema/v1/Decision_Point-1-0-1.schema.json
Owners: @sei-vsarvepalli

Update Decision_Point-1-0-1.schema.json
  data/schema/v1/Decision_Point-1-0-1.schema.json
Owners: @sei-vsarvepalli

pin changed-files action to specific sha1 (#750)
  .github/workflows/lint_md_changes.yml
Owners: @ahouseholder, @sei-vsarvepalli

we shouldn't mention nciss yet as it's still a draft PR
  data/schema/v1/Decision_Point-1-0-1.schema.json
Owners: @sei-vsarvepalli

missed an nciss
  data/schema/v1/Decision_Point-1-0-1.schema.json
Owners: @sei-vsarvepalli

Add NameSpace Enum (#749)
  .github/workflows/python-app.yml
  data/schema/v1/Decision_Point-1-0-1.schema.json
  docs/reference/code/index.md
  docs/reference/code/namespaces.md
  mkdocs.yml
  src/ssvc/_mixins.py
  src/ssvc/decision_points/base.py
  src/ssvc/decision_points/cvss/base.py
  src/ssvc/namespaces.py
  src/test/test_doc_helpers.py
  src/test/test_dp_base.py
  src/test/test_mixins.py
  src/test/test_namespaces.py
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

revert wip changes
  src/ssvc/decision_points/base.py
  src/ssvc/decision_points/cvss/helpers.py
  src/test/test_cvss_helpers.py
  src/test/test_dp_base.py
Owners: @ahouseholder

add new test for value_dict
  src/test/test_dp_base.py
Owners: @ahouseholder

fix unit tests
  src/test/test_decision_table.py
  src/test/test_prioritization_framework.py
Owners: @ahouseholder

improve name-to-key transformation
  src/ssvc/decision_tables/base.py
Owners: @ahouseholder

move json examples to namespace dir -- fixes #751
  data/json/decision_points/ssvc/automatable_2_0_0.json
  data/json/decision_points/ssvc/exploitation_1_0_0.json
  data/json/decision_points/ssvc/exploitation_1_1_0.json
  data/json/decision_points/ssvc/human_impact_1_0_0.json
  data/json/decision_points/ssvc/human_impact_2_0_0.json
  data/json/decision_points/ssvc/human_impact_2_0_1.json
  data/json/decision_points/ssvc/mission_and_well-being_impact_1_0_0.json
  data/json/decision_points/ssvc/mission_impact_1_0_0.json
  data/json/decision_points/ssvc/mission_impact_2_0_0.json
  data/json/decision_points/ssvc/public_safety_impact_1_0_0.json
  data/json/decision_points/ssvc/public_safety_impact_2_0_0.json
  data/json/decision_points/ssvc/public_safety_impact_2_0_1.json
  data/json/decision_points/ssvc/public_value_added_1_0_0.json
  data/json/decision_points/ssvc/public_well-being_impact_1_0_0.json
  data/json/decision_points/ssvc/report_credibility_1_0_0.json
  data/json/decision_points/ssvc/report_public_1_0_0.json
  data/json/decision_points/ssvc/safety_impact_1_0_0.json
  data/json/decision_points/ssvc/safety_impact_2_0_0.json
  data/json/decision_points/ssvc/supplier_cardinality_1_0_0.json
  data/json/decision_points/ssvc/supplier_contacted_1_0_0.json
  data/json/decision_points/ssvc/supplier_engagement_1_0_0.json
  data/json/decision_points/ssvc/supplier_involvement_1_0_0.json
  data/json/decision_points/ssvc/system_exposure_1_0_0.json
  data/json/decision_points/ssvc/system_exposure_1_0_1.json
  data/json/decision_points/ssvc/technical_impact_1_0_0.json
  data/json/decision_points/ssvc/utility_1_0_0.json
  data/json/decision_points/ssvc/utility_1_0_1.json
  data/json/decision_points/ssvc/value_density_1_0_0.json
  data/json/decision_points/ssvc/virulence_1_0_0.json
  src/ssvc/doctools.py
Owners: @sei-vsarvepalli, @ahouseholder

fix tests
  src/ssvc/decision_tables/base.py
  src/ssvc/doctools.py
  src/test/test_decision_table.py
  src/test/test_doctools.py
  src/test/test_dp_base.py
  src/test/test_dp_groups.py
  src/test/test_dp_helpers.py
  src/test/test_policy_generator.py
Owners: @ahouseholder

reorganize test cases to parallel `ssvc` package
  src/test/decision_points/__init__.py
  src/test/decision_points/test_cvss_helpers.py
  src/test/decision_points/test_dp_base.py
  src/test/decision_points/test_dp_helpers.py
  src/test/decision_tables/__init__.py
  src/test/decision_tables/test_decision_table.py
  src/test/dp_groups/__init__.py
  src/test/dp_groups/test_dp_groups.py
  src/test/outcomes/__init__.py
  src/test/outcomes/test_outcomes.py
  src/test/test_prioritization_framework.py
Owners: @ahouseholder

add str property to both ValueSummary and DecisionPoint for use in lookup tables
  src/ssvc/decision_points/base.py
  src/test/decision_points/test_dp_base.py
Owners: @ahouseholder

adds decision point lookup dict
  src/ssvc/dp_groups/base.py
  src/test/dp_groups/test_dp_groups.py
Owners: @ahouseholder

start converting outcome groups to decision points
  src/ssvc/outcomes/cvss/__init__.py
  src/ssvc/outcomes/cvss/lmhc.py
  src/ssvc/outcomes/groups.py
  src/ssvc/outcomes/ssvc_/__init__.py
  src/ssvc/outcomes/ssvc_/coordinate.py
  src/ssvc/outcomes/ssvc_/dsoi.py
  src/ssvc/outcomes/ssvc_/publish.py
  src/ssvc/policy_generator.py
  src/test/outcomes/test_outcomes.py
  src/test/test_policy_generator.py
Owners: @ahouseholder

adds a cisa namespace, CisaDecisionPoint base class, and outcome groups for CISA-specific decision models
  src/ssvc/decision_points/cisa/__init__.py
  src/ssvc/decision_points/cisa/base.py
  src/ssvc/namespaces.py
  src/ssvc/outcomes/cisa/__init__.py
  src/ssvc/outcomes/cisa/scoring.py
  src/ssvc/outcomes/groups.py
Owners: @ahouseholder

move basic outcome groups to the `x_basic` namespace
  src/ssvc/outcomes/x_basic/__init__.py
  src/ssvc/outcomes/x_basic/ike.py
  src/ssvc/outcomes/x_basic/mscw.py
  src/ssvc/outcomes/x_basic/value_complexity.py
  src/ssvc/outcomes/x_basic/yn.py
Owners: @ahouseholder

clean up format
  src/ssvc/outcomes/cvss/lmhc.py
  src/ssvc/outcomes/ssvc_/coordinate.py
  src/ssvc/outcomes/ssvc_/dsoi.py
  src/ssvc/outcomes/ssvc_/publish.py
Owners: @ahouseholder

add `x_community` namespace for theParanoids outcome group
  src/ssvc/outcomes/x_community/__init__.py
  src/ssvc/outcomes/x_community/paranoids.py
Owners: @ahouseholder

add LATEST imports to module `__init__.py` files
  src/ssvc/outcomes/__init__.py
  src/ssvc/outcomes/cisa/__init__.py
  src/ssvc/outcomes/cvss/__init__.py
  src/ssvc/outcomes/ssvc_/__init__.py
  src/ssvc/outcomes/x_basic/__init__.py
Owners: @ahouseholder

simplify dp_groups
  src/ssvc/dp_groups/base.py
Owners: @ahouseholder

rename SsvcDecisionPointGroup to DecisionPointGroup
  src/ssvc/dp_groups/base.py
  src/ssvc/dp_groups/cvss/collections.py
  src/ssvc/dp_groups/ssvc/collections.py
  src/ssvc/dp_groups/ssvc/coordinator_publication.py
  src/ssvc/dp_groups/ssvc/coordinator_triage.py
  src/ssvc/dp_groups/ssvc/deployer.py
  src/ssvc/dp_groups/ssvc/supplier.py
  src/ssvc/policy_generator.py
  src/test/dp_groups/test_dp_groups.py
  src/test/test_policy_generator.py
Owners: @ahouseholder

simplify table in prep for using new decision point and group features
  src/ssvc/decision_tables/base.py
  src/test/decision_tables/test_decision_table.py
Owners: @ahouseholder

black reformat
  src/ssvc/dp_groups/ssvc/coordinator_publication.py
  src/ssvc/dp_groups/ssvc/coordinator_triage.py
Owners: @ahouseholder

add combination strings back to dpg
  src/ssvc/dp_groups/base.py
Owners: @ahouseholder

Add updated licensing wording from Contracts
  data/LICENSE
  doc/LICENSE
  docs/LICENSE
  pdfs/LICENSE
  src/LICENSE
Owners: @sei-vsarvepalli, @ahouseholder, @cgyarbrough

remove separate outcome groups files
  src/outcomes_to_json.py
  src/ssvc/outcomes/groups.py
Owners: @ahouseholder

revise decision point registry, add value summary registry
  src/ssvc/decision_points/base.py
Owners: @ahouseholder

remove temp notebook
  src/exploratory.ipynb
Owners: @ahouseholder, @sei-vsarvepalli

use new features of objects
  src/ssvc/policy_generator.py
Owners: @ahouseholder

add policy generator to decision table object
  src/ssvc/decision_tables/base.py
Owners: @ahouseholder

update tests
  src/test/decision_tables/test_base.py
Owners: @ahouseholder

minor clean up items
  src/ssvc/decision_points/cisa/base.py
  src/ssvc/outcomes/base.py
  src/ssvc/policy_generator.py
Owners: @ahouseholder

Bump site deployment environment to python 12
  .github/workflows/deploy_site.yml
Owners: @ahouseholder, @sei-vsarvepalli

Bump site deployment environment to python 3.12
  .github/workflows/deploy_site.yml
Owners: @ahouseholder, @sei-vsarvepalli

update test
  src/ssvc/decision_points/base.py
  src/test/decision_tables/test_base.py
  src/test/test_policy_generator.py
Owners: @ahouseholder

Change docs copyright page to reflect new LICENSE wording
  docs/about/copyright.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

markdownlint
  docs/about/copyright.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli
