Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli

Add agent skills, codebase reference docs, and plan files
  .agents/skills/ingest-idea/SKILL.md
  .agents/skills/study-project-docs/SKILL.md
  docs/reference/codebase/ARCHITECTURE.md
  docs/reference/codebase/CONCERNS.md
  docs/reference/codebase/CONVENTIONS.md
  docs/reference/codebase/INTEGRATIONS.md
  docs/reference/codebase/STACK.md
  docs/reference/codebase/STRUCTURE.md
  docs/reference/codebase/TESTING.md
  plan/BUILD_LEARNINGS.md
  plan/PRIORITIES.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

Add process-concerns agent skill adapted from Vultron
  .agents/skills/process-concerns/SKILL.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Revise process-concerns: format-agnostic CONCERNS.md parsing
  .agents/skills/process-concerns/SKILL.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

specs: ingest idea #902 — Decision Point Groups removal
  notes/dp-groups-removal.md
  plan/history/ideas.md
  specs/README.md
  specs/dp-groups-removal.yaml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

specs: ingest idea #1143 — DecisionTable versioning rules
  plan/history/ideas.md
  specs/versioning.yaml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

docs: add agent tooling docs and behavioral guidelines to copilot instructions
  .github/copilot-instructions.md
Owners: @ahouseholder, @sei-vsarvepalli

skills: port ingest-idea improvements from Vultron
  .agents/skills/ingest-idea/SKILL.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Fix validator override and enum .value inconsistency; add BehavioralSpec inherited-field tests
  src/ssvc/metadata/specs/llm_export.py
  src/ssvc/metadata/specs/schema.py
  src/test/metadata/specs/test_schema.py
Owners: @ahouseholder

specs: ingest idea #1151 — two-tier skill directory and canonical SKILL.md
  .agents/skills/README.md
  .agents/skills/dev/ingest-idea/SKILL.md
  .agents/skills/dev/load-specs/SKILL.md
  .agents/skills/dev/process-concerns/SKILL.md
  .agents/skills/dev/study-project-docs/SKILL.md
  .agents/skills/ssvc/evaluate-decision-point/SKILL.md
  .github/workflows/validate_skills.yml
  notes/skills.md
  plan/history/ideas.md
  specs/README.md
  specs/skills.yaml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/validate_skills.yml
Owners: @ahouseholder, @sei-vsarvepalli

Fix calculator checkbox order dependency in tree pruning
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli
