Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli

Update schema JSON to use cross-referencing and force more validations (#704)
  data/schema/v1/Decision_Point-1-0-1.schema.json
  data/schema/v1/Decision_Point_Group-1-0-1.schema.json
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
  src/test/test_dp_base.py
Owners: @sei-vsarvepalli, @ahouseholder

add `mdlint_fix` target to Makefile
  Makefile
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

add `__str__()` method to `SsvcDecisionPointValue`
  src/ssvc/decision_points/base.py
Owners: @ahouseholder

add `combinations` and `combo_strings` methods to `SsvcDecisionPointGroup`
  src/ssvc/dp_groups/base.py
  src/test/test_dp_groups.py
Owners: @ahouseholder

wip commit
  src/ssvc/framework/__init__.py
  src/ssvc/framework/decision_framework.py
  src/ssvc/policy_generator.py
  src/test/test_decision_framework.py
Owners: @ahouseholder

markdownlint on github issue and pr templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Owners: @ahouseholder, @sei-vsarvepalli

update json examples
  data/json/decision_points/cvss/automatable_1_0_0.json
  data/json/decision_points/cvss/availability_impact_to_the_subsequent_system_1_0_0.json
  data/json/decision_points/cvss/availability_impact_to_the_vulnerable_system_3_0_0.json
  data/json/decision_points/cvss/confidentiality_impact_to_the_vulnerable_system_3_0_0.json
  data/json/decision_points/cvss/integrity_impact_to_the_vulnerable_system_3_0_0.json
  data/json/decision_points/cvss/integrity_requirement_1_1_1.json
  data/json/decision_points/cvss/modified_availability_impact_to_the_subsequent_system_1_0_0.json
  data/json/decision_points/cvss/modified_availability_impact_to_the_vulnerable_system_3_0_0.json
  data/json/decision_points/cvss/modified_confidentiality_impact_to_the_vulnerable_system_3_0_0.json
  data/json/decision_points/cvss/modified_integrity_impact_to_the_vulnerable_system_3_0_0.json
Owners: @sei-vsarvepalli, @ahouseholder

update json examples (#727)
  data/json/decision_points/cvss/automatable_1_0_0.json
  data/json/decision_points/cvss/availability_impact_to_the_subsequent_system_1_0_0.json
  data/json/decision_points/cvss/availability_impact_to_the_vulnerable_system_3_0_0.json
  data/json/decision_points/cvss/confidentiality_impact_to_the_vulnerable_system_3_0_0.json
  data/json/decision_points/cvss/integrity_impact_to_the_vulnerable_system_3_0_0.json
  data/json/decision_points/cvss/integrity_requirement_1_1_1.json
  data/json/decision_points/cvss/modified_availability_impact_to_the_subsequent_system_1_0_0.json
  data/json/decision_points/cvss/modified_availability_impact_to_the_vulnerable_system_3_0_0.json
  data/json/decision_points/cvss/modified_confidentiality_impact_to_the_vulnerable_system_3_0_0.json
  data/json/decision_points/cvss/modified_integrity_impact_to_the_vulnerable_system_3_0_0.json
Owners: @sei-vsarvepalli, @ahouseholder

Incorporate feedback
  docs/explanation.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Update deploy_site.yml
  .github/workflows/deploy_site.yml
Owners: @ahouseholder, @sei-vsarvepalli

Update deploy_site.yml
  .github/workflows/deploy_site.yml
Owners: @ahouseholder, @sei-vsarvepalli

fix type hint on SsvcDecisionPointGroup object
  src/ssvc/dp_groups/base.py
Owners: @ahouseholder

add `VERSIONS` and `LATEST` pattern to decision point groups
  src/ssvc/dp_groups/ssvc/collections.py
  src/ssvc/dp_groups/ssvc/coordinator_publication.py
  src/ssvc/dp_groups/ssvc/coordinator_triage.py
  src/ssvc/dp_groups/ssvc/deployer.py
  src/ssvc/dp_groups/ssvc/supplier.py
Owners: @ahouseholder

add keys to outcome groups
  src/ssvc/outcomes/base.py
  src/ssvc/outcomes/groups.py
  src/test/test_outcomes.py
  src/test/test_policy_generator.py
Owners: @ahouseholder

refactor DecisionFramework for testability
  src/ssvc/framework/decision_framework.py
  src/test/test_decision_framework.py
Owners: @ahouseholder

replace list with tuple to match type hint
  src/ssvc/policy_generator.py
Owners: @ahouseholder

black reformat
  src/ssvc/csv_analyzer.py
Owners: @ahouseholder

add validator method to check mapping
  src/ssvc/framework/decision_framework.py
Owners: @ahouseholder

refactor
  src/ssvc/framework/decision_framework.py
  src/test/test_decision_framework.py
Owners: @ahouseholder

fixup type hints
  src/ssvc/dp_groups/base.py
  src/ssvc/dp_groups/ssvc/deployer.py
  src/ssvc/dp_groups/ssvc/supplier.py
Owners: @ahouseholder

add test
  src/test/test_decision_framework.py
Owners: @ahouseholder

Update verbiage because we have a list of CWE-IDs per issue 529.
  docs/topics/information_sources.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Clean CWE-IDs list to only exploit_possible=yes, eliminate need for side scrolling, add hyperlinks, and create a markdown version of the csv per issues 530 and 713.
  docs/_includes/cwe-with-poc-examples.md
  docs/reference/decision_points/exploitation.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

markdown lint
  docs/_includes/cwe-with-poc-examples.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

rename DecisionFramework to PrioritizationFramework
  src/ssvc/framework/prioritization_framework.py
  src/test/test_prioritization_framework.py
Owners: @ahouseholder

change type hints on OutcomeGroup class
  src/ssvc/outcomes/base.py
Owners: @ahouseholder

black reformat
  src/ssvc/outcomes/groups.py
Owners: @ahouseholder

replace `Track *` with `Monitor`
  docs/ssvc-calc/findex.html
  docs/ssvc-calc/old_index.html
Owners: @sei-vsarvepalli, @ahouseholder

carve a new version of CISA OutcomeGroup to reflect `Track *` -> `Monitor`
  src/ssvc/outcomes/groups.py
Owners: @ahouseholder

replace `Track*` with `Monitor` in json
  docs/ssvc-calc/CISA-Coordinator.json
Owners: @sei-vsarvepalli, @ahouseholder

replace CISA.json with Monitor outcome value
  data/json/outcomes/CISA.json
Owners: @sei-vsarvepalli, @ahouseholder

more substitutions
  data/json/outcomes/CISA.json
  docs/ssvc-calc/sample-ssvc.txt
  docs/ssvc-calc/ssvc.js
  src/ssvc/outcomes/groups.py
Owners: @sei-vsarvepalli, @ahouseholder

Fix broken link to cwe examples and remove cwe csvs file to enforce a single source of truth.
  data/csvs/cwe/possible-cwe-with-poc-examples.csv
  docs/topics/information_sources.md
Owners: @ahouseholder, @j---, @cgyarbrough, @sei-vsarvepalli

Make the linkchecker happy
  docs/topics/information_sources.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Really fix links this time
  docs/topics/information_sources.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Convert cwes list to markdown with fewer rows and columns (#737)
  data/csvs/cwe/possible-cwe-with-poc-examples.csv
  docs/_includes/cwe-with-poc-examples.md
  docs/reference/decision_points/exploitation.md
  docs/topics/information_sources.md
Owners: @ahouseholder, @j---, @cgyarbrough, @sei-vsarvepalli

rename new class to DecisionTable
  src/ssvc/decision_tables/__init__.py
  src/ssvc/decision_tables/base.py
  src/test/test_prioritization_framework.py
Owners: @ahouseholder

add observed_activity.py
  src/ssvc/decision_points/nciss/observed_activity.py
Owners: @ahouseholder

add functional_impact.py and information_impact.py
  src/ssvc/decision_points/nciss/functional_impact.py
  src/ssvc/decision_points/nciss/information_impact.py
Owners: @ahouseholder

remove example from value
  src/ssvc/decision_points/nciss/recoverability.py
Owners: @ahouseholder
