Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli

add new version of decision point value selection schema
  data/schema/current/Decision_Point_Value_Selection.schema.json
Owners: @sei-vsarvepalli

make examples into lists
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

fix some formatting
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

remove default from VersionField annotation
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/_mixins.py
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

we don't need a decision point id field separately, it's derivable from the other key-value pairs
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

more clean up
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

more clean up
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

we don't need decision point id
  src/ssvc/decision_points/base.py
Owners: @ahouseholder

Fix for Bug paging issue #818
  docs/ssvc-calc/icons8-copy-link-48-blue.png
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli, @ahouseholder

Smaller update for includtree #818
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli

refactor schema version to variable
  src/ssvc/selection.py
Owners: @ahouseholder

compute path relative to module location
  src/ssvc/selection.py
Owners: @ahouseholder

fix some redundancy based on copilot PR review
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

refactor namespace and version specifications for modularity
  src/ssvc/_mixins.py
  src/ssvc/namespaces.py
  src/test/test_mixins.py
Owners: @ahouseholder

add unit tests
  src/ssvc/selection.py
  src/test/test_selections.py
Owners: @ahouseholder

add namespace pattern and update examples
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
Owners: @sei-vsarvepalli

work in progress commit. Not quite working yet
  src/ssvc/namespaces.py
  src/ssvc/test/test_namespaces_pattern.py
Owners: @ahouseholder

updates namespace regex to fit test strings
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/namespaces.py
  src/test/test_mixins.py
  src/test/test_namespaces.py
  src/test/test_namespaces_pattern.py
Owners: @sei-vsarvepalli, @ahouseholder

add namespaces docs
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Fix for Bug paging issue #818 (#822)
  docs/ssvc-calc/icons8-copy-link-48-blue.png
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli, @ahouseholder

refactor decision table so it doesn't explicitly need a decision point group
  data/schema/current/Decision_Table.schema.json
  data/schema/v2/Decision_Table-2-0-0.schema.json
  src/ssvc/decision_tables/base.py
  src/ssvc/decision_tables/ssvc/__init__.py
  src/ssvc/decision_tables/ssvc/utlity.py
  src/ssvc/dp_groups/base.py
  src/ssvc/utils.py
  src/test/decision_tables/test_base.py
  src/test/dp_groups/test_dp_groups.py
Owners: @sei-vsarvepalli, @ahouseholder

fix a bug in csv_analyzer that was assuming target values were always in ascending order.
  src/ssvc/csv_analyzer.py
  src/ssvc/decision_tables/base.py
  src/ssvc/decision_tables/ssvc/__init__.py
Owners: @ahouseholder

try out the decision table object with a few known tables
  src/ssvc/decision_tables/helpers.py
  src/ssvc/decision_tables/ssvc/human_impact.py
  src/ssvc/decision_tables/ssvc/supplier_dt.py
  src/ssvc/decision_tables/ssvc/utlity.py
Owners: @ahouseholder

reformat
  src/ssvc/decision_tables/base.py
Owners: @ahouseholder

use dashes for schema version
  data/schema/v2/Decision_Table-2-0-0.schema.json
Owners: @sei-vsarvepalli

Update docs/reference/code/namespaces.md
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

fix typo
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add reverse domain name recommendation for private / experimental namespaces
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add reverse domain name recommendation for private / experimental namespaces
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add warning about "no adds" in extensions.
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add one more test string
  src/test/test_namespaces_pattern.py
Owners: @ahouseholder

we're enforcing version patterns, so should -> must. Also bump default version to 0.0.1
  src/ssvc/_mixins.py
Owners: @ahouseholder

fix default version implementation
  src/ssvc/_mixins.py
  src/test/test_mixins.py
Owners: @ahouseholder

make timestamp required.
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

force schema order
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

allow additional properties in selection object
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
Owners: @sei-vsarvepalli

fix how we set the schemaVersion
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

RFC 3339 is more specific than ISO 8601
  src/ssvc/selection.py
Owners: @ahouseholder

adjust example namespaces
  src/ssvc/namespaces.py
Owners: @ahouseholder

pattern was blocking 2-letter TLDs in reverse-domain-name convention
  src/ssvc/namespaces.py
  src/test/test_namespaces_pattern.py
Owners: @ahouseholder
