Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

fix unit tests
  src/test/decision_points/test_cvss_helpers.py
  src/test/dp_groups/test_dp_groups.py
Owners: @ahouseholder

add test for registry duplicates
  src/test/decision_points/test_dp_base.py
Owners: @ahouseholder

move mission prevalence to cisa namespace (their customization was the only place it was ever used)
  data/json/decision_points/cisa/mission_prevalence_1_0_0.json
  src/ssvc/decision_points/cisa/mission_prevalence.py
Owners: @sei-vsarvepalli, @ahouseholder

add decision table object
  src/ssvc/decision_tables/__init__.py
  src/ssvc/decision_tables/base.py
  src/ssvc/decision_tables/experimental_base.py
  src/test/decision_tables/__init__.py
  src/test/decision_tables/test_base.py
  src/test/decision_tables/test_experimental_base.py
Owners: @ahouseholder

fix unit tests
  src/test/decision_tables/test_base.py
  src/test/outcomes/test_outcomes.py
Owners: @ahouseholder

make sure the `make docker_test` target always builds fresh
  Makefile
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

eliminate semver warning
  src/ssvc/decision_points/cvss/helpers.py
Owners: @ahouseholder

fix pydantic data type warning
  src/test/decision_points/test_dp_helpers.py
Owners: @ahouseholder

make csv export smaller (avoid redundancy in row elements)
  src/ssvc/decision_tables/base.py
Owners: @ahouseholder

refactoring & make tests pass
  src/ssvc/decision_points/base.py
  src/ssvc/decision_tables/base.py
  src/ssvc/decision_tables/mapping.py
  src/ssvc/dp_groups/base.py
  src/ssvc/policy_generator.py
  src/ssvc/registry.py
  src/test/decision_points/test_cvss_helpers.py
  src/test/decision_points/test_dp_base.py
  src/test/decision_tables/test_base.py
  src/test/decision_tables/test_experimental_base.py
Owners: @ahouseholder

remove superfluous mapping module
  src/ssvc/decision_tables/mapping.py
Owners: @ahouseholder

Refine decision table object, refactor methods into functions, add docstrings, fix unit tests
  src/ssvc/decision_tables/base.py
  src/test/decision_tables/test_base.py
Owners: @ahouseholder

increase unit test coverage
  src/test/decision_tables/test_base.py
Owners: @ahouseholder

add type hints
  src/ssvc/csv_analyzer.py
Owners: @ahouseholder

add feature importance and topology checks
  src/ssvc/decision_tables/base.py
Owners: @ahouseholder

fix tests
  src/test/decision_tables/test_base.py
Owners: @ahouseholder

update tests
  src/ssvc/decision_tables/base.py
  src/test/decision_tables/test_base.py
Owners: @ahouseholder

add nist namespace
  src/ssvc/namespaces.py
Owners: @ahouseholder

add nist base class for decision points
  src/ssvc/decision_points/nist/__init__.py
  src/ssvc/decision_points/nist/base.py
Owners: @ahouseholder

add adversary capability, intent, targeting decision points
  src/ssvc/decision_points/nist/adversary_capability.py
  src/ssvc/decision_points/nist/adversary_intent.py
  src/ssvc/decision_points/nist/adversary_targeting.py
Owners: @ahouseholder

add range_of_effects.py
  src/ssvc/decision_points/nist/range_of_effects.py
Owners: @ahouseholder

add threat event relevance and vulnerability severity
  src/ssvc/decision_points/nist/adversary_intent.py
  src/ssvc/decision_points/nist/threat_event_relevance.py
  src/ssvc/decision_points/nist/vulnerability_severity.py
Owners: @ahouseholder

add likelihoods and condition pervasiveness
  src/ssvc/decision_points/nist/adversarial_initiation_likelihood.py
  src/ssvc/decision_points/nist/adverse_impact_likelihood.py
  src/ssvc/decision_points/nist/condition_pervasiveness.py
  src/ssvc/decision_points/nist/nonadversarial_occurrence_likelihood.py
Owners: @ahouseholder

add threat event impact module
  src/ssvc/decision_points/nist/threat_event_impact.py
Owners: @ahouseholder

add NIST 800-30 decision point group
  src/ssvc/dp_groups/nist/__init__.py
  src/ssvc/dp_groups/nist/collections.py
Owners: @ahouseholder

add nist risk level outcome group
  src/ssvc/outcomes/nist/__init__.py
  src/ssvc/outcomes/nist/risk_level.py
Owners: @ahouseholder

clean up older outcomegroup cruft
  src/ssvc/outcomes/__init__.py
  src/ssvc/outcomes/base.py
  src/ssvc/outcomes/groups.py
  src/ssvc/policy_generator.py
  src/test/outcomes/test_outcomes.py
Owners: @ahouseholder

add json examples
  data/json/decision_points/nist/adversarial_initiation_likelihood_1_0_0.json
  data/json/decision_points/nist/adversary_capability_1_0_0.json
  data/json/decision_points/nist/adversary_intent_1_0_0.json
  data/json/decision_points/nist/adversary_targeting_1_0_0.json
  data/json/decision_points/nist/adverse_impact_likelihood_1_0_0.json
  data/json/decision_points/nist/condition_pervasiveness_1_0_0.json
  data/json/decision_points/nist/nonadversarial_occurrence_likelihood_1_0_0.json
  data/json/decision_points/nist/range_of_effects_1_0_0.json
  data/json/decision_points/nist/risk_level_1_0_0.json
  data/json/decision_points/nist/threat_event_impact_1_0_0.json
  data/json/decision_points/nist/threat_event_relevance_1_0_0.json
  data/json/decision_points/nist/vulnerability_severity_1_0_0.json
Owners: @sei-vsarvepalli, @ahouseholder

fix test
  src/test/decision_tables/test_base.py
Owners: @ahouseholder

refactor DecisionPointGroup to use a dict rather than tuple as its main structure.
  src/ssvc/dp_groups/base.py
  src/ssvc/policy_generator.py
  src/test/test_policy_generator.py
Owners: @ahouseholder

refactor dp_groups to be a dict rather than tuple of decision points. Refine decision table object
  src/ssvc/decision_tables/base.py
  src/ssvc/dp_groups/base.py
  src/test/decision_tables/test_base.py
  src/test/dp_groups/test_dp_groups.py
Owners: @ahouseholder

add obfuscator methods to decision tables and dp groups objects
  src/ssvc/decision_tables/base.py
  src/ssvc/dp_groups/base.py
Owners: @ahouseholder

pep8
  src/ssvc/dp_groups/base.py
Owners: @ahouseholder

update DPG schema and fix tests
  data/schema/current/Decision_Point_Group.schema.json
  data/schema/v1/Decision_Point_Group-1-1-0.schema.json
  src/ssvc/_mixins.py
  src/test/decision_tables/test_base.py
  src/test/test_mixins.py
  src/test/test_schema.py
Owners: @sei-vsarvepalli, @ahouseholder

remove obsolete experimental code
  src/ssvc/decision_tables/experimental_base.py
  src/test/decision_tables/test_experimental_base.py
Owners: @ahouseholder

pep8 cleanup
  src/test/test_schema.py
Owners: @ahouseholder

refactor VersionField into an annotation for use in other objects
  src/ssvc/_mixins.py
  src/ssvc/dp_groups/cvss/collections.py
  src/test/decision_points/test_cvss_helpers.py
Owners: @ahouseholder

add id property to decision points
  src/ssvc/decision_points/base.py
Owners: @ahouseholder

add minimal selection object for data exchange
  src/ssvc/selection.py
Owners: @ahouseholder

add new version of decision point value selection schema
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli
