Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli

Add test for first character not to be space
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Fix syntax
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Experimenting with github forms syntax from decision points
  pyproject.toml
  src/experimental/__init__.py
  src/experimental/gh_issue_forms.py
  uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Update acks page
  docs/about/acknowledgements.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Update docs/about/acknowledgements.md
  docs/about/acknowledgements.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Update docs/about/acknowledgements.md
  docs/about/acknowledgements.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add decision points, decision tables, and stub docs for AIVSS Agentic Impact Model
  .gitignore
  docs/howto/aivss/agentic_impact.md
  docs/howto/aivss/env_adapt.md
  docs/howto/aivss/exec_power.md
  docs/howto/aivss/predict_influence.md
  mkdocs.yml
  src/ssvc/decision_points/aivss/__init__.py
  src/ssvc/decision_points/aivss/agentic_impact.py
  src/ssvc/decision_points/aivss/autonomy.py
  src/ssvc/decision_points/aivss/base.py
  src/ssvc/decision_points/aivss/contextual_awareness.py
  src/ssvc/decision_points/aivss/deceptiveness_potential.py
  src/ssvc/decision_points/aivss/dynamic_identity.py
  src/ssvc/decision_points/aivss/env_adaptation.py
  src/ssvc/decision_points/aivss/execution_power.py
  src/ssvc/decision_points/aivss/goal_driven_planning.py
  src/ssvc/decision_points/aivss/memory.py
  src/ssvc/decision_points/aivss/multi_agent_interactions.py
  src/ssvc/decision_points/aivss/non_determinism.py
  src/ssvc/decision_points/aivss/opacity_reflexivity.py
  src/ssvc/decision_points/aivss/predictability_influence.py
  src/ssvc/decision_points/aivss/self_modification.py
  src/ssvc/decision_points/aivss/tool_use.py
  src/ssvc/decision_points/aivss/verification_capability.py
  src/ssvc/decision_tables/aivss/agentic_impact.py
  src/ssvc/decision_tables/aivss/env_adaptation.py
  src/ssvc/decision_tables/aivss/execution_power.py
  src/ssvc/decision_tables/aivss/predictability_influence.py
  src/ssvc/decision_tables/aivss/utils.py
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

add json to registry
  data/csv/x_org_owasp_aivss/agentic_impact_level_1_0_0.csv
  data/csv/x_org_owasp_aivss/execution_power_1_0_0.csv
  data/csv/x_org_owasp_aivss/predictability_and_influence_1_0_0.csv
  data/json/decision_points/x_org_owasp_aivss/agentic_impact_level_1_0_0.json
  data/json/decision_points/x_org_owasp_aivss/autonomy_of_action_1_0_0.json
  data/json/decision_points/x_org_owasp_aivss/contextual_awareness_1_0_0.json
  data/json/decision_points/x_org_owasp_aivss/deceptiveness_potential_1_0_0.json
  data/json/decision_points/x_org_owasp_aivss/dynamic_identity_1_0_0.json
  data/json/decision_points/x_org_owasp_aivss/environment_adaptation_1_0_0.json
  data/json/decision_points/x_org_owasp_aivss/execution_power_1_0_0.json
  data/json/decision_points/x_org_owasp_aivss/goal_driven_planning_1_0_0.json
  data/json/decision_points/x_org_owasp_aivss/memory_use_1_0_0.json
  data/json/decision_points/x_org_owasp_aivss/multi_agent_interactions_1_0_0.json
  data/json/decision_points/x_org_owasp_aivss/non_determinism_1_0_0.json
  data/json/decision_points/x_org_owasp_aivss/opacity_reflexivity_1_0_0.json
  data/json/decision_points/x_org_owasp_aivss/predictability_and_influence_1_0_0.json
  data/json/decision_points/x_org_owasp_aivss/self_modification_1_0_0.json
  data/json/decision_points/x_org_owasp_aivss/self_modification_1_1_0.json
  data/json/decision_points/x_org_owasp_aivss/tool_use_1_0_0.json
  data/json/decision_points/x_org_owasp_aivss/verification_capability_1_0_0.json
  data/json/decision_tables/x_org_owasp_aivss/agentic_impact_level_1_0_0.json
  data/json/decision_tables/x_org_owasp_aivss/execution_power_1_0_0.json
  data/json/decision_tables/x_org_owasp_aivss/predictability_and_influence_1_0_0.json
  data/json/ssvc_object_registry.json
Owners: @sei-vsarvepalli, @ahouseholder

Enhance AIVSS documentation and structure for Agentic Impact Level
  docs/howto/aivss/agentic_impact.md
  docs/howto/aivss/env_adapt.md
  docs/howto/aivss/index.md
  docs/howto/aivss/predict_influence.md
  mkdocs.yml
  src/ssvc/decision_points/aivss/agentic_impact.py
  src/ssvc/decision_points/aivss/systemic_impact.py
  src/ssvc/decision_tables/aivss/agentic_impact.py
  src/ssvc/decision_tables/aivss/aivss.py
  src/ssvc/decision_tables/helpers.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Add Systemic Impact and AIVSS Decision Table definitions to the registry
  data/csv/x_org_owasp_aivss/aivss_decision_table_1_0_0.csv
  data/json/decision_points/x_org_owasp_aivss/systemic_impact_1_0_0.json
  data/json/decision_tables/x_org_owasp_aivss/aivss_decision_table_1_0_0.json
  data/json/ssvc_object_registry.json
Owners: @sei-vsarvepalli, @ahouseholder

Fix capitalization of "Copilot" in agentic impact definition
  data/json/decision_points/x_org_owasp_aivss/agentic_impact_level_1_0_0.json
  data/json/decision_tables/x_org_owasp_aivss/agentic_impact_level_1_0_0.json
  data/json/decision_tables/x_org_owasp_aivss/aivss_decision_table_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_points/aivss/agentic_impact.py
Owners: @sei-vsarvepalli, @ahouseholder

markdownlint on aivss docs
  docs/howto/aivss/agentic_impact.md
  docs/howto/aivss/env_adapt.md
  docs/howto/aivss/exec_power.md
  docs/howto/aivss/index.md
  docs/howto/aivss/predict_influence.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Fix link to exploitation decision point in index.md
  docs/howto/aivss/index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Fix link formatting for exploitation decision point in index.md
  docs/howto/aivss/index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Add pygraphviz dependency and implement graph labeling functionality
  pyproject.toml
  src/ssvc/utils/graph_labeling.py
  uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Refactor graph labeling functions and improve layout algorithms in graph_labeling.py; add colorcet dependency
  pyproject.toml
  src/ssvc/utils/graph_labeling.py
  src/ssvc/utils/toposort.py
  uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Add Graphviz installation step in GitHub Actions workflow
  .github/workflows/python-app.yml
Owners: @ahouseholder, @sei-vsarvepalli

add "aivss" as a recognized namespace
  data/csv/aivss/agentic_impact_level_1_0_0.csv
  data/csv/aivss/aivss_decision_table_1_0_0.csv
  data/csv/aivss/execution_power_1_0_0.csv
  data/csv/aivss/predictability_and_influence_1_0_0.csv
  data/json/decision_points/aivss/agentic_impact_level_1_0_0.json
  data/json/decision_points/aivss/autonomy_of_action_1_0_0.json
  data/json/decision_points/aivss/contextual_awareness_1_0_0.json
  data/json/decision_points/aivss/deceptiveness_potential_1_0_0.json
  data/json/decision_points/aivss/dynamic_identity_1_0_0.json
  data/json/decision_points/aivss/environment_adaptation_1_0_0.json
  data/json/decision_points/aivss/execution_power_1_0_0.json
  data/json/decision_points/aivss/goal_driven_planning_1_0_0.json
  data/json/decision_points/aivss/memory_use_1_0_0.json
  data/json/decision_points/aivss/multi_agent_interactions_1_0_0.json
  data/json/decision_points/aivss/non_determinism_1_0_0.json
  data/json/decision_points/aivss/opacity_reflexivity_1_0_0.json
  data/json/decision_points/aivss/predictability_and_influence_1_0_0.json
  data/json/decision_points/aivss/self_modification_1_0_0.json
  data/json/decision_points/aivss/self_modification_1_1_0.json
  data/json/decision_points/aivss/systemic_impact_1_0_0.json
  data/json/decision_points/aivss/tool_use_1_0_0.json
  data/json/decision_points/aivss/verification_capability_1_0_0.json
  data/json/decision_tables/aivss/agentic_impact_level_1_0_0.json
  data/json/decision_tables/aivss/aivss_decision_table_1_0_0.json
  data/json/decision_tables/aivss/execution_power_1_0_0.json
  data/json/decision_tables/aivss/predictability_and_influence_1_0_0.json
  data/json/decision_tables/x_org_owasp_aivss/execution_power_1_0_0.json
  data/json/decision_tables/x_org_owasp_aivss/predictability_and_influence_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_points/aivss/base.py
  src/ssvc/decision_tables/aivss/agentic_impact.py
  src/ssvc/decision_tables/aivss/aivss.py
  src/ssvc/decision_tables/aivss/env_adaptation.py
  src/ssvc/decision_tables/aivss/execution_power.py
  src/ssvc/decision_tables/aivss/predictability_influence.py
  src/ssvc/namespaces.py
  src/ssvc/utils/graph_labeling.py
Owners: @sei-vsarvepalli, @ahouseholder

add "aivss" as a recognized namespace
  data/csv/x_org_owasp_aivss/agentic_impact_level_1_0_0.csv
  data/csv/x_org_owasp_aivss/aivss_decision_table_1_0_0.csv
  data/csv/x_org_owasp_aivss/execution_power_1_0_0.csv
  data/csv/x_org_owasp_aivss/predictability_and_influence_1_0_0.csv
Owners: @sei-vsarvepalli, @ahouseholder

Add Graphviz installation step to link checker workflow
  .github/workflows/link_checker.yml
Owners: @ahouseholder, @sei-vsarvepalli

Add graphviz dependencies to build process
  .github/workflows/deploy_site.yml
  docker/Dockerfile
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Add AIVSS decision point documentation and definitions
  data/csv/aivss/environmental_adaptation_1_0_0.csv
  data/json/decision_points/aivss/predictability_and_influence_1_0_0.json
  data/json/decision_tables/aivss/agentic_impact_level_1_0_0.json
  data/json/decision_tables/aivss/environmental_adaptation_1_0_0.json
  data/json/decision_tables/aivss/predictability_and_influence_1_0_0.json
  data/json/ssvc_object_registry.json
  docs/howto/aivss/index.md
  docs/reference/decision_points/aivss/agentic_impact_level.md
  docs/reference/decision_points/aivss/autonomy_level.md
  docs/reference/decision_points/aivss/contextual_awareness_level.md
  docs/reference/decision_points/aivss/deceptiveness_potential_level.md
  docs/reference/decision_points/aivss/dynamic_identity_level.md
  docs/reference/decision_points/aivss/environment_and_adaptation.md
  docs/reference/decision_points/aivss/execution_power.md
  docs/reference/decision_points/aivss/goal_driven_planning_level.md
  docs/reference/decision_points/aivss/memory_level.md
  docs/reference/decision_points/aivss/multi_agent_interactions_level.md
  docs/reference/decision_points/aivss/non_determinism_level.md
  docs/reference/decision_points/aivss/opacity_reflexivity_level.md
  docs/reference/decision_points/aivss/predictability_and_influence.md
  docs/reference/decision_points/aivss/self_modification_level.md
  docs/reference/decision_points/aivss/systemic_impact.md
  docs/reference/decision_points/aivss/tool_use_level.md
  docs/reference/decision_points/aivss/verification_capability_level.md
  mkdocs.yml
  src/ssvc/decision_points/aivss/env_adaptation.py
  src/ssvc/decision_points/aivss/predictability_influence.py
  src/ssvc/decision_tables/aivss/agentic_impact.py
  src/ssvc/decision_tables/aivss/env_adaptation.py
  src/ssvc/decision_tables/aivss/execution_power.py
  src/ssvc/decision_tables/aivss/predictability_influence.py
Owners: @sei-vsarvepalli, @ahouseholder, @cgyarbrough, @j---

Refactor AIVSS decision points structure in mkdocs.yml for improved organization
  mkdocs.yml
Owners: @ahouseholder

Enhance decision point documentation for AIVSS framework with detailed references and usage tips
  docs/howto/aivss/env_adapt.md
  docs/howto/aivss/exec_power.md
  docs/howto/aivss/predict_influence.md
  docs/reference/decision_points/aivss/environment_and_adaptation.md
  docs/reference/decision_points/aivss/execution_power.md
  docs/reference/decision_points/aivss/predictability_and_influence.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

markdownlint --fix
  docs/howto/aivss/env_adapt.md
  docs/howto/aivss/exec_power.md
  docs/howto/aivss/predict_influence.md
  docs/howto/gathering_info/exploitation.md
  docs/howto/gathering_info/index.md
  docs/howto/gathering_info/system_exposure.md
  docs/reference/decision_points/aivss/autonomy_level.md
  docs/reference/decision_points/aivss/contextual_awareness_level.md
  docs/reference/decision_points/aivss/deceptiveness_potential_level.md
  docs/reference/decision_points/aivss/dynamic_identity_level.md
  docs/reference/decision_points/aivss/environment_and_adaptation.md
  docs/reference/decision_points/aivss/execution_power.md
  docs/reference/decision_points/aivss/goal_driven_planning_level.md
  docs/reference/decision_points/aivss/memory_level.md
  docs/reference/decision_points/aivss/multi_agent_interactions_level.md
  docs/reference/decision_points/aivss/predictability_and_influence.md
  docs/reference/decision_points/human_impact.md
  src/README.md
  src/ssvc/api/README.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

ignore markdownlint rule 028 (no-blanks-blockquote)
  .markdownlint.yml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

revert graphviz dependency
  .github/workflows/deploy_site.yml
  .github/workflows/link_checker.yml
  .github/workflows/python-app.yml
  docker/Dockerfile
  src/ssvc/utils/graph_labeling.py
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Update decision points in Execution Power documentation to reflect correct file paths
  docs/howto/aivss/exec_power.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Fix for prompting div location failure
  docs/ssvc-explorer/index.md
  docs/ssvc-explorer/simple.js
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

black formatter
  src/ssvc/decision_points/aivss/__init__.py
  src/ssvc/decision_points/aivss/autonomy.py
  src/ssvc/decision_points/aivss/execution_power.py
  src/ssvc/decision_points/aivss/goal_driven_planning.py
  src/ssvc/decision_points/aivss/self_modification.py
  src/ssvc/decision_points/aivss/tool_use.py
  src/test/test_selections.py
Owners: @ahouseholder

Improve namespace ABNF integration
  pyproject.toml
  src/ssvc/utils/namespace_patterns.py
  src/ssvc/utils/patterns.py
  uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

improve ABNFpattern integration
  Makefile
  src/ssvc/utils/namespace_patterns.py
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

improve ABNF integration of ssvc namespaces
  pyproject.toml
  src/ssvc/utils/patterns.py
  uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

codestyle: reformat with black
  src/ssvc/utils/patterns.py
Owners: @ahouseholder

WIP after whitepaper draft
  src/cisa_bod_harm-1.csv
  src/cisa_bod_harm-2.csv
  src/cisa_bod_harm.csv
  src/cisa_bod_harm.py
Owners: @ahouseholder, @sei-vsarvepalli

Revert "improve ABNF integration of ssvc namespaces" REASON: DOCKER IS BROKEN
  pyproject.toml
  src/ssvc/utils/patterns.py
  uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

resolves #1033: Add SSVC doc explaining "human-scale bottleneck" idea
  docs/howto/ssvc-human-scale-bottleneck.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Apply suggestions from code review
  docs/howto/ssvc-human-scale-bottleneck.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add ssvc human scale bottleneck page to nav
  mkdocs.yml
Owners: @ahouseholder

markdownlint --fix
  docs/howto/ssvc-human-scale-bottleneck.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---
