Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli

Added Information Gain as a metric
  docs/ssvc-calc/findex.html
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli, @ahouseholder

first draft of epss example docs
  data/json/decision_points/basic/probability_scale_in_5_weighted_levels_ascending_1_0_0.json
  data/json/ssvc_object_registry.json
  docs/howto/using_epss/epss_percentiles.md
  docs/howto/using_epss/epss_probability.md
  docs/howto/using_epss/index.md
  mkdocs.yml
  src/ssvc/decision_points/basic/probability/__init__.py
  src/ssvc/decision_points/basic/probability/nist5.py
  src/ssvc/decision_points/example/__init__.py
  src/ssvc/decision_points/example/base.py
  src/ssvc/decision_tables/example/__init__.py
  src/ssvc/decision_tables/example/base.py
  src/ssvc/decision_tables/example/epss_percentile.py
  src/ssvc/decision_tables/example/epss_quartile.py
Owners: @sei-vsarvepalli, @ahouseholder, @cgyarbrough, @j---

markdownlint --fix
  docs/howto/using_epss/epss_percentiles.md
  docs/howto/using_epss/epss_probability.md
  docs/howto/using_epss/index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Updates to JSON Exporter
  docs/ssvc-calc/findex.html
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli, @ahouseholder

allow base namespaces to have fragments (e.g., `ssvc#example`)
  src/ssvc/namespaces.py
  src/test/test_namespaces.py
  src/test/test_namespaces_pattern.py
Owners: @ahouseholder

add links to EPSS at https://www.first.org/epss
  docs/howto/using_epss/epss_percentiles.md
  docs/howto/using_epss/epss_probability.md
  docs/howto/using_epss/index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add `invalid` and `x_invalid` as RESERVED namespaces.
  src/ssvc/namespaces.py
  src/test/test_namespaces.py
Owners: @ahouseholder

fix #907 add reserved ns warning to docs
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

resolves #908 - add explanation of `example`, `test`, and similar reserved namespaces
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Updates to SSVC-Calculator and SSVC-Explorer
  docs/ssvc-calc/css.css
  docs/ssvc-calc/findex.html
  docs/ssvc-calc/ssvc.js
  docs/ssvc-calc/ssvc_object_registry.json
  docs/ssvc-explorer/findex.html
  docs/ssvc-explorer/index.md
  docs/ssvc-explorer/simple.js
  docs/tutorials/index.md
  src/ssvc/information_gain.py
Owners: @sei-vsarvepalli, @ahouseholder, @cgyarbrough, @j---

refactor NIST-based decision point into its own namespace & fragment
  data/json/decision_points/basic/probability_scale_in_5_weighted_levels_ascending_1_0_0.json
  data/json/decision_points/nist_800_30/probability_scale_in_5_weighted_levels_ascending_1_0_0.json
  data/json/ssvc_object_registry.json
  docs/reference/code/namespaces.md
  src/ssvc/decision_points/nist/__init__.py
  src/ssvc/decision_points/nist/base.py
  src/ssvc/decision_points/nist/sp800_30_r1_g.py
  src/ssvc/namespaces.py
Owners: @sei-vsarvepalli, @ahouseholder, @cgyarbrough, @j---

Remove empty line
  docs/tutorials/index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Remove -e in uv exported file
  requirements.txt
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Added SSVC Explorer to menu
  mkdocs.yml
Owners: @ahouseholder

added --no-editable to uv
  requirements.txt
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Removed extranous code for information_gain
  src/ssvc/information_gain.py
Owners: @ahouseholder

clean up namespace extension diagram for readability
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

minor edits
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

copy edit
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

copy edit
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Fix for Schema Errors in Value Selection
  src/ssvc/doctools.py
  src/ssvc/selection.py
Owners: @ahouseholder

Updates to fix definition vs description
  src/ssvc/selection.py
Owners: @ahouseholder

Fixes for schema errors in Value Selection Schema
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  data/schema_examples/CVE-1900-1234-Decision_Point_Value_Selection-2-0-0.json
  src/ssvc/doctools.py
Owners: @sei-vsarvepalli, @ahouseholder

Add hyperlinks to SSVC card titles
  docs/index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Change heading bar height to not be too small when scrolling
  docs/stylesheets/extra.css
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Fix for Issue #944
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Fix for Issue #944 remove logging
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

add todo placeholders for #901
  src/ssvc/decision_points/base.py
  src/ssvc/decision_tables/base.py
  src/ssvc/dp_groups/base.py
  src/ssvc/registry/base.py
Owners: @ahouseholder

add first pass schema override methods (+1 squashed commit) Squashed commits: [b936166] add first pass schema override methods
  data/schema/v2/Decision_Point-2-0-0.schema.json
  data/schema/v2/Decision_Point_Group-2-0-0.schema.json
  data/schema/v2/Decision_Table-2-0-0.schema.json
  data/schema/v2/Ssvc_Object_Registry-2-0-0.schema.json
  src/ssvc/decision_points/base.py
  src/ssvc/decision_tables/base.py
  src/ssvc/dp_groups/base.py
  src/ssvc/registry/base.py
Owners: @sei-vsarvepalli, @ahouseholder

refactor filename_friendly into ssvc.utils.misc
  src/ssvc/doctools.py
  src/ssvc/utils/misc.py
  src/test/test_doctools.py
Owners: @ahouseholder

tweaking decision points schema generation in preparation for refactoring
  data/schema/v2/Decision_Point-2-0-0.schema.json
  src/ssvc/decision_points/base.py
Owners: @sei-vsarvepalli, @ahouseholder

pull model_json_schema up to _SchemaVersioned mixin
  src/ssvc/_mixins.py
  src/ssvc/decision_points/base.py
  src/ssvc/decision_tables/base.py
  src/ssvc/dp_groups/base.py
  src/ssvc/registry/base.py
Owners: @ahouseholder

Added default namespace for trees
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

refactor how we generate schema `$id` in prep for changing `doctools.py`
  src/ssvc/_mixins.py
  src/ssvc/utils/defaults.py
Owners: @ahouseholder

revise doctools.py to use new _schemaVersioned mixin features.
  data/schema/v2/DecisionPointGroup_2_0_0.schema.json
  data/schema/v2/DecisionPoint_2_0_0.schema.json
  data/schema/v2/DecisionTable_2_0_0.schema.json
  data/schema/v2/SelectionList_2_0_0.schema.json
  data/schema/v2/SsvcObjectRegistry_2_0_0.schema.json
  src/ssvc/doctools.py
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

remove obsoleted overrides in selection list schema generation
  data/schema/v2/SelectionList_2_0_0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

fix tests
  src/test/test_schema.py
  src/test/test_selections.py
Owners: @ahouseholder

put deprecation warning back in description of dp groups
  data/schema/v2/DecisionPointGroup_2_0_0.schema.json
  src/ssvc/dp_groups/base.py
Owners: @sei-vsarvepalli, @ahouseholder

update deprecation warning
  data/schema/v2/DecisionPointGroup_2_0_0.schema.json
  src/ssvc/dp_groups/base.py
Owners: @sei-vsarvepalli, @ahouseholder

Update misc.py
  src/ssvc/utils/misc.py
Owners: @ahouseholder
