Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

example.org -> example.organization (as in organization.example reversed) to avoid confusion with "example.org" which is also reserved
  src/ssvc/namespaces.py
Owners: @ahouseholder

refactor defaults, patterns, and types into an ssvc.utils sub-package
  docs/reference/code/namespaces.md
  src/ssvc/_mixins.py
  src/ssvc/decision_points/base.py
  src/ssvc/namespaces.py
  src/ssvc/selection.py
  src/ssvc/utils/__init__.py
  src/ssvc/utils/defaults.py
  src/ssvc/utils/patterns.py
  src/ssvc/utils/types.py
  src/test/test_mixins.py
  src/test/test_namespaces.py
  src/test/test_namespaces_pattern.py
  src/test/test_selections.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

cleanup defaults module
  src/ssvc/utils/defaults.py
Owners: @ahouseholder

fix double-copyright blocks
  src/ssvc/utils/patterns.py
  src/ssvc/utils/types.py
Owners: @ahouseholder

rename types.py to field_specs.py
  src/ssvc/_mixins.py
  src/ssvc/selection.py
  src/ssvc/utils/field_specs.py
Owners: @ahouseholder

reinstate additionalProperties=false in JSON schema
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

update schema to reflect recent changes
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
Owners: @sei-vsarvepalli

change "vulnerability_id" to "target_ids" and make it a list of strings rather than a single string.
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
  src/test/test_selections.py
Owners: @sei-vsarvepalli, @ahouseholder

make single selection sub-object forbid extras too
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

fails on "ssvc//example.organization#model/com.example#foo"
  src/ssvc/utils/patterns.py
  src/test/test_namespaces_pattern.py
Owners: @ahouseholder

make tests pass
  src/ssvc/utils/patterns.py
Owners: @ahouseholder

revise docstring, add abnf draft
  src/ssvc/utils/patterns.py
Owners: @ahouseholder

update ns pattern documentation
  docs/reference/code/namespaces.md
  src/ssvc/utils/patterns.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

updated NS pattern
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
Owners: @sei-vsarvepalli

add # to allowed chars
  src/ssvc/namespaces.py
Owners: @ahouseholder

replace "x_test" with "x_example.test" to bring into line with reverse domain expectation
  docs/reference/code/namespaces.md
  src/test/decision_points/test_dp_base.py
  src/test/decision_points/test_dp_helpers.py
  src/test/dp_groups/test_dp_groups.py
  src/test/outcomes/test_outcomes.py
  src/test/test_doc_helpers.py
  src/test/test_mixins.py
  src/test/test_namespaces_pattern.py
  src/test/test_policy_generator.py
  src/test/test_selections.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

revise documentation
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

refine `target_ids` to avoid nullable values
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

update field descriptions
  src/ssvc/selection.py
Owners: @ahouseholder

fix examples in namespace field_specs.py
  src/ssvc/utils/field_specs.py
Owners: @ahouseholder

refactor TargetIdList into ssvc.utils.field_specs
  src/ssvc/selection.py
  src/ssvc/utils/field_specs.py
Owners: @ahouseholder

update schema
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
Owners: @sei-vsarvepalli

fix #753
  docs/adr/0012-ssvc-namespaces.md
  docs/adr/index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

change how we set default version so that "version" is required in versioned json schemas
  src/ssvc/_mixins.py
Owners: @ahouseholder

clean up definitions with mixins
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

enforce UTC and no milliseconds when serializing out to JSON
  src/ssvc/selection.py
Owners: @ahouseholder

refactor timestamp into a mixin class
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/_mixins.py
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

fix tests
  src/ssvc/_mixins.py
  src/test/test_selections.py
Owners: @ahouseholder

add keys in parentheses when we generate examples of decision points for documentation
  src/ssvc/doc_helpers.py
Owners: @ahouseholder

add full identity to dp title strings
  src/ssvc/doc_helpers.py
Owners: @ahouseholder

port over decision point identity method from another branch
  src/ssvc/decision_points/base.py
  src/ssvc/doc_helpers.py
Owners: @ahouseholder

fix tests
  src/test/test_doc_helpers.py
Owners: @ahouseholder

add resources and reference lists to selection object
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

post-process schema to ensure that "name" and "description" fields are never required
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

move post-processing into the data class itself
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

rename Selection and SelectionList objects
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
  src/test/test_selections.py
Owners: @sei-vsarvepalli, @ahouseholder

make selection_from_decision_point into a class method of Selection
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

take advantage of `exclude_none=True`
  src/ssvc/selection.py
Owners: @ahouseholder

add newline at end of schema file
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

add selection schema dumper to doctools.py for commit hook
  src/ssvc/doctools.py
Owners: @ahouseholder

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli
