Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

Add links from Reference/DP pages to Howto/GI pages. Add versioning to Howto/GI pages.
  docs/howto/gathering_info/automatable.md
  docs/howto/gathering_info/exploitation.md
  docs/howto/gathering_info/mission_impact.md
  docs/howto/gathering_info/system_exposure.md
  docs/howto/gathering_info/technical_impact.md
  docs/howto/gathering_info/value_density.md
  docs/reference/decision_points/automatable.md
  docs/reference/decision_points/exploitation.md
  docs/reference/decision_points/mission_impact.md
  docs/reference/decision_points/system_exposure.md
  docs/reference/decision_points/technical_impact.md
  docs/reference/decision_points/value_density.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Add howto/GI index page
  docs/howto/gathering_info/index.md
  mkdocs.yml
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Reword
  docs/howto/gathering_info/index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

reorder pages in navigation. Gathering info should come after we introduce more basic SSVC how to info
  mkdocs.yml
Owners: @ahouseholder

add cards & icons to list
  docs/howto/gathering_info/index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

render the correct decision points in examples
  docs/howto/gathering_info/exploitation.md
  docs/howto/gathering_info/mission_impact.md
  docs/howto/gathering_info/system_exposure.md
  docs/howto/gathering_info/technical_impact.md
  docs/howto/gathering_info/value_density.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

use pattern string instead of compiled pattern in pydantic object
  src/ssvc/utils/field_specs.py
  src/ssvc/utils/patterns.py
  src/test/test_namespaces.py
  src/test/test_namespaces_pattern.py
Owners: @ahouseholder

revise pattern spec in pydantic to use the pattern string rather than the compiled pattern.
  data/schema/v2/DecisionPointGroup_2_0_0.schema.json
  data/schema/v2/DecisionPoint_2_0_0.schema.json
  data/schema/v2/DecisionTable_2_0_0.schema.json
  data/schema/v2/SelectionList_2_0_0.schema.json
  data/schema/v2/SsvcObjectRegistry_2_0_0.schema.json
Owners: @sei-vsarvepalli

Updates and small fixes, move ascii_tree to helpers
  docs/howto/supplier_tree.md
  src/README.md
  src/ssvc/decision_tables/base.py
  src/ssvc/decision_tables/helpers.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

use registered example namespace for examples
  src/ssvc/decision_points/example/humidity.py
  src/ssvc/decision_points/example/weather.py
  src/ssvc/decision_tables/example/to_play.py
Owners: @ahouseholder

regenerate/update requirements.txt
  requirements.txt
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

create an Optional version of the Base class
  src/ssvc/_mixins.py
  src/ssvc/selection.py
  src/test/test_selections.py
Owners: @ahouseholder

changes to schema based on use of optional base class
  data/schema/v2/SelectionList_2_0_0.schema.json
Owners: @sei-vsarvepalli

try directly modifying schema
  src/ssvc/_mixins.py
Owners: @ahouseholder

add strip_nullable_anyof function
  data/schema/v2/SelectionList_2_0_0.schema.json
  src/ssvc/_mixins.py
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

refactor strip_nullable_anyof to utils.misc
  src/ssvc/selection.py
  src/ssvc/utils/misc.py
Owners: @ahouseholder

create utils.schema module and refactor functions into it
  src/ssvc/_mixins.py
  src/ssvc/doctools.py
  src/ssvc/registry_demo.py
  src/ssvc/selection.py
  src/ssvc/utils/misc.py
  src/ssvc/utils/schema.py
Owners: @ahouseholder

remove duplicate license comment
  src/ssvc/utils/schema.py
Owners: @ahouseholder

remove duplicate license comment
  src/ssvc/utils/schema.py
Owners: @ahouseholder

add / update docstrings
  src/ssvc/utils/schema.py
Owners: @ahouseholder

set minlength on _Base fields
  src/ssvc/_mixins.py
Owners: @ahouseholder

update schemas
  data/schema/v2/DecisionPointGroup_2_0_0.schema.json
  data/schema/v2/DecisionPoint_2_0_0.schema.json
  data/schema/v2/DecisionTable_2_0_0.schema.json
  data/schema/v2/SsvcObjectRegistry_2_0_0.schema.json
Owners: @sei-vsarvepalli

use more pydantic-native field construction
  src/ssvc/_mixins.py
Owners: @ahouseholder

update namespace string
  src/ssvc/decision_points/cisa/base.py
Owners: @ahouseholder

update description -> definition
  src/ssvc/decision_points/cisa/functional_impact.py
  src/ssvc/decision_points/cisa/incident_severity.py
  src/ssvc/decision_points/cisa/information_impact.py
  src/ssvc/decision_points/cisa/observed_activity.py
  src/ssvc/decision_points/cisa/observed_activity_location.py
  src/ssvc/decision_points/cisa/recoverability.py
Owners: @ahouseholder

regenerate json
  data/json/decision_points/cisa/functional_impact_1_0_0.json
  data/json/decision_points/cisa/functional_impact_2_0_0.json
  data/json/decision_points/cisa/incident_severity_1_0_0.json
  data/json/decision_points/cisa/incident_severity_2_0_0.json
  data/json/decision_points/cisa/information_impact_1_0_0.json
  data/json/decision_points/cisa/information_impact_2_0_0.json
  data/json/decision_points/cisa/observed_activity_0_0_1.json
  data/json/decision_points/cisa/observed_activity_location_1_0_0.json
  data/json/decision_points/cisa/recoverability_1_0_0.json
  data/json/decision_points/cisa_nciss/functional_impact_1_0_0.json
  data/json/decision_points/cisa_nciss/functional_impact_2_0_0.json
  data/json/decision_points/cisa_nciss/incident_severity_1_0_0.json
  data/json/decision_points/cisa_nciss/incident_severity_2_0_0.json
  data/json/decision_points/cisa_nciss/information_impact_1_0_0.json
  data/json/decision_points/cisa_nciss/information_impact_2_0_0.json
  data/json/decision_points/cisa_nciss/observed_activity_0_0_1.json
  data/json/decision_points/cisa_nciss/observed_activity_location_1_0_0.json
  data/json/decision_points/cisa_nciss/recoverability_1_0_0.json
  data/json/ssvc_object_registry.json
Owners: @sei-vsarvepalli, @ahouseholder

Fixes per github feedback
  docs/howto/gathering_info/exploitation.md
  docs/howto/gathering_info/mission_impact.md
  docs/howto/gathering_info/system_exposure.md
  docs/howto/gathering_info/technical_impact.md
  docs/howto/gathering_info/value_density.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

merge main
  data/schema/v2/README.md
  docs/howto/tools/containers.md
  docs/howto/using_epss/epss_percentiles.md
  docs/reference/code/decision_point_groups.md
  docs/reference/code/decision_points.md
  docs/reference/code/decision_tables.md
  docs/reference/code/index.md
  docs/reference/code/namespaces.md
  docs/reference/decision_points/human_impact.md
  docs/reference/decision_points/public_safety_impact.md
  docs/reference/decision_points/technical_impact.md
  docs/reference/decision_points/utility.md
  docs/reference/decision_points/value_density.md
  obsolete/README.md
Owners: @sei-vsarvepalli, @ahouseholder, @cgyarbrough, @j---

Fix broken link
  docs/howto/gathering_info/system_exposure.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Change footnote citations to hyperlinks.
  docs/howto/gathering_info/mission_impact.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

refactor outcome documentation and group imports for clarity
  docs/reference/code/outcomes.md
  src/ssvc/outcomes/__init__.py
  src/ssvc/outcomes/base.py
  src/ssvc/outcomes/basic/__init__.py
  src/ssvc/outcomes/cisa/__init__.py
  src/ssvc/outcomes/cvss/__init__.py
  src/ssvc/outcomes/groups.py
  src/ssvc/outcomes/ssvc/__init__.py
  src/ssvc/outcomes/x_com_yahooinc/__init__.py
  src/ssvc/policy_generator.py
  src/test/decision_tables/test_base.py
  src/test/outcomes/test_outcomes.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

refactor outcome docs into decision point docs folder since they're the same thing
  docs/reference/code/index.md
  docs/reference/code/outcomes.md
  docs/reference/decision_points/outcomes.md
  docs/topics/decision_points_as_bricks.md
  mkdocs.yml
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

rearrange the old "Learning SSVC" page back into the "overview" section
  docs/index.md
  docs/tutorials/other_resources.md
  docs/tutorials/ssvc_overview.md
  docs/tutorials/starting_points.md
  mkdocs.yml
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

fix links to pdfs
  docs/tutorials/ssvc_overview.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

black formatter
  src/ssvc/decision_points/base.py
  src/ssvc/decision_points/basic/quantiles/__init__.py
  src/ssvc/decision_tables/base.py
  src/ssvc/decision_tables/example/__init__.py
  src/ssvc/decision_tables/example/base.py
  src/ssvc/decision_tables/helpers.py
  src/ssvc/outcomes/__init__.py
  src/ssvc/outcomes/basic/__init__.py
  src/ssvc/outcomes/cisa/__init__.py
  src/ssvc/outcomes/cvss/__init__.py
  src/ssvc/outcomes/ssvc/__init__.py
  src/ssvc/outcomes/x_com_yahooinc/__init__.py
  src/ssvc/utils/misc.py
  src/ssvc/utils/schema.py
  src/test/api/response_models/__init__.py
  src/test/test_schema.py
Owners: @ahouseholder

markdownlint --fix
  data/schema/v2/README.md
  docs/adr/0013-ssvc-project-versions.md
  docs/howto/tools/containers.md
  docs/howto/using_epss/epss_percentiles.md
  docs/reference/code/decision_point_groups.md
  docs/reference/code/decision_points.md
  docs/reference/code/decision_tables.md
  docs/reference/code/index.md
  docs/reference/code/namespaces.md
  docs/reference/decision_points/human_impact.md
  docs/reference/decision_points/outcomes.md
  docs/reference/decision_points/public_safety_impact.md
  docs/reference/decision_points/utility.md
  docs/tutorials/other_resources.md
  docs/tutorials/starting_points.md
  obsolete/README.md
  src/README.md
Owners: @sei-vsarvepalli, @ahouseholder, @cgyarbrough, @j---

Replace accidentally removed line
  docs/reference/decision_points/human_impact.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

fix broken links
  docs/howto/index.md
  docs/reference/index.md
  docs/topics/index.md
  docs/tutorials/ssvc_overview.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Requested fixes
  docs/howto/gathering_info/system_exposure.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Refactor question admonition callout box
  docs/_includes/question_callout.md
  docs/howto/gathering_info/system_exposure.md
  docs/howto/gathering_info/technical_impact.md
  docs/howto/gathering_info/value_density.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli
