Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli

add unit tests
  src/ssvc/doctools.py
  src/ssvc/selection.py
  src/test/test_doctools.py
  src/test/test_selections.py
Owners: @ahouseholder

fix test that was overly spec'ed to log sequence
  src/ssvc/doctools.py
  src/test/test_doctools.py
Owners: @ahouseholder

remove default version from selection object
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

Add & refine docstrings
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

revert uri->url back to uri
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

update schema description to reflect recent developments
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

fix a bug in namespace validator that may have prevented extensions to registered namespaces (not starting with x_)
  docs/reference/code/selection.md
  mkdocs.yml
  src/ssvc/namespaces.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

refine ns validator
  src/ssvc/namespaces.py
Owners: @ahouseholder

fix tests
  src/ssvc/_mixins.py
Owners: @ahouseholder

bump schema version, refine doctools schema dumper, revise key description and examples
  data/schema/v2/Decision_Point_Value_Selection-2-0-1.schema.json
  src/ssvc/_mixins.py
  src/ssvc/doctools.py
  src/ssvc/selection.py
Owners: @sei-vsarvepalli, @ahouseholder

adjust key pattern to explicitly grandfather `T*` while limiting other keys to alphanumerics and underscores.
  data/schema/v2/Decision_Point_Value_Selection-2-0-1.schema.json
  src/ssvc/_mixins.py
Owners: @sei-vsarvepalli, @ahouseholder

update tests
  data/schema/v2/Decision_Point_Value_Selection-2-0-1.schema.json
  src/ssvc/_mixins.py
  src/test/test_mixins.py
Owners: @sei-vsarvepalli, @ahouseholder

update current schema link
  data/schema/current/Decision_Point_Value_Selection.schema.json
Owners: @sei-vsarvepalli

decouple _Versioned and _SchemaVersioned
  src/ssvc/_mixins.py
  src/ssvc/decision_points/base.py
  src/ssvc/decision_tables/base.py
  src/ssvc/dp_groups/base.py
  src/ssvc/utils/field_specs.py
Owners: @ahouseholder

relocate `ssvc._schemaVersion` to `ssvc.utils.defaults.SCHEMA_VERSION`
  src/ssvc/__init__.py
  src/ssvc/_mixins.py
  src/ssvc/utils/defaults.py
Owners: @ahouseholder

add default setter for schemaVersion while retaining it as required in JSON schema
  src/ssvc/_mixins.py
Owners: @ahouseholder

update JSON schema
  data/schema/v2/Decision_Point_Value_Selection-2-0-1.schema.json
Owners: @sei-vsarvepalli

add lookup methods
  src/ssvc/registry/base.py
  src/ssvc/registry_demo.py
Owners: @ahouseholder

docstrings and clean up
  src/ssvc/registry/base.py
  src/ssvc/registry_demo.py
Owners: @ahouseholder

black cleanup
  src/ssvc/_mixins.py
  src/ssvc/decision_points/base.py
  src/ssvc/doctools.py
  src/ssvc/registry/base.py
  src/ssvc/registry/events.py
Owners: @ahouseholder

add decision point schema generation to doctools.py
  data/schema/v2/Decision_Point-2-0-0.schema.json
  src/ssvc/decision_points/base.py
  src/ssvc/doctools.py
Owners: @sei-vsarvepalli, @ahouseholder

mark schema validation tests as expected failures for now
  data/schema/current/Decision_Point.schema.json
  src/test/test_schema.py
Owners: @sei-vsarvepalli, @ahouseholder

refactor importer into separate module
  src/ssvc/__init__.py
  src/ssvc/utils/importer.py
Owners: @ahouseholder

refactor doctools for more schema dumps
  data/schema/v2/Decision_Table-2-0-0.schema.json
  src/ssvc/__init__.py
  src/ssvc/doctools.py
  src/ssvc/registry/base.py
  src/ssvc/utils/defaults.py
  src/ssvc/utils/importer.py
  src/test/test_schema.py
Owners: @sei-vsarvepalli, @ahouseholder

update decision point schema
  data/schema/v2/Decision_Point-2-0-0.schema.json
  data/schema/v2/Decision_Table-2-0-0.schema.json
  src/ssvc/decision_points/base.py
Owners: @sei-vsarvepalli, @ahouseholder

remove old registry
  src/ssvc/decision_points/base.py
  src/ssvc/decision_tables/base.py
  src/ssvc/registry/__init__.py
  src/ssvc/registry/base.py
  src/ssvc/registry/old/__init__.py
  src/ssvc/registry/old/registry.py
  src/test/decision_points/test_cvss_helpers.py
  src/test/decision_points/test_dp_base.py
Owners: @ahouseholder

update schema tests and doctools to dump dp group schema
  data/schema/v2/Decision_Point_Group-2-0-0.schema.json
  src/ssvc/doctools.py
  src/ssvc/dp_groups/base.py
  src/test/test_doctools.py
  src/test/test_schema.py
Owners: @sei-vsarvepalli, @ahouseholder

decrement schema version
  data/schema/current/Decision_Point_Value_Selection.schema.json
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  data/schema/v2/Decision_Point_Value_Selection-2-0-1.schema.json
  src/ssvc/selection.py
  src/test/test_schema.py
Owners: @sei-vsarvepalli, @ahouseholder

move "title" to top of each schema object
  data/schema/v2/Decision_Point-2-0-0.schema.json
  data/schema/v2/Decision_Point_Group-2-0-0.schema.json
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  data/schema/v2/Decision_Table-2-0-0.schema.json
  data/schema/v2/Ssvc_Object_Registry-2-0-0.schema.json
  src/ssvc/utils/defaults.py
  src/ssvc/utils/misc.py
Owners: @sei-vsarvepalli, @ahouseholder

Update data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
Owners: @sei-vsarvepalli

add min_length to name, description
  data/schema/v2/Decision_Point-2-0-0.schema.json
  data/schema/v2/Decision_Point_Group-2-0-0.schema.json
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  data/schema/v2/Decision_Table-2-0-0.schema.json
  data/schema/v2/Ssvc_Object_Registry-2-0-0.schema.json
  src/ssvc/_mixins.py
Owners: @sei-vsarvepalli, @ahouseholder

Revert "add min_length to name, description"
  data/schema/v2/Decision_Point-2-0-0.schema.json
  data/schema/v2/Decision_Point_Group-2-0-0.schema.json
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  data/schema/v2/Decision_Table-2-0-0.schema.json
  data/schema/v2/Ssvc_Object_Registry-2-0-0.schema.json
  src/ssvc/_mixins.py
Owners: @sei-vsarvepalli, @ahouseholder

rename 'description' to 'summary' in reference object
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
  src/test/test_selections.py
Owners: @sei-vsarvepalli, @ahouseholder

Update docs/adr/0012-ssvc-namespaces.md
  docs/adr/0012-ssvc-namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Update src/test/test_namespaces_pattern.py
  src/test/test_namespaces_pattern.py
Owners: @ahouseholder

Update src/ssvc/selection.py
  src/ssvc/selection.py
Owners: @ahouseholder

Update docs/reference/code/namespaces.md
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Update docs/reference/code/namespaces.md
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Update docs/reference/code/namespaces.md
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Update docs/reference/code/namespaces.md
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---
