Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

add configuration that will cause sitemap.xml to be populated
  mkdocs.yml
Owners: @ahouseholder

add configuration that will cause sitemap.xml to be populated (#543)
  mkdocs.yml
Owners: @ahouseholder

update changelog.md for 2024.3
  docs/about/changelog.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add link to certcc.github.io home page
  mkdocs.yml
Owners: @ahouseholder

add link to certcc.github.io home page (#553)
  mkdocs.yml
Owners: @ahouseholder

Update changelog (#549)
  docs/about/changelog.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Updated Mission-Impact in Deployer.json and in csvs/child_trees to match latest
  data/csvs/child_trees/human-impact.csv
  docs/ssvc-calc/Deployer.json
Owners: @ahouseholder, @j---, @sei-vsarvepalli

Updated Mission-Impact in Deployer.json and in csvs/child_trees to match latest (#559)
  data/csvs/child_trees/human-impact.csv
  docs/ssvc-calc/Deployer.json
Owners: @ahouseholder, @j---, @sei-vsarvepalli

Add keys to Deployer.json example Issue-123-1
  docs/ssvc-calc/Deployer.json
Owners: @sei-vsarvepalli, @ahouseholder

Update in CSS to fix default darkmode/blackbody
  docs/ssvc-calc/css.css
Owners: @sei-vsarvepalli, @ahouseholder

i18n improvement to Deployer.json (#560)
  docs/ssvc-calc/Deployer.json
  docs/ssvc-calc/css.css
Owners: @sei-vsarvepalli, @ahouseholder

replace vuls.cert.org CVD guide links with certcc.github.io links
  docs/howto/coordination_intro.md
  docs/howto/coordination_triage_decision.md
  docs/howto/publication_decision.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Update requirements.txt
  requirements.txt
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

replace vuls.cert.org CVD guide links with certcc.github.io links (#562)
  docs/howto/coordination_intro.md
  docs/howto/coordination_triage_decision.md
  docs/howto/publication_decision.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Add requirements.txt trigger to link_checker.yml
  .github/workflows/link_checker.yml
Owners: @ahouseholder, @sei-vsarvepalli

Fixed URL Typo in README.md
  README.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Fixed URL Typo in README.md (#578)
  README.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

empty dockerfile
  Dockerfile
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Dockerfile to run pytest
  Dockerfile
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Mention docker in README.md
  README.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

use 3.12 slim bookworm as base container
  Dockerfile
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Make schema available via data/ folder for certcc.github.io
  data/schema_examples/CISA-Coordinator.json
  docs/data
  docs/ssvc-calc/css.css
  docs/ssvc-calc/findex.html
Owners: @sei-vsarvepalli, @ahouseholder, @cgyarbrough

Make schema available via data/ folder for certcc.github.io (#586)
  data/schema_examples/CISA-Coordinator.json
  docs/data
  docs/ssvc-calc/css.css
  docs/ssvc-calc/findex.html
Owners: @sei-vsarvepalli, @ahouseholder, @cgyarbrough

Merge main --> publish (#587)
  .github/workflows/link_checker.yml
  Dockerfile
  README.md
  data/csvs/child_trees/human-impact.csv
  data/schema_examples/CISA-Coordinator.json
  docs/data
  docs/howto/coordination_intro.md
  docs/howto/coordination_triage_decision.md
  docs/howto/publication_decision.md
  docs/ssvc-calc/Deployer.json
  docs/ssvc-calc/css.css
  docs/ssvc-calc/findex.html
  requirements.txt
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

Merging of schemas and simplification of schema validators
  data/schema/Decision_Point.schema.json
  data/schema/Decision_Point_Group.schema.json
  data/schema/SSVC_Computed.schema.json
  data/schema/SSVC_Provision.schema.json
  data/schema_examples/Computed-CVE-2014-0751-Coordinator-with-tree.json
  data/schema_examples/Computed-CVE-2014-0751-Coordinator.json
Owners: @sei-vsarvepalli

Updated Computed schema as feedback from Jay Jacobs #576
  data/schema/SSVC_Computed.schema.json
  data/schema_examples/Computed-CVE-2014-0751-Coordinator-with-tree.json
  data/schema_examples/Computed-CVE-2014-0751-Coordinator.json
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli

add selection objects and generated schemas
  data/schema/Decision_Point_Group_Selection.json
  data/schema/Decision_Point_Selection.json
  src/ssvc/selections.py
Owners: @sei-vsarvepalli, @ahouseholder

add selection objects and generated schemas
  data/schema_examples/Decision_Point_Group_Selection.json
Owners: @sei-vsarvepalli

add selection objects and generated schemas
  src/ssvc/decision_points/exp/__init__.py
  src/ssvc/decision_points/exp/selections_demo.py
Owners: @ahouseholder

clean up cruft in __init__.py
  src/ssvc/decision_points/exp/__init__.py
Owners: @ahouseholder

update examples
  data/schema/Decision_Point_Group_Selection.schema.json
  data/schema/Decision_Point_Selection.schema.json
  data/schema_examples/Decision_Point_Group_Selection.json
  src/ssvc/decision_points/exp/selections_demo.py
  src/ssvc/selections.py
Owners: @sei-vsarvepalli, @ahouseholder

Update mkdocs.yml
  mkdocs.yml
Owners: @ahouseholder

Add Decision Point Group Selection schema with an example
  data/schema/current/Decision_Point_Group_Selection.schema.json
  data/schema/v1/Decision_Point_Group_Selection-1-0-1.schema.json
  data/schema_examples/CVE-1969-0000-Decision_Point_Group_Selection.json
  docs/ssvc-calc/Decision_Point.schema.json
  docs/ssvc-calc/Decision_Point_Group.schema.json
Owners: @sei-vsarvepalli, @ahouseholder

Making 'role' optional in schema
  data/schema/v1/Decision_Point_Group_Selection-1-0-1.schema.json
Owners: @sei-vsarvepalli

Removed unnecessary files for this work
  data/schema/Decision_Point.schema.json
  data/schema/Decision_Point_Group.schema.json
  data/schema/current/Decision_Point_Group_Selection.schema.json
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
  data/schema_examples/CVE-1969-0000-Decision_Point_Group_Selection.json
  docs/ssvc-calc/Decision_Point.schema.json
  docs/ssvc-calc/Decision_Point_Group.schema.json
Owners: @sei-vsarvepalli, @ahouseholder

Updated schema locations and files
  data/schema/current/Decision_Point.schema.json
  data/schema/current/Decision_Point_Group.schema.json
  data/schema/current/Decision_Point_Value_Selection.schema.json
  data/schema/v1/Decision_Point-1-0-1.schema.json
  data/schema/v1/Decision_Point_Group-1-0-1.json
  data/schema_examples/CVE-1969-0000-Decision_Point_Value_Selection.json
  src/test/test_schema.py
Owners: @sei-vsarvepalli, @ahouseholder

Add Decision Point Value Selection schema with an example (#599)
  data/schema/Decision_Point.schema.json
  data/schema/Decision_Point_Group.schema.json
  data/schema/current/Decision_Point.schema.json
  data/schema/current/Decision_Point_Group.schema.json
  data/schema/current/Decision_Point_Value_Selection.schema.json
  data/schema/v1/Decision_Point-1-0-1.schema.json
  data/schema/v1/Decision_Point_Group-1-0-1.json
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
  data/schema_examples/CVE-1969-0000-Decision_Point_Value_Selection.json
  src/test/test_schema.py
Owners: @sei-vsarvepalli, @ahouseholder

fix bad import
  src/ssvc/policy_generator.py
Owners: @ahouseholder

Updates to schema to add schemaVersion as optional field
  data/json/decision_points/system_exposure_1_0_0.json
  data/schema/current/Decision_Point_Group.schema.json
  data/schema/v1/Decision_Point-1-0-1.schema.json
  data/schema/v1/Decision_Point_Group-1-0-1.schema.json
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
  src/ssvc/__init__.py
  src/ssvc/_mixins.py
  src/test/test_schema.py
Owners: @sei-vsarvepalli, @ahouseholder

Updated all data/json/decision_point/* files appropriately with schemaVersion field
  data/json/decision_points/automatable_2_0_0.json
  data/json/decision_points/exploitation_1_0_0.json
  data/json/decision_points/exploitation_1_1_0.json
  data/json/decision_points/human_impact_1_0_0.json
  data/json/decision_points/human_impact_2_0_0.json
  data/json/decision_points/human_impact_2_0_1.json
  data/json/decision_points/mission_and_well-being_impact_1_0_0.json
  data/json/decision_points/mission_impact_1_0_0.json
  data/json/decision_points/mission_impact_2_0_0.json
  data/json/decision_points/public_safety_impact_1_0_0.json
  data/json/decision_points/public_safety_impact_2_0_0.json
  data/json/decision_points/public_safety_impact_2_0_1.json
  data/json/decision_points/public_value_added_1_0_0.json
  data/json/decision_points/public_well-being_impact_1_0_0.json
  data/json/decision_points/report_credibility_1_0_0.json
  data/json/decision_points/report_public_1_0_0.json
  data/json/decision_points/safety_impact_1_0_0.json
  data/json/decision_points/safety_impact_2_0_0.json
  data/json/decision_points/supplier_cardinality_1_0_0.json
  data/json/decision_points/supplier_contacted_1_0_0.json
  data/json/decision_points/supplier_engagement_1_0_0.json
  data/json/decision_points/supplier_involvement_1_0_0.json
  data/json/decision_points/system_exposure_1_0_0.json
  data/json/decision_points/system_exposure_1_0_1.json
  data/json/decision_points/technical_impact_1_0_0.json
  data/json/decision_points/utility_1_0_0.json
  data/json/decision_points/utility_1_0_1.json
  data/json/decision_points/value_density_1_0_0.json
  data/json/decision_points/virulence_1_0_0.json
Owners: @sei-vsarvepalli, @ahouseholder

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli
