Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli

Added Languages
  data/csvs/languages.csv
  docs/ssvc-explorer/findex.html
  docs/ssvc-explorer/simple.js
Owners: @ahouseholder, @j---, @sei-vsarvepalli, @cgyarbrough

Updates to close to final ssvc-explorer
  docs/ssvc-explorer/findex.html
  docs/ssvc-explorer/simple.js
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Update JSON to be friendly
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Updates to SSVC-Calculator
  docs/ssvc-calc/findex.html
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli, @ahouseholder

add reference docs for SSVC and CVSS collections decision point groups.
  docs/reference/code/decision_point_groups.md
  mkdocs.yml
  src/ssvc/dp_groups/cvss/collections.py
  src/ssvc/dp_groups/ssvc/collections.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

links to Policy Explorer
  docs/tutorials/index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

change "policy" to "decision table" in relevant docs
  docs/howto/bootstrap/_steps_table.md
  docs/howto/bootstrap/prepare.md
  docs/howto/bootstrap/summary.md
  docs/howto/bootstrap/use.md
  docs/howto/coordination_triage_decision.md
  docs/howto/cvss_v4/eq1.md
  docs/howto/cvss_v4/eq2.md
  docs/howto/cvss_v4/eq3.md
  docs/howto/cvss_v4/eq4.md
  docs/howto/cvss_v4/eq5.md
  docs/howto/cvss_v4/eq6.md
  docs/howto/cvss_v4/qualitative.md
  docs/howto/deployer_tree.md
  docs/howto/publication_decision.md
  docs/howto/supplier_tree.md
  docs/reference/code/policy_generator.md
  docs/ssvc_overview.md
  docs/topics/decision_points_as_bricks.md
  docs/topics/enumerating_decisions.md
  docs/topics/enumerating_stakeholders.md
  docs/topics/index.md
  docs/tutorials/index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Updates to Delete DP in DT
  docs/ssvc-calc/findex.html
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli, @ahouseholder

Version number update
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Handle when version numbers are not present
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

catch pyproject.toml up to main
  requirements.txt
  src/pyproject.toml
  src/uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Update CVE items to be unique and update tests see #905
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
  src/test/test_selections.py
Owners: @sei-vsarvepalli, @ahouseholder

Export JSON cmostly done
  docs/ssvc-calc/findex.html
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli, @ahouseholder

add 'invalid' and `x_invalid` to the registered namespaces
  src/ssvc/namespaces.py
Owners: @ahouseholder

'x_invalid' fails namespace pattern match (no fragment). Add shortcut to validator to skip pattern matching on explicitly registered namespaces.
  src/ssvc/namespaces.py
Owners: @ahouseholder

Fix bug of ordered Outcomes
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Fix bug of ordered v1.0.10
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Exporter for Calculator
  docs/ssvc-calc/findex.html
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli, @ahouseholder

checkbox outcome not disabled
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli

avoid mounting volume containing .venv in docker containers, it's causing weird .venv interactions with host system in dev
  docker/docker-compose.yml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

mark `ssvc.dp_groups.base` as deprecated
  data/schema/v2/Decision_Point_Group-2-0-0.schema.json
  docs/reference/code/decision_point_groups.md
  src/ssvc/dp_groups/base.py
Owners: @sei-vsarvepalli, @ahouseholder, @cgyarbrough, @j---

fix namespace ABNF and resulting pattern
  src/ssvc/utils/patterns.py
  src/ssvc/utils/ssvc_namespace_pattern.abnf
Owners: @ahouseholder, @sei-vsarvepalli

fix JSON schema pattern for namespace
  data/schema/v2/Decision_Point-2-0-0.schema.json
  data/schema/v2/Decision_Point_Group-2-0-0.schema.json
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  data/schema/v2/Decision_Table-2-0-0.schema.json
  data/schema/v2/Ssvc_Object_Registry-2-0-0.schema.json
  src/ssvc/utils/patterns.py
Owners: @sei-vsarvepalli, @ahouseholder

improve json schema pattern
  src/ssvc/utils/patterns.py
  src/test/test_selections.py
Owners: @ahouseholder

relocate obsolete stuff
  issues/892.md
  obsolete/SSVC_csv-to-latex.py
  obsolete/enumerate-coord-publish-options.sh
  obsolete/enumerate-coord-triage-options.sh
  obsolete/enumerate-deployer-options.sh
  obsolete/enumerate-supplier-options.sh
  obsolete/ssvc_v2.py
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

add readme to explain this dir
  obsolete/README.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Added filtering via Outcome
  docs/ssvc-calc/ssvc.js
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

add ssvc_doctools as script
  src/pyproject.toml
Owners: @ahouseholder, @sei-vsarvepalli

ignore $project/tmp
  .gitignore
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

add csv dumper to doctools.py
  Makefile
  data/csv/cisa/cisa_coordinator_2_0_3.csv
  data/csv/cvss/cvss_v4_0_qualitative_severity_ratings_4_0_0.csv
  data/csv/cvss/cvss_v4_equivalence_set_1_1_0_0.csv
  data/csv/cvss/cvss_v4_equivalence_set_2_1_0_0.csv
  data/csv/cvss/cvss_v4_equivalence_set_3_1_0_0.csv
  data/csv/cvss/cvss_v4_equivalence_set_4_1_0_0.csv
  data/csv/cvss/cvss_v4_equivalence_set_5_1_0_0.csv
  data/csv/cvss/cvss_v4_equivalence_set_6_1_0_0.csv
  data/csv/ssvc/coordinator_publish_decision_table_1_0_0.csv
  data/csv/ssvc/coordinator_triage_1_0_0.csv
  data/csv/ssvc/deployer_patch_application_priority_1_0_0.csv
  data/csv/ssvc/human_impact_1_0_0.csv
  data/csv/ssvc/public_safety_impact_1_0_0.csv
  data/csv/ssvc/supplier_patch_development_priority_1_0_0.csv
  data/csv/ssvc/utility_1_0_0.csv
  data/csvs
  data/csvs/README
  data/csvs/child_trees/human-impact.csv
  data/csvs/child_trees/mission-and-well-being.csv
  data/csvs/child_trees/utility.csv
  data/csvs/coord-publish-options.csv
  data/csvs/coord-triage-options.csv
  data/csvs/deployer-options.csv
  data/csvs/mapped_trees/public-safety-impact.csv
  data/csvs/supplier-options.csv
  src/ssvc/doctools.py
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

update readme
  README.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

this `main` method was useful originally for development, but it's become broken as the object has evolved. So I'm just taking it out lest it lead others astray in troubleshooting.
  src/ssvc/decision_tables/base.py
Owners: @ahouseholder

Updates to deprecate more main() methods
  src/ssvc/decision_points/base.py
  src/ssvc/selection.py
Owners: @ahouseholder

Move from description to definition
  docs/ssvc-calc/ssvc.js
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Updates to HTML files for description to definition
  docs/ssvc-explorer/findex.html
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

add decision points to cover probability ranges and quantiles
  data/json/decision_points/basic/cis_cti_words_of_estimative_probability_1_0_0.json
  data/json/decision_points/basic/median_split_1_0_0.json
  data/json/decision_points/basic/probability_scale_in_2_equal_levels_ascending_1_0_0.json
  data/json/decision_points/basic/probability_scale_in_5_equal_levels_ascending_1_0_0.json
  data/json/decision_points/basic/probability_scale_in_5_weighted_levels_ascending_1_0_0.json
  data/json/decision_points/basic/quartiles_1_0_0.json
  data/json/decision_points/basic/quintiles_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_points/basic/__init__.py
  src/ssvc/decision_points/basic/base.py
  src/ssvc/decision_points/basic/probability/__init__.py
  src/ssvc/decision_points/basic/probability/cis_wep.py
  src/ssvc/decision_points/basic/probability/five_equal.py
  src/ssvc/decision_points/basic/probability/five_weighted.py
  src/ssvc/decision_points/basic/probability/nist5.py
  src/ssvc/decision_points/basic/probability/two_equal.py
  src/ssvc/decision_points/basic/quantiles/__init__.py
  src/ssvc/decision_points/basic/quantiles/median.py
  src/ssvc/decision_points/basic/quantiles/quartiles.py
  src/ssvc/decision_points/basic/quantiles/quintiles.py
Owners: @sei-vsarvepalli, @ahouseholder

add "near boundary" decision point
  src/ssvc/api/response_models/__init__.py
  src/ssvc/api/routers/namespaces.py
  src/ssvc/decision_points/base.py
  src/ssvc/decision_points/basic/__init__.py
  src/ssvc/decision_points/basic/base.py
  src/ssvc/decision_points/basic/near_boundary.py
  src/ssvc/decision_points/basic/probability/__init__.py
  src/ssvc/decision_points/basic/probability/cis_wep.py
  src/ssvc/decision_points/basic/probability/five_equal.py
  src/ssvc/decision_points/basic/probability/five_weighted.py
  src/ssvc/decision_points/basic/probability/nist5.py
  src/ssvc/decision_points/basic/probability/two_equal.py
  src/ssvc/decision_points/basic/quantiles/__init__.py
  src/ssvc/decision_points/basic/quantiles/median.py
  src/ssvc/decision_points/basic/quantiles/quartiles.py
  src/ssvc/selection.py
  src/test/api/response_models/__init__.py
Owners: @ahouseholder

add "near boundary" decision point
  data/json/decision_points/basic/boundary_proximity_1_0_0.json
  data/json/ssvc_object_registry.json
Owners: @sei-vsarvepalli, @ahouseholder

reverse extraneous changes
  src/ssvc/api/response_models/__init__.py
  src/ssvc/api/routers/namespaces.py
  src/ssvc/selection.py
  src/test/api/response_models/__init__.py
Owners: @ahouseholder

add "just below" and "just above" to "near boundary"
  data/json/decision_points/basic/boundary_proximity_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_points/basic/near_boundary.py
  src/ssvc/decision_points/basic/probability/five_equal.py
  src/ssvc/decision_points/basic/probability/five_weighted.py
  src/ssvc/decision_points/basic/probability/nist5.py
  src/ssvc/decision_points/basic/probability/two_equal.py
Owners: @sei-vsarvepalli, @ahouseholder
