Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

Update test_schema.py
  src/test/test_schema.py
Owners: @ahouseholder

update workflows for uv
  .github/workflows/deploy_site.yml
  .github/workflows/link_checker.yml
  .github/workflows/python-app.yml
Owners: @ahouseholder, @sei-vsarvepalli

update workflows for uv
  .github/workflows/deploy_site.yml
Owners: @ahouseholder, @sei-vsarvepalli

Update deploy_site.yml
  .github/workflows/deploy_site.yml
Owners: @ahouseholder, @sei-vsarvepalli

Update deploy_site.yml
  .github/workflows/deploy_site.yml
Owners: @ahouseholder, @sei-vsarvepalli

fix soft links
  data/schema/current/Decision_Point.schema.json
  data/schema/current/Decision_Point_Value_Selection.schema.json
  data/schema/current/Decision_Table.schema.json
Owners: @sei-vsarvepalli

add a few explanatory question callouts in epss howtos
  docs/howto/using_epss/epss_percentiles.md
  docs/howto/using_epss/epss_probability.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

fix soft links
  data/schema/v2/Decision_Point-2-0-0.schema.json
  data/schema/v2/Decision_Point_Group-2-0-0.schema.json
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  data/schema/v2/Decision_Table-2-0-0.schema.json
  data/schema/v2/Ssvc_Object_Registry-2-0-0.schema.json
Owners: @sei-vsarvepalli

add readme to explain softlinks in data/schema/v2 dir
  data/schema/v2/README.md
Owners: @sei-vsarvepalli

Added new files to send to pypi
  src/README.md
  src/pyproject.toml
  src/requirements.txt
  src/requirements2.txt
  src/ssvc/decision_points/example/humidity.py
  src/ssvc/decision_points/example/weather.py
  src/ssvc/decision_tables/example/to_play.py
Owners: @ahouseholder, @sei-vsarvepalli

Added new files to send to pypi
  src/requirements2.txt
Owners: @ahouseholder, @sei-vsarvepalli

Updated requirements back
  requirements.txt
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

PyPI Project
  src/README.md
  src/ssvc/decision_points/example/humidity.py
  src/ssvc/decision_points/example/weather.py
  src/ssvc/decision_tables/example/to_play.py
Owners: @ahouseholder, @sei-vsarvepalli

Adjust README.md
  src/README.md
Owners: @ahouseholder, @sei-vsarvepalli

Update requirements.txt from uv
  src/requirements.txt
Owners: @ahouseholder, @sei-vsarvepalli

Remove local dev plus flag for pypi
  src/pyproject.toml
Owners: @ahouseholder, @sei-vsarvepalli

updated README.md
  src/README.md
Owners: @ahouseholder, @sei-vsarvepalli

Updates to pyproject.toml
  src/pyproject.toml
Owners: @ahouseholder, @sei-vsarvepalli

Updates to src/README.md
  src/README.md
Owners: @ahouseholder, @sei-vsarvepalli

Updated removal of deprecate warnings
  src/pyproject.toml
Owners: @ahouseholder, @sei-vsarvepalli

Update pyproject to remove relative deprecated comment
  src/pyproject.toml
Owners: @ahouseholder, @sei-vsarvepalli

Another Update to pyproject
  src/pyproject.toml
Owners: @ahouseholder, @sei-vsarvepalli

Updates to README.md simplified
  src/README.md
Owners: @ahouseholder, @sei-vsarvepalli

Remove extranous requirements.txt
  src/requirements.txt
Owners: @ahouseholder, @sei-vsarvepalli

Updated files to send to pypi project format with examples
  src/README.md
  src/pyproject.toml
  src/ssvc/decision_points/example/humidity.py
  src/ssvc/decision_points/example/weather.py
  src/ssvc/decision_tables/example/to_play.py
Owners: @ahouseholder, @sei-vsarvepalli

Testing with uv.lock updated
  src/uv.lock
Owners: @ahouseholder, @sei-vsarvepalli

Updates to add ascii art to trees method
  src/README.md
  src/ssvc/decision_tables/base.py
Owners: @ahouseholder, @sei-vsarvepalli

prefix all api routes with `/v1/` to allow future increments
  src/ssvc/api/main.py
  src/ssvc/api/routers/v1_router.py
Owners: @ahouseholder

update docstring
  src/ssvc/api/routers/v1_router.py
Owners: @ahouseholder

refactor api modules into v1 package
  src/ssvc/api/main.py
  src/ssvc/api/v1/__init__.py
  src/ssvc/api/v1/response_models/__init__.py
  src/ssvc/api/v1/response_models/_type_defs.py
  src/ssvc/api/v1/routers/__init__.py
  src/ssvc/api/v1/routers/decision_point.py
  src/ssvc/api/v1/routers/decision_points.py
  src/ssvc/api/v1/routers/decision_table.py
  src/ssvc/api/v1/routers/decision_tables.py
  src/ssvc/api/v1/routers/keys.py
  src/ssvc/api/v1/routers/namespaces.py
  src/ssvc/api/v1/routers/objects.py
  src/ssvc/api/v1/routers/types.py
  src/ssvc/api/v1/routers/v1_router.py
  src/ssvc/api/v1/routers/versions.py
  src/test/api/routers/test_decision_point.py
  src/test/api/routers/test_decision_points.py
  src/test/api/routers/test_decision_table.py
  src/test/api/routers/test_decision_tables.py
  src/test/api/routers/test_keys.py
  src/test/api/routers/test_namespaces.py
  src/test/api/routers/test_objects.py
  src/test/api/routers/test_types.py
  src/test/api/routers/test_versions.py
Owners: @ahouseholder

add safety v2.0.1 with updated definitions that do not include HTML
  src/ssvc/decision_points/ssvc/safety_impact.py
Owners: @ahouseholder

update decision tables to use SI v2.0.1
  src/ssvc/decision_tables/ssvc/human_impact.py
  src/ssvc/decision_tables/ssvc/public_safety_impact.py
Owners: @ahouseholder

update json and csv examples
  data/csv/ssvc/human_impact_1_0_0.csv
  data/csv/ssvc/public_safety_impact_1_0_0.csv
  data/json/decision_points/ssvc/safety_impact_2_0_1.json
  data/json/decision_tables/ssvc/human_impact_1_0_0.json
  data/json/decision_tables/ssvc/public_safety_impact_1_0_0.json
  data/json/ssvc_object_registry.json
Owners: @sei-vsarvepalli, @ahouseholder

Make value key its own column when rendering decision point examples in markdown tables
  src/ssvc/doc_helpers.py
Owners: @ahouseholder

fix tests
  src/test/test_doc_helpers.py
Owners: @ahouseholder

draft ADR for SSVC project versioning
  docs/adr/0013-ssvc-project-versions.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

tighten up the project versioning ADR
  docs/adr/0013-ssvc-project-versions.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add PyPI note
  docs/adr/0013-ssvc-project-versions.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add calver adr to index.md
  docs/adr/index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

fix link
  docs/adr/0013-ssvc-project-versions.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli
