Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli

Updates to native Javascript
  docs/ssvc-explorer/index.md
  docs/ssvc-explorer/simple.js
  mkdocs.yml
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Working JavaScript native
  docs/ssvc-explorer/index.md
  docs/ssvc-explorer/simple.js
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Always get data from github registry file
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Updates to nicer tables #966
  docs/howto/coordination_triage_decision.md
  docs/howto/cvss_v4/eq1.md
  docs/howto/cvss_v4/eq2.md
  docs/howto/cvss_v4/eq3.md
  docs/howto/cvss_v4/eq4.md
  docs/howto/cvss_v4/eq5.md
  docs/howto/cvss_v4/eq6.md
  docs/howto/cvss_v4/qualitative.md
  docs/howto/deployer_tree.md
  docs/howto/publication_decision.md
  docs/howto/supplier_tree.md
  docs/howto/using_epss/epss_percentiles.md
  docs/howto/using_epss/epss_probability.md
  src/ssvc/decision_tables/helpers.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Cleanup rowspan continue to break
  docs/howto/deployer_tree.md
  docs/howto/supplier_tree.md
  src/ssvc/decision_tables/helpers.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

we don't need NS_PATTERN as a compiled regex, we can just use NS_PATTERN_STR everywhere to make life easier
  src/ssvc/namespaces.py
  src/ssvc/utils/field_specs.py
  src/ssvc/utils/patterns.py
  src/test/test_namespaces.py
  src/test/test_namespaces_pattern.py
  src/test/test_selections.py
Owners: @ahouseholder

remove duplicate copyright
  src/ssvc/namespaces.py
Owners: @ahouseholder

Move pyproject.toml to root level dir
  .github/workflows/deploy_site.yml
  .github/workflows/link_checker.yml
  .github/workflows/python-app.yml
  pyproject.toml
  requirements.txt
  uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Fix python build
  .github/workflows/python-app.yml
Owners: @ahouseholder, @sei-vsarvepalli

Adjust Dockerfile for relocated pyproject.toml and uv.lock. I am not convinced that this works.
  docker/Dockerfile
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Updates to namespace regex with removal escaping hash
  data/schema/v2/DecisionPointGroup_2_0_0.schema.json
  data/schema/v2/DecisionPoint_2_0_0.schema.json
  data/schema/v2/DecisionTable_2_0_0.schema.json
  data/schema/v2/SelectionList_2_0_0.schema.json
  data/schema/v2/SsvcObjectRegistry_2_0_0.schema.json
  src/ssvc/utils/patterns.py
Owners: @sei-vsarvepalli, @ahouseholder

Updates to native JS
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Policy Explorer => SSVC Explorer
  docs/ssvc-explorer/index.md
  docs/tutorials/starting_points.md
  mkdocs.yml
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Remove spaces trailing spaces
  docs/ssvc-explorer/index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

fix src/ssvc/utils/patterns.py regexp
  data/schema/v2/DecisionPointGroup_2_0_0.schema.json
  data/schema/v2/DecisionPoint_2_0_0.schema.json
  data/schema/v2/DecisionTable_2_0_0.schema.json
  data/schema/v2/SelectionList_2_0_0.schema.json
  data/schema/v2/SsvcObjectRegistry_2_0_0.schema.json
  src/ssvc/utils/patterns.py
Owners: @sei-vsarvepalli, @ahouseholder

Change package ecosystem from 'pip' to 'uv'
  .github/dependabot.yml
Owners: @ahouseholder, @sei-vsarvepalli

Update Dependabot configuration for directories
  .github/dependabot.yml
Owners: @ahouseholder, @sei-vsarvepalli

use >= in pyproject.toml not ==
  requirements.txt
  src/pyproject.toml
  src/uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

bump mkdocs-include-markdown-plugin version to 7.1.8
  requirements.txt
  src/pyproject.toml
  src/uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

replace it all with a link to GH release notes
  docs/about/changelog.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Co-pilot suggestion false() to false
  docs/ssvc-explorer/index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

refactor to include mkdocs latst and more Policy to remove
  mkdocs.yml
Owners: @ahouseholder

Add words to admon box
  docs/about/changelog.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Remove the word 'policy' from policy explorer
  docs/ssvc-explorer/findex.html
  docs/ssvc-explorer/index.md
  mkdocs.yml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

Extend methods to generate Selection Schema for CVE and other projects
  src/ssvc/selection.py
Owners: @ahouseholder

Added mode="json" for reliable super model
  src/ssvc/selection.py
Owners: @ahouseholder

Revert mode=json and add timezone checks
  src/ssvc/selection.py
Owners: @ahouseholder

Updated README.md for pypi project
  src/README.md
Owners: @ahouseholder, @sei-vsarvepalli

Updated to add tests and simplified model_dumpers
  src/ssvc/selection.py
  src/test/test_selections.py
Owners: @ahouseholder

add examples to api
  src/ssvc/api/v1/routers/examples.py
  src/ssvc/api/v1/routers/v1_router.py
  src/ssvc/examples.py
Owners: @ahouseholder

add EXAMPLE_MINIMAL_DECISION_POINT_VALUE to examples
  src/ssvc/api/v1/routers/examples.py
  src/ssvc/examples.py
Owners: @ahouseholder

add test for examples in app
  src/test/api/test_main.py
Owners: @ahouseholder

add endpoint to retrieve sample references and corresponding tests
  src/ssvc/api/v1/routers/examples.py
  src/test/api/routers/test_examples.py
Owners: @ahouseholder

mark test_get_selection_lists as expected failure and add TODO for POST tests
  src/test/api/routers/test_examples.py
Owners: @ahouseholder

add POST endpoint to validate Reference and corresponding tests
  src/ssvc/api/v1/routers/examples.py
  src/test/api/routers/test_examples.py
Owners: @ahouseholder

remove debug print statement from data cleanup function
  src/ssvc/selection.py
Owners: @ahouseholder

Removed debug print statement
  src/ssvc/selection.py
Owners: @ahouseholder

add tests for SelectionList to validate empty lists and model dumping behavior
  src/ssvc/selection.py
  src/test/test_selections.py
Owners: @ahouseholder

refactor examples and tests for clarity and structure
  src/ssvc/examples.py
  src/test/api/routers/test_examples.py
Owners: @ahouseholder

add model validators to handle default summary and remove falsy fields
  src/ssvc/selection.py
  src/test/test_selections.py
Owners: @ahouseholder
