Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

add lookup by id string
  src/ssvc/api.py
Owners: @ahouseholder

move api.py to ssvc.api package
  Makefile
  docker/Dockerfile
  src/ssvc/api/__init__.py
  src/ssvc/api/main.py
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Removed old namespace test and link to abnf file in data folder
  data/abnf/ssvc_namespace_pattern.abnf
  docs/reference/code/namespaces.md
  src/test/test_mixins.py
Owners: @sei-vsarvepalli, @ahouseholder, @cgyarbrough, @j---

refactor api into routers
  src/ssvc/api/helpers.py
  src/ssvc/api/main.py
  src/ssvc/api/routers/__init__.py
  src/ssvc/api/routers/decision_point.py
  src/ssvc/api/routers/decision_points.py
  src/ssvc/api/routers/decision_table.py
  src/ssvc/api/routers/decision_tables.py
Owners: @ahouseholder

cleanup
  src/ssvc/api/main.py
  src/ssvc/api/routers/decision_points.py
  src/ssvc/api/routers/decision_tables.py
Owners: @ahouseholder

Distinguish resource from references in Selections #833
  src/ssvc/selection.py
Owners: @ahouseholder

Updated tests and selections schema
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/test/test_selections.py
Owners: @sei-vsarvepalli, @ahouseholder

since we decided to make `test` an officially registered namespace, we don't need the `x_example.test#test` namespace in our test cases anymore.
  src/test/decision_points/test_dp_base.py
  src/test/decision_points/test_dp_helpers.py
  src/test/decision_tables/test_base.py
  src/test/dp_groups/test_dp_groups.py
  src/test/outcomes/test_outcomes.py
  src/test/registry/test_base.py
  src/test/test_doc_helpers.py
  src/test/test_policy_generator.py
  src/test/test_selections.py
  src/test/utils/test_toposort.py
Owners: @ahouseholder

add namespaces router
  src/ssvc/api/main.py
  src/ssvc/api/routers/namespaces.py
Owners: @ahouseholder

update registered objects
  data/json/decision_points/x_com_yahooinc_prioritized_risk_remediation/theparanoids_1_0_0.json
  data/json/ssvc_object_registry.json
  data/schema/v2/Decision_Point-2-0-0.schema.json
  data/schema/v2/Decision_Point_Group-2-0-0.schema.json
  data/schema/v2/Decision_Table-2-0-0.schema.json
  data/schema/v2/Ssvc_Object_Registry-2-0-0.schema.json
Owners: @sei-vsarvepalli, @ahouseholder

move another route to namespaces router
  src/ssvc/api/main.py
  src/ssvc/api/routers/namespaces.py
Owners: @ahouseholder

add keys router
  src/ssvc/api/main.py
  src/ssvc/api/routers/keys.py
  src/ssvc/api/routers/types.py
Owners: @ahouseholder

add versions router, refactor types and response models
  src/ssvc/api/main.py
  src/ssvc/api/response_models/__init__.py
  src/ssvc/api/routers/decision_points.py
  src/ssvc/api/routers/decision_tables.py
  src/ssvc/api/routers/keys.py
  src/ssvc/api/routers/namespaces.py
  src/ssvc/api/routers/types.py
  src/ssvc/api/routers/versions.py
  src/ssvc/utils/api_helpers.py
Owners: @ahouseholder

refactoring
  src/ssvc/api/response_models/__init__.py
  src/ssvc/api/response_models/_type_defs.py
  src/ssvc/api/routers/versions.py
Owners: @ahouseholder

add objects router, add summaries and descriptions, use `async def`
  src/ssvc/api/main.py
  src/ssvc/api/routers/keys.py
  src/ssvc/api/routers/namespaces.py
  src/ssvc/api/routers/objects.py
  src/ssvc/api/routers/types.py
  src/ssvc/api/routers/versions.py
Owners: @ahouseholder

improve type defs
  src/ssvc/api/response_models/__init__.py
  src/ssvc/api/response_models/_type_defs.py
  src/ssvc/api/routers/decision_points.py
  src/ssvc/api/routers/decision_tables.py
Owners: @ahouseholder

validate expected dictionary keys
  src/ssvc/api/response_models/__init__.py
Owners: @ahouseholder

add decision_points/namespace/key/latest/values route
  src/ssvc/api/response_models/__init__.py
  src/ssvc/api/response_models/_type_defs.py
  src/ssvc/api/routers/decision_points.py
Owners: @ahouseholder

reorganize type defs
  src/ssvc/api/response_models/_type_defs.py
Owners: @ahouseholder

add TypesDictType definition and update descriptions for clarity
  src/ssvc/api/response_models/_type_defs.py
  src/ssvc/api/routers/keys.py
  src/ssvc/api/routers/namespaces.py
  src/ssvc/api/routers/types.py
  src/ssvc/api/routers/versions.py
Owners: @ahouseholder

add TypesDictResponse model and update response handling for object types
  src/ssvc/api/main.py
  src/ssvc/api/response_models/__init__.py
  src/ssvc/api/routers/types.py
Owners: @ahouseholder

Updates to SSVC-Explorer
  docs/ssvc-explorer/findex.html
  docs/ssvc-explorer/simple.js
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Added custom tree builder code
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Updates for Custom Decision Tress
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Clean up code
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

fix import path for _404_on_none helper in test_helpers.py
  src/test/api/test_helpers.py
Owners: @ahouseholder

add documentation for Decision Point and Decision Table objects
  docs/reference/code/decision_points.md
  docs/reference/code/decision_tables.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add documentation for Human Impact and update navigation in mkdocs
  docs/reference/code/index.md
  docs/reference/decision_points/human_impact.md
  mkdocs.yml
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add Dockerfile and docker-compose updates for improved environment setup
  docker/Dockerfile
  docker/docker-compose.yml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

add SSVC Docker Containers documentation and update mkdocs.yml
  docs/howto/tools/containers.md
  mkdocs.yml
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add Public Safety Impact decision table, documentation, and related JSON object
  data/json/decision_tables/ssvc/public_safety_impact_1_0_0.json
  data/json/ssvc_object_registry.json
  docs/reference/decision_points/public_safety_impact.md
  src/ssvc/decision_tables/ssvc/public_safety_impact.py
Owners: @sei-vsarvepalli, @ahouseholder, @cgyarbrough, @j---

add code examples and fix filename for utility documentation
  docs/reference/decision_points/utility.md
  src/ssvc/decision_tables/ssvc/utility.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add subgraph structure for inputs and outputs in diagram generation
  src/ssvc/decision_tables/helpers.py
Owners: @ahouseholder

Update to support Chrome browser
  docs/ssvc-explorer/findex.html
  docs/ssvc-explorer/simple.js
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Update to remove DIV instead of hide DIV
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Updated with enumerator code for outcomes
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Add discussion on 'scope' concept in Selection Schema
  issues/892.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Custom-SSVC changes to localStorage
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Uniq Key to have prefix
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Completed CSV uploader
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli
