Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli

wording
  docs/howto/ssvc-human-scale-bottleneck.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add diagram and links to other pages
  docs/howto/ssvc-human-scale-bottleneck.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

refine diagram
  docs/howto/ssvc-human-scale-bottleneck.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

this fixes the griffe dependency mismatch that causes build errors
  pyproject.toml
  uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

it builds
  pyproject.toml
  uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Revert #1067, apply #1065: move abnf-to-regexp to dev dep with static namespace_patterns.py
  Makefile
  docker/Dockerfile
  pyproject.toml
  src/ssvc/utils/namespace_patterns.py
  src/ssvc/utils/patterns.py
  uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

format with black
  src/ssvc/utils/patterns.py
Owners: @ahouseholder

Modify copilot's work and markdownlint
  docs/adr/0014-use-decision-table-terminology.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Move abnf-to-regexp to codegen group; add --no-sync to uv run CMDs
  Makefile
  docker/Dockerfile
  pyproject.toml
  uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Apply suggestion from @Copilot
  src/ssvc/utils/patterns.py
Owners: @ahouseholder

revise ssvc-human-scale-bottleneck.md
  docs/howto/ssvc-human-scale-bottleneck.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Address unresolved reviewer comments on PR #1087
  docs/topics/ssvc-human-scale-bottleneck.md
  mkdocs.yml
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Add human-on-the-loop terminology to intro and conclusion
  docs/topics/ssvc-human-scale-bottleneck.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Refine terminology and formatting in ssvc-human-scale-bottleneck.md
  docs/topics/ssvc-human-scale-bottleneck.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Edits for clarity
  docs/adr/0014-use-decision-table-terminology.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Apply suggestions from code review
  docs/adr/0014-use-decision-table-terminology.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Add admonition box
  docs/topics/decision_trees.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Change footnote cite to hyperlink
  docs/topics/decision_trees.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Make admonition box an includable
  docs/_includes/ADR0014.md
  docs/topics/decision_trees.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

handle 991 as well
  docs/topics/formalization_options.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

fix brokenlink
  docs/_includes/ADR0014.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Update docs/topics/decision_trees.md
  docs/topics/decision_trees.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

really fix the link
  docs/_includes/ADR0014.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

rebase
  docs/_includes/ADR0014.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Address reviewer comments on #1101
  COPYRIGHT-code.txt
  Makefile
  src/ssvc/utils/namespace_patterns.py
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Apply suggestions from code review
  docs/topics/decision_trees.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Address reviewer feedback on ssvc-human-scale-bottleneck doc
  docs/topics/ssvc-human-scale-bottleneck.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Add ADR-0015: SSVC JSON schemas use SchemaVer for versioning
  docs/adr/0015-ssvc-json-schemas-use-schemaver.md
  docs/adr/index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Change deciders' names
  docs/adr/0015-ssvc-json-schemas-use-schemaver.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Update 0015-ssvc-json-schemas-use-schemaver.md
  docs/adr/0015-ssvc-json-schemas-use-schemaver.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Update 0015-ssvc-json-schemas-use-schemaver.md
  docs/adr/0015-ssvc-json-schemas-use-schemaver.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Update 0015-ssvc-json-schemas-use-schemaver.md
  docs/adr/0015-ssvc-json-schemas-use-schemaver.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Fix pygments 2.20.0 compatibility by upgrading pymdown-extensions to >=10.21.2
  pyproject.toml
  uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Add /wip_notes/ to .gitignore
  .gitignore
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Add spec registry and linter for structured YAML requirements
  .pre-commit-config.yaml
  pyproject.toml
  specs/spec-registry.yaml
  src/ssvc/metadata/__init__.py
  src/ssvc/metadata/base.py
  src/ssvc/metadata/specs/__init__.py
  src/ssvc/metadata/specs/lint.py
  src/ssvc/metadata/specs/llm_export.py
  src/ssvc/metadata/specs/registry.py
  src/ssvc/metadata/specs/render.py
  src/ssvc/metadata/specs/schema.py
  src/test/metadata/__init__.py
  src/test/metadata/specs/__init__.py
  src/test/metadata/specs/conftest.py
  src/test/metadata/specs/test_lint.py
  src/test/metadata/specs/test_schema.py
  uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Remove unnecessary blank lines in multiple files
  src/ssvc/metadata/base.py
  src/ssvc/metadata/specs/__init__.py
  src/ssvc/metadata/specs/lint.py
  src/ssvc/metadata/specs/llm_export.py
  src/ssvc/metadata/specs/registry.py
  src/ssvc/metadata/specs/render.py
  src/ssvc/metadata/specs/schema.py
  src/test/metadata/specs/conftest.py
  src/test/metadata/specs/test_lint.py
  src/test/metadata/specs/test_schema.py
Owners: @ahouseholder

specs: expand and refine requirement specifications
  specs/README.md
  specs/api.yaml
  specs/ci.yaml
  specs/codegen.yaml
  specs/domain-model.yaml
  specs/registry.yaml
  specs/spec-registry.yaml
  specs/testing.yaml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

fix: set setuptools packages.find where=["src"] so ssvc is importable
  pyproject.toml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

feat: add load-specs agent skill
  .agents/skills/load-specs/SKILL.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Add versioning/namespace specs and notes from ADR gap analysis
  notes/namespaces.md
  notes/terminology.md
  notes/versioning-rules.md
  specs/README.md
  specs/codegen.yaml
  specs/domain-model.yaml
  specs/namespaces.yaml
  specs/versioning.yaml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough
