Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

add consistent VERSIONS and LATEST to decision point modules
  src/ssvc/decision_points/automatable.py
  src/ssvc/decision_points/critical_software.py
  src/ssvc/decision_points/exploitation.py
  src/ssvc/decision_points/helpers.py
  src/ssvc/decision_points/high_value_asset.py
  src/ssvc/decision_points/human_impact.py
  src/ssvc/decision_points/in_kev.py
  src/ssvc/decision_points/mission_impact.py
  src/ssvc/decision_points/mission_prevalence.py
  src/ssvc/decision_points/public_safety_impact.py
  src/ssvc/decision_points/public_value_added.py
  src/ssvc/decision_points/report_credibility.py
  src/ssvc/decision_points/report_public.py
  src/ssvc/decision_points/safety_impact.py
  src/ssvc/decision_points/supplier_cardinality.py
  src/ssvc/decision_points/supplier_contacted.py
  src/ssvc/decision_points/supplier_engagement.py
  src/ssvc/decision_points/supplier_involvement.py
  src/ssvc/decision_points/system_exposure.py
  src/ssvc/decision_points/technical_impact.py
  src/ssvc/decision_points/utility.py
  src/ssvc/decision_points/value_density.py
Owners: @ahouseholder

use inline python to generate examples
  docs/reference/decision_points/automatable.md
  docs/reference/decision_points/exploitation.md
  docs/reference/decision_points/human_impact.md
  docs/reference/decision_points/mission_impact.md
  docs/reference/decision_points/public_safety_impact.md
  docs/reference/decision_points/public_value_added.md
  docs/reference/decision_points/report_credibility.md
  docs/reference/decision_points/report_public.md
  docs/reference/decision_points/safety_impact.md
  docs/reference/decision_points/supplier_cardinality.md
  docs/reference/decision_points/supplier_contacted.md
  docs/reference/decision_points/supplier_engagement.md
  docs/reference/decision_points/supplier_involvement.md
  docs/reference/decision_points/system_exposure.md
  docs/reference/decision_points/technical_impact.md
  docs/reference/decision_points/utility.md
  docs/reference/decision_points/value_density.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

replace markdown includes with inline python
  docs/howto/acuity_ramp.md
  docs/howto/bootstrap/use.md
  docs/howto/coordination_triage_decision.md
  docs/howto/deployer_tree.md
  docs/howto/publication_decision.md
  docs/howto/supplier_tree.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

regenerate some json examples based on recent changes to python
  data/json/decision_points/mission_impact_1_0_0.json
  data/json/decision_points/mission_impact_2_0_0.json
  data/json/decision_points/safety_impact_1_0_0.json
  data/json/decision_points/safety_impact_2_0_0.json
  data/json/decision_points/supplier_engagement_1_0_0.json
  data/json/decision_points/supplier_involvement_1_0_0.json
  data/json/decision_points/system_exposure_1_0_0.json
  data/json/decision_points/system_exposure_1_0_1.json
  data/json/decision_points/value_density_1_0_0.json
Owners: @sei-vsarvepalli, @ahouseholder

update doctools.py to only generate the .json example files
  src/ssvc/doctools.py
Owners: @ahouseholder

make cvss decision points consistent with VERSIONS and LATEST names
  src/cvss_to_json.py
  src/ssvc/decision_points/cvss/attack_complexity.py
  src/ssvc/decision_points/cvss/attack_requirements.py
  src/ssvc/decision_points/cvss/attack_vector.py
  src/ssvc/decision_points/cvss/authentication.py
  src/ssvc/decision_points/cvss/availability_impact.py
  src/ssvc/decision_points/cvss/availability_requirement.py
  src/ssvc/decision_points/cvss/collateral_damage_potential.py
  src/ssvc/decision_points/cvss/confidentiality_impact.py
  src/ssvc/decision_points/cvss/confidentiality_requirement.py
  src/ssvc/decision_points/cvss/exploitability.py
  src/ssvc/decision_points/cvss/impact_bias.py
  src/ssvc/decision_points/cvss/integrity_impact.py
  src/ssvc/decision_points/cvss/integrity_requirement.py
  src/ssvc/decision_points/cvss/privileges_required.py
  src/ssvc/decision_points/cvss/remediation_level.py
  src/ssvc/decision_points/cvss/report_confidence.py
  src/ssvc/decision_points/cvss/scope.py
  src/ssvc/decision_points/cvss/subsequent_availability_impact.py
  src/ssvc/decision_points/cvss/subsequent_confidentiality_impact.py
  src/ssvc/decision_points/cvss/subsequent_integrity_impact.py
  src/ssvc/decision_points/cvss/supplemental/automatable.py
  src/ssvc/decision_points/cvss/supplemental/provider_urgency.py
  src/ssvc/decision_points/cvss/supplemental/recovery.py
  src/ssvc/decision_points/cvss/supplemental/safety.py
  src/ssvc/decision_points/cvss/supplemental/value_density.py
  src/ssvc/decision_points/cvss/supplemental/vulnerability_response_effort.py
  src/ssvc/decision_points/cvss/target_distribution.py
  src/ssvc/decision_points/cvss/user_interaction.py
Owners: @ahouseholder

add / fix unit tests
  src/ssvc/doc_helpers.py
  src/test/test_doc_helpers.py
  src/test/test_doctools.py
Owners: @ahouseholder

Update schemas for typos
  data/schema_examples/Computed-CVE-2014-0751-Coordinator-with-tree.json
  data/schema_examples/Computed-CVE-2014-0751-Coordinator.json
Owners: @sei-vsarvepalli

split eq1 into separate module
  src/ssvc/_mixins.py
  src/ssvc/decision_points/cvss/eq_sets.py
  src/ssvc/decision_points/cvss/equivalence_set_1.py
  src/ssvc/dp_groups/cvss/collections.py
Owners: @ahouseholder

split EQ2-6 into separate modules
  src/ssvc/decision_points/cvss/eq_sets.py
  src/ssvc/decision_points/cvss/equivalence_set_2.py
  src/ssvc/decision_points/cvss/equivalence_set_3.py
  src/ssvc/decision_points/cvss/equivalence_set_4.py
  src/ssvc/decision_points/cvss/equivalence_set_5.py
  src/ssvc/decision_points/cvss/equivalence_set_6.py
  src/ssvc/dp_groups/cvss/collections.py
Owners: @ahouseholder

Update mission_prevalence.py
  src/ssvc/decision_points/mission_prevalence.py
Owners: @ahouseholder

Update 'virulence' to 'automatable' keys
  data/schema_examples/Computed-CVE-2014-0751-Coordinator-with-tree.json
Owners: @sei-vsarvepalli

update cvss supplementals
  src/ssvc/decision_points/cvss/supplemental/automatable.py
  src/ssvc/decision_points/cvss/supplemental/provider_urgency.py
  src/ssvc/decision_points/cvss/supplemental/recovery.py
  src/ssvc/decision_points/cvss/supplemental/safety.py
  src/ssvc/decision_points/cvss/supplemental/value_density.py
  src/ssvc/decision_points/cvss/supplemental/vulnerability_response_effort.py
Owners: @ahouseholder

reorder urgency to be low-to-high
  data/json/decision_points/cvss/provider_urgency_1_0_0.json
Owners: @sei-vsarvepalli, @ahouseholder

Update tuple to list to avoid warnings
  src/ssvc/decision_points/cvss/helpers.py
Owners: @ahouseholder

remove unused impact decision point version
  src/ssvc/decision_points/cvss/availability_impact.py
  src/ssvc/decision_points/cvss/confidentiality_impact.py
  src/ssvc/decision_points/cvss/integrity_impact.py
Owners: @ahouseholder

black reformat
  src/ssvc/decision_points/cvss/supplemental/automatable.py
  src/ssvc/decision_points/cvss/supplemental/provider_urgency.py
  src/ssvc/decision_points/cvss/supplemental/recovery.py
  src/ssvc/decision_points/cvss/supplemental/safety.py
  src/ssvc/decision_points/cvss/supplemental/value_density.py
  src/ssvc/decision_points/cvss/supplemental/vulnerability_response_effort.py
  src/ssvc/decision_points/helpers.py
  src/ssvc/decision_points/high_value_asset.py
  src/ssvc/doc_helpers.py
  src/ssvc/doctools.py
  src/ssvc/dp_groups/cvss/collections.py
  src/ssvc/md_gen.py
  src/ssvc/outcomes/groups.py
  src/ssvc/policy_generator.py
  src/test/test_doc_helpers.py
  src/test/test_schema.py
Owners: @ahouseholder

fix tests
  src/ssvc/dp_groups/cvss/collections.py
Owners: @ahouseholder

fix pydantic type error (`list` instead of `tuple`)
  src/ssvc/decision_points/cvss/helpers.py
Owners: @ahouseholder

Fix json schema example (#684)
  data/schema_examples/Computed-CVE-2014-0751-Coordinator-with-tree.json
  data/schema_examples/Computed-CVE-2014-0751-Coordinator.json
  src/ssvc/decision_points/mission_prevalence.py
  src/ssvc/decision_points/utility.py
Owners: @sei-vsarvepalli, @ahouseholder

Split CVSS equivalence sets (#685)
  src/ssvc/_mixins.py
  src/ssvc/decision_points/cvss/eq_sets.py
  src/ssvc/decision_points/cvss/equivalence_set_1.py
  src/ssvc/decision_points/cvss/equivalence_set_2.py
  src/ssvc/decision_points/cvss/equivalence_set_3.py
  src/ssvc/decision_points/cvss/equivalence_set_4.py
  src/ssvc/decision_points/cvss/equivalence_set_5.py
  src/ssvc/decision_points/cvss/equivalence_set_6.py
  src/ssvc/dp_groups/cvss/collections.py
Owners: @ahouseholder

Update to schema_examples directory
  data/schema_examples/README.MD
  data/schema_examples/archive/Computed-CVE-2014-0751-Coordinator-with-tree.json
  data/schema_examples/archive/Computed-CVE-2014-0751-Coordinator.json
  data/schema_examples/archive/index.md
  data/schema_examples/index.md
Owners: @sei-vsarvepalli

Updated link to CVE-1900-1234-Decision_Point_Value_Selection.json
  data/schema_examples/index.md
Owners: @sei-vsarvepalli

Update to schema_examples directory (#688)
  data/schema_examples/README.MD
  data/schema_examples/archive/Computed-CVE-2014-0751-Coordinator-with-tree.json
  data/schema_examples/archive/Computed-CVE-2014-0751-Coordinator.json
  data/schema_examples/archive/index.md
  data/schema_examples/index.md
Owners: @sei-vsarvepalli

add markdownlint config to project
  .markdownlint.yml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

ignore node modules
  .gitignore
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

fix config
  .markdownlint.yml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Update FEMA Federal continuity directive link
  doc/md_src_files/sources_ssvc.bib
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

`markdownlint --fix .`
  CONTRIBUTING.md
  README.md
  data/schema/README.MD
  data/schema_examples/archive/index.md
  data/schema_examples/index.md
  src/README.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

add markdownlint workflow to check changes
  .github/workflows/lint_md_changes.yml
Owners: @ahouseholder, @sei-vsarvepalli

Update FEMA Federal continuity directive link (#692)
  doc/md_src_files/sources_ssvc.bib
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

add PR template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Owners: @ahouseholder, @sei-vsarvepalli

refine Dockerfile to modularize targets
  Dockerfile
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

add Makefile to simplify container build & run process
  Makefile
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

update readme to explain makefile use
  README.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

revisions to address pr feedback
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Owners: @ahouseholder, @sei-vsarvepalli

add semantic versioning validator to _Versioned mixin
  requirements.txt
  src/ssvc/_mixins.py
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

add semantic versioning validator to _Versioned mixin (#696)
  requirements.txt
  src/ssvc/_mixins.py
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

`markdownlint --fix .`
  README.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

`markdownlint --fix .`
  docs/reference/decision_points/automatable.md
  docs/reference/decision_points/cvss/attack_complexity.md
  docs/reference/decision_points/cvss/attack_requirements.md
  docs/reference/decision_points/cvss/attack_vector.md
  docs/reference/decision_points/cvss/authentication.md
  docs/reference/decision_points/cvss/availability_impact.md
  docs/reference/decision_points/cvss/availability_requirement.md
  docs/reference/decision_points/cvss/collateral_damage_potential.md
  docs/reference/decision_points/cvss/confidentiality_impact.md
  docs/reference/decision_points/cvss/confidentiality_requirement.md
  docs/reference/decision_points/cvss/exploit_maturity.md
  docs/reference/decision_points/cvss/impact_bias.md
  docs/reference/decision_points/cvss/index.md
  docs/reference/decision_points/cvss/integrity_impact.md
  docs/reference/decision_points/cvss/integrity_requirement.md
  docs/reference/decision_points/cvss/privileges_required.md
  docs/reference/decision_points/cvss/provider_urgency.md
  docs/reference/decision_points/cvss/recovery.md
  docs/reference/decision_points/cvss/remediation_level.md
  docs/reference/decision_points/cvss/report_confidence.md
  docs/reference/decision_points/cvss/safety.md
  docs/reference/decision_points/cvss/scope.md
  docs/reference/decision_points/cvss/subsequent_availability_impact.md
  docs/reference/decision_points/cvss/subsequent_confidentiality_impact.md
  docs/reference/decision_points/cvss/subsequent_integrity_impact.md
  docs/reference/decision_points/cvss/target_distribution.md
  docs/reference/decision_points/cvss/user_interaction.md
  docs/reference/decision_points/cvss/vulnerability_response_effort.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli
