Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli

Update CISA Track* to Monitor and version
  src/ssvc/outcomes/cisa/scoring.py
Owners: @ahouseholder

CISA Coordinate 2.0.3 added
  data/json/decision_tables/cisa/cisa_coordinate_dt_2_0_3.json
  src/ssvc/decision_tables/cisa/cisa_coordinate_dt.py
  src/ssvc/decision_tables/ssvc/deployer_dt.py
Owners: @sei-vsarvepalli, @ahouseholder

Refactor registry construction
  data/schema/v2/Ssvc_Object_Registry-2-0-0.schema.json
  src/ssvc/__init__.py
  src/ssvc/decision_points/base.py
  src/ssvc/decision_tables/base.py
  src/ssvc/doctools.py
  src/ssvc/registry/__init__.py
  src/ssvc/registry/base.py
  src/ssvc/registry_demo.py
  src/ssvc/utils/defaults.py
  src/test/decision_points/test_cvss_helpers.py
  src/test/decision_points/test_dp_base.py
  src/test/test_schema.py
Owners: @sei-vsarvepalli, @ahouseholder

start adding tests
  src/ssvc/registry/base.py
  src/test/decision_points/test_cvss_helpers.py
  src/test/registry/__init__.py
  src/test/registry/test_base.py
Owners: @ahouseholder

fix tests
  src/ssvc/registry/base.py
  src/test/registry/test_base.py
Owners: @ahouseholder

add tests
  data/schema/v2/Ssvc_Object_Registry-2-0-0.schema.json
  src/ssvc/decision_tables/base.py
  src/ssvc/registry/base.py
  src/test/registry/test_base.py
Owners: @sei-vsarvepalli, @ahouseholder

add hidden `registered` boolean to allow tests to disable registration
  src/ssvc/decision_points/base.py
  src/test/registry/test_base.py
Owners: @ahouseholder

refactor `_Registered` as a mixin
  src/ssvc/_mixins.py
  src/ssvc/decision_points/base.py
  src/ssvc/decision_tables/base.py
Owners: @ahouseholder

Update src/ssvc/registry/base.py
  src/ssvc/registry/base.py
Owners: @ahouseholder

Update src/ssvc/registry/base.py
  src/ssvc/registry/base.py
Owners: @ahouseholder

refactor _Registerable tuple into one place
  src/ssvc/registry/base.py
Owners: @ahouseholder

refactor exception-based logic to if statements
  src/ssvc/registry/base.py
Owners: @ahouseholder

add a `lookup_latest()` method and tests
  src/ssvc/registry/base.py
  src/test/registry/test_base.py
Owners: @ahouseholder

update docstrings, remove version from CISA.CO.name, apply black formatting
  src/ssvc/decision_tables/cisa/cisa_coordinate_dt.py
  src/ssvc/decision_tables/ssvc/deployer_dt.py
Owners: @ahouseholder

adds new decision table objects to registry
  data/json/ssvc_object_registry.json
Owners: @sei-vsarvepalli, @ahouseholder

Add `DecisionTable` objects for Deployer and CISA Coordinator (#843)
  data/json/decision_tables/cisa/cisa_coordinate_dt_2_0_3.json
  data/json/decision_tables/ssvc/deployer_patch_application_priority_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/cisa/cisa_coordinate_dt.py
  src/ssvc/decision_tables/ssvc/deployer_dt.py
Owners: @sei-vsarvepalli, @ahouseholder

Refactor registry construction (#844)
  data/schema/v2/Ssvc_Object_Registry-2-0-0.schema.json
  src/ssvc/__init__.py
  src/ssvc/_mixins.py
  src/ssvc/decision_points/base.py
  src/ssvc/decision_tables/base.py
  src/ssvc/doctools.py
  src/ssvc/registry/__init__.py
  src/ssvc/registry/base.py
  src/ssvc/utils/defaults.py
  src/test/decision_points/test_cvss_helpers.py
  src/test/decision_points/test_dp_base.py
  src/test/registry/__init__.py
  src/test/registry/test_base.py
  src/test/test_schema.py
Owners: @sei-vsarvepalli, @ahouseholder

Fix CISA Decision Tree extra text remove
  data/json/decision_tables/cisa/cisa_coordinate_dt_2_0_3.json
Owners: @sei-vsarvepalli, @ahouseholder

merge nciss modules into ssvc.decision_points.cisa (+1 squashed commit) Squashed commits: [33590fc] use cisa namespace for nciss too
  data/json/decision_points/cisa/functional_impact_1_0_0.json
  data/json/decision_points/cisa/functional_impact_2_0_0.json
  data/json/decision_points/cisa/incident_severity_1_0_0.json
  data/json/decision_points/cisa/incident_severity_2_0_0.json
  data/json/decision_points/cisa/information_impact_1_0_0.json
  data/json/decision_points/cisa/information_impact_2_0_0.json
  data/json/decision_points/cisa/observed_activity_0_0_1.json
  data/json/decision_points/cisa/observed_activity_location_1_0_0.json
  data/json/decision_points/cisa/recoverability_1_0_0.json
  data/json/ssvc_object_registry.json
  docs/reference/decision_points/nciss/functional_impact.md
  docs/reference/decision_points/nciss/incident_severity.md
  docs/reference/decision_points/nciss/information_impact.md
  docs/reference/decision_points/nciss/observed_activity.md
  docs/reference/decision_points/nciss/observed_activity_location.md
  docs/reference/decision_points/nciss/recoverability.md
  src/ssvc/decision_points/cisa/base.py
  src/ssvc/decision_points/cisa/functional_impact.py
  src/ssvc/decision_points/cisa/incident_severity.py
  src/ssvc/decision_points/cisa/information_impact.py
  src/ssvc/decision_points/cisa/observed_activity.py
  src/ssvc/decision_points/cisa/observed_activity_location.py
  src/ssvc/decision_points/cisa/recoverability.py
  src/ssvc/decision_points/nciss/__init__.py
  src/ssvc/decision_points/nciss/base.py
Owners: @sei-vsarvepalli, @ahouseholder, @cgyarbrough, @j---

add coord pub table
  data/json/decision_tables/ssvc/coordinator_publish_decision_table_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/ssvc/coord_pub_dt.py
Owners: @sei-vsarvepalli, @ahouseholder

Fix CISA Decision Tree extra text remove (#854)
  data/json/decision_tables/cisa/cisa_coordinate_dt_2_0_3.json
Owners: @sei-vsarvepalli, @ahouseholder

add coord pub table (#856)
  data/json/decision_tables/ssvc/coordinator_publish_decision_table_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/ssvc/coord_pub_dt.py
Owners: @sei-vsarvepalli, @ahouseholder

possible fix
  src/ssvc/doctools.py
Owners: @ahouseholder

regenerate json from updated doctools
  data/json/decision_points/x_basic/do_schedule_delegate_delete_1_0_0.json
  data/json/decision_points/x_basic/moscow_1_0_0.json
  data/json/decision_points/x_basic/value_complexity_1_0_0.json
  data/json/decision_points/x_basic/yes_no_1_0_0.json
  data/json/decision_points/x_community/theparanoids_1_0_0.json
  data/json/decision_tables/cisa/cisa_coordinator_2_0_3.json
  data/json/ssvc_object_registry.json
Owners: @sei-vsarvepalli, @ahouseholder

Fix imports in `doctools.py (#857)
  data/json/decision_points/x_basic/do_schedule_delegate_delete_1_0_0.json
  data/json/decision_points/x_basic/moscow_1_0_0.json
  data/json/decision_points/x_basic/value_complexity_1_0_0.json
  data/json/decision_points/x_basic/yes_no_1_0_0.json
  data/json/decision_points/x_community/theparanoids_1_0_0.json
  data/json/decision_tables/cisa/cisa_coordinator_2_0_3.json
  data/json/ssvc_object_registry.json
  src/ssvc/doctools.py
Owners: @sei-vsarvepalli, @ahouseholder

extract decision table print helper method
  src/ssvc/decision_tables/helpers.py
  src/ssvc/decision_tables/ssvc/coord_pub_dt.py
Owners: @ahouseholder

add first attempt at EQ1 (note: default mapping is unverified)
  data/json/decision_tables/cvss/cvss_v4_equivalence_set_1_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/cvss/__init__.py
  src/ssvc/decision_tables/cvss/equivalence_set_one.py
Owners: @sei-vsarvepalli, @ahouseholder

bring EQ 1 into alignment with CVSSv4 spec
  data/json/decision_tables/cvss/cvss_v4_equivalence_set_1_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/cvss/equivalence_set_one.py
Owners: @sei-vsarvepalli, @ahouseholder

fix AC and AT value order
  data/json/decision_points/cvss/access_complexity_1_0_0.json
  data/json/decision_points/cvss/access_complexity_2_0_0.json
  data/json/decision_points/cvss/attack_complexity_3_0_0.json
  data/json/decision_points/cvss/attack_complexity_3_0_1.json
  data/json/decision_points/cvss/attack_requirements_1_0_0.json
  data/json/decision_points/cvss/modified_attack_complexity_3_0_0.json
  data/json/decision_points/cvss/modified_attack_complexity_3_0_1.json
  data/json/decision_points/cvss/modified_attack_requirements_1_0_0.json
  src/ssvc/decision_points/cvss/attack_complexity.py
  src/ssvc/decision_points/cvss/attack_requirements.py
Owners: @sei-vsarvepalli, @ahouseholder

add EQ2 decision table
  data/json/decision_tables/cvss/cvss_v4_equivalence_set_2_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/cvss/equivalence_set_two.py
Owners: @sei-vsarvepalli, @ahouseholder

add EQ3
  data/json/decision_tables/cvss/cvss_v4_equivalence_set_3_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/cvss/equivalence_set_three.py
Owners: @sei-vsarvepalli, @ahouseholder

create modified subsequent availability and integrity decision points
  data/json/ssvc_object_registry.json
  src/ssvc/decision_points/cvss/modified/__init__.py
  src/ssvc/decision_points/cvss/modified/modified_subsequent_availability_impact.py
  src/ssvc/decision_points/cvss/modified/modified_subsequent_integrity_impact.py
Owners: @sei-vsarvepalli, @ahouseholder

add EQ4 decision table
  data/json/decision_points/cvss/modified_availability_impact_to_the_subsequent_system_without_not_defined__1_0_1.json
  data/json/decision_points/cvss/modified_integrity_impact_to_the_subsequent_system_without_not_defined__1_0_1.json
  data/json/decision_tables/cvss/cvss_v4_equivalence_set_4_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_points/cvss/helpers.py
  src/ssvc/decision_points/cvss/modified/modified_subsequent_availability_impact.py
  src/ssvc/decision_points/cvss/modified/modified_subsequent_integrity_impact.py
  src/ssvc/decision_tables/cvss/equivalence_set_four.py
  src/ssvc/decision_tables/helpers.py
Owners: @sei-vsarvepalli, @ahouseholder

add EQ6
  data/json/decision_points/cvss/availability_requirement_without_not_defined__1_1_1.json
  data/json/decision_points/cvss/confidentiality_requirement_without_not_defined__1_1_1.json
  data/json/decision_points/cvss/integrity_requirement_without_not_defined__1_1_1.json
  data/json/decision_tables/cvss/cvss_v4_equivalence_set_6_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_points/cvss/availability_requirement.py
  src/ssvc/decision_points/cvss/confidentiality_requirement.py
  src/ssvc/decision_points/cvss/integrity_requirement.py
  src/ssvc/decision_tables/cvss/equivalence_set_six.py
Owners: @sei-vsarvepalli, @ahouseholder

wip on EQ5. blocked by #859
  src/ssvc/decision_tables/cvss/equivalence_set_five.py
Owners: @ahouseholder

add expected failure test for #859
  src/test/decision_tables/test_base.py
Owners: @ahouseholder

fix #859
  data/json/decision_tables/cvss/cvss_equivalence_set_5_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/base.py
  src/ssvc/decision_tables/cvss/equivalence_set_five.py
  src/test/decision_tables/test_base.py
Owners: @sei-vsarvepalli, @ahouseholder

Update src/ssvc/decision_tables/cvss/equivalence_set_two.py
  src/ssvc/decision_tables/cvss/equivalence_set_two.py
Owners: @ahouseholder

Update src/ssvc/decision_points/cvss/helpers.py
  src/ssvc/decision_points/cvss/helpers.py
Owners: @ahouseholder

Update data/json/decision_tables/cvss/cvss_v4_equivalence_set_2_1_0_0.json
  data/json/decision_tables/cvss/cvss_v4_equivalence_set_2_1_0_0.json
Owners: @sei-vsarvepalli, @ahouseholder
