Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli

Update docs/reference/code/namespaces.md
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Update docs/reference/code/namespaces.md
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Update docs/reference/code/namespaces.md
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Update namespaces.md
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

forbid extras
  src/ssvc/selection.py
Owners: @ahouseholder

escape forward slashes in regex
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  src/ssvc/selection.py
  src/ssvc/utils/patterns.py
Owners: @sei-vsarvepalli, @ahouseholder

Update docs/reference/code/namespaces.md
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

update schemas after merge
  data/schema/v2/Decision_Point-2-0-0.schema.json
  data/schema/v2/Decision_Point_Group-2-0-0.schema.json
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  data/schema/v2/Ssvc_Object_Registry-2-0-0.schema.json
Owners: @sei-vsarvepalli

remove ABNF from documentation. Until we have a way to generate this, it's unmaintainable.
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

update docstring
  src/ssvc/doctools.py
Owners: @ahouseholder

fix documentation generators
  docs/howto/acuity_ramp.md
  docs/howto/bootstrap/use.md
  docs/ssvc_overview.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

bump linkchecker python version
  .github/workflows/link_checker.yml
Owners: @ahouseholder, @sei-vsarvepalli

add test for Reference object
  src/test/test_selections.py
Owners: @ahouseholder

create ethical implications set
  data/json/decision_points/aivss/data_confidentiality_1_0_0.json
  data/json/decision_points/aivss/data_integrity_1_0_0.json
  data/json/decision_points/aivss/data_provenance_1_0_0.json
  data/json/decision_points/aivss/data_sensitivity_1_0_0.json
  src/ssvc/decision_points/aivss/data_confidentiality.py
  src/ssvc/decision_points/aivss/data_integrity.py
  src/ssvc/decision_points/aivss/data_provenance.py
  src/ssvc/decision_points/aivss/data_sensitivity.py
  src/ssvc/decision_points/aivss/evasion_resistance.py
  src/ssvc/decision_tables/aivss/data_sensitivity.py
Owners: @sei-vsarvepalli, @ahouseholder

add AIVSS Model Robustness (MR) decision points and a basic table to roll them up.
  data/json/decision_points/aivss/evasion_resistance_1_0_0.json
  data/json/decision_points/aivss/generic_aivss_decision_point_1_0_0.json
  data/json/decision_points/aivss/gradient_masking_obfuscation_1_0_0.json
  data/json/decision_points/aivss/model_robustness_1_0_0.json
  data/json/decision_points/aivss/robustness_certification_1_0_0.json
  src/ssvc/decision_points/aivss/evasion_resistance.py
  src/ssvc/decision_points/aivss/gradient_masking.py
  src/ssvc/decision_points/aivss/model_robustness.py
  src/ssvc/decision_points/aivss/robustness_certification.py
  src/ssvc/decision_tables/aivss/__init__.py
  src/ssvc/decision_tables/aivss/model_robustness.py
Owners: @sei-vsarvepalli, @ahouseholder

registry should reject duplicate object IDs when they point to different objects
  src/ssvc/registry/base.py
Owners: @ahouseholder

add data sensitivity set
  data/json/decision_points/cisa/in_kev_1_0_0.json
  src/ssvc/decision_points/cisa/in_kev.py
Owners: @sei-vsarvepalli, @ahouseholder

move "IN_KEV" decision point to cisa namespace. (+1 squashed commit) Squashed commits: [862a597] remove old in_kev json
  src/ssvc/decision_tables/base.py
  src/ssvc/utils/toposort.py
Owners: @ahouseholder

add decision criticality set
  data/json/decision_points/aivss/accountability_1_0_0.json
  data/json/decision_points/aivss/bias_and_discrimination_1_0_0.json
  data/json/decision_points/aivss/ethical_implications_1_0_0.json
  data/json/decision_points/aivss/societal_impact_1_0_0.json
  data/json/decision_points/aivss/transparency_and_explainability_1_0_0.json
  src/ssvc/decision_points/aivss/accountability.py
  src/ssvc/decision_points/aivss/bias_and_discrimination.py
  src/ssvc/decision_points/aivss/ethical_implications.py
  src/ssvc/decision_points/aivss/societal_impact.py
  src/ssvc/decision_points/aivss/transparency_and_explainability.py
  src/ssvc/decision_tables/aivss/ethical_implications.py
  src/ssvc/decision_tables/aivss/model_robustness.py
Owners: @sei-vsarvepalli, @ahouseholder

add AIVSS namespace and base class for decision points
  src/ssvc/decision_points/aivss/__init__.py
  src/ssvc/decision_points/aivss/base.py
  src/ssvc/decision_points/aivss/generic.py
  src/ssvc/namespaces.py
Owners: @ahouseholder

rekey Decision Criticality and Data Confidentiality
  data/json/decision_points/aivss/data_confidentiality_1_0_0.json
  data/json/decision_points/aivss/decision_criticality_1_0_0.json
  data/json/decision_points/aivss/financial_impact_1_0_0.json
  data/json/decision_points/aivss/operational_disruption_1_0_0.json
  data/json/decision_points/aivss/reputational_damage_1_0_0.json
  data/json/decision_points/aivss/safety_critical_1_0_0.json
  src/ssvc/decision_points/aivss/data_confidentiality.py
  src/ssvc/decision_points/aivss/decision_criticality.py
  src/ssvc/decision_points/aivss/financial_impact.py
  src/ssvc/decision_points/aivss/operational_disruption.py
  src/ssvc/decision_points/aivss/reputational_damage.py
  src/ssvc/decision_points/aivss/safety_critical.py
  src/ssvc/decision_tables/aivss/decision_criticality.py
Owners: @sei-vsarvepalli, @ahouseholder

add lifecycle vuls set
  data/json/decision_points/aivss/deployment_1_0_0.json
  data/json/decision_points/aivss/development_1_0_0.json
  data/json/decision_points/aivss/lifecycle_vulnerabilities_1_0_0.json
  data/json/decision_points/aivss/operations_1_0_0.json
  data/json/decision_points/aivss/training_1_0_0.json
  src/ssvc/decision_points/aivss/deployment.py
  src/ssvc/decision_points/aivss/development.py
  src/ssvc/decision_points/aivss/lifecycle.py
  src/ssvc/decision_points/aivss/operations.py
  src/ssvc/decision_points/aivss/training.py
  src/ssvc/decision_tables/aivss/lifecycle_vulnerabilities.py
Owners: @sei-vsarvepalli, @ahouseholder

add adversarial attack surface set
  data/json/decision_points/aivss/adversarial_attack_surface_1_0_0.json
  data/json/decision_points/aivss/membership_inference_1_0_0.json
  data/json/decision_points/aivss/model_extraction_1_0_0.json
  data/json/decision_points/aivss/model_inversion_1_0_0.json
  src/ssvc/decision_points/aivss/adversarial_attack_surface.py
  src/ssvc/decision_points/aivss/membership_inference.py
  src/ssvc/decision_points/aivss/model_extraction.py
  src/ssvc/decision_points/aivss/model_inversion.py
  src/ssvc/decision_tables/aivss/adversarial_attack_surface.py
Owners: @sei-vsarvepalli, @ahouseholder

make decision table defs more consistent
  src/ssvc/decision_tables/aivss/adaptability.py
  src/ssvc/decision_tables/aivss/data_sensitivity.py
  src/ssvc/decision_tables/aivss/decision_criticality.py
  src/ssvc/decision_tables/aivss/ethical_implications.py
  src/ssvc/decision_tables/aivss/model_robustness.py
Owners: @ahouseholder

add Adaptability set
  data/json/decision_points/aivss/adaptability_1_0_0.json
  data/json/decision_points/aivss/adversarial_training_1_0_0.json
  data/json/decision_points/aivss/continuous_monitoring_1_0_0.json
  data/json/decision_points/aivss/retraining_capabilities_1_0_0.json
  data/json/decision_points/aivss/threat_intelligence_integration_1_0_0.json
  src/ssvc/decision_points/aivss/adaptability.py
  src/ssvc/decision_points/aivss/adversarial_training.py
  src/ssvc/decision_points/aivss/continuous_monitoring.py
  src/ssvc/decision_points/aivss/retraining_capabilities.py
  src/ssvc/decision_points/aivss/threat_intelligence_integration.py
  src/ssvc/decision_tables/aivss/adaptability.py
Owners: @sei-vsarvepalli, @ahouseholder

add governance set
  data/json/decision_points/aivss/auditing_1_0_0.json
  data/json/decision_points/aivss/compliance_1_0_0.json
  data/json/decision_points/aivss/ethical_framework_alignment_1_0_0.json
  data/json/decision_points/aivss/governance_and_validation_1_0_0.json
  data/json/decision_points/aivss/human_oversight_1_0_0.json
  data/json/decision_points/aivss/risk_management_1_0_0.json
  src/ssvc/decision_points/aivss/auditing.py
  src/ssvc/decision_points/aivss/compliance.py
  src/ssvc/decision_points/aivss/ethical_framework_alignment.py
  src/ssvc/decision_points/aivss/governance.py
  src/ssvc/decision_points/aivss/human_oversight.py
  src/ssvc/decision_points/aivss/risk_management.py
  src/ssvc/decision_tables/aivss/governance.py
Owners: @sei-vsarvepalli, @ahouseholder

remove extraneous prints
  src/ssvc/decision_tables/ssvc/human_impact.py
  src/ssvc/registry/events.py
  src/ssvc/utils/toposort.py
Owners: @ahouseholder

add a low medium high generic outcome (+1 squashed commit) Squashed commits: [32ceaf2] add a low medium high generic outcome
  data/json/decision_points/basic/lowmediumhigh_1_0_0.json
  src/ssvc/outcomes/basic/lmh.py
Owners: @sei-vsarvepalli, @ahouseholder

fix test
  src/ssvc/decision_tables/base.py
  src/test/decision_tables/test_base.py
Owners: @ahouseholder

refactor graph constructor into its own method (+1 squashed commit) Squashed commits: [de65f97] refactor csv analyzer to use more efficient graph algorithm
  src/ssvc/csv_analyzer.py
  src/ssvc/utils/toposort.py
Owners: @ahouseholder

add a low medium high generic outcome (+1 squashed commit) Squashed commits: [32ceaf2] add a low medium high generic outcome
  data/json/decision_points/basic/lowmediumhigh_1_0_0.json
  src/ssvc/outcomes/basic/lmh.py
Owners: @sei-vsarvepalli, @ahouseholder

add logging to doctools
  src/ssvc/doctools.py
Owners: @ahouseholder

add unit tests
  src/ssvc/utils/toposort.py
  src/test/utils/__init__.py
  src/test/utils/test_toposort.py
Owners: @ahouseholder

dump the right schema. also add keys to decision tables
  data/schema/v2/Decision_Table-2-0-0.schema.json
  src/ssvc/decision_tables/base.py
  src/ssvc/doctools.py
  src/ssvc/registry/__init__.py
  src/test/decision_tables/test_base.py
Owners: @sei-vsarvepalli, @ahouseholder

add keys to decision tables
  src/ssvc/decision_points/aivss/accountability.py
  src/ssvc/decision_points/aivss/adversarial_training.py
  src/ssvc/decision_points/aivss/auditing.py
  src/ssvc/decision_points/aivss/bias_and_discrimination.py
  src/ssvc/decision_points/aivss/compliance.py
  src/ssvc/decision_points/aivss/continuous_monitoring.py
  src/ssvc/decision_points/aivss/deployment.py
  src/ssvc/decision_points/aivss/development.py
  src/ssvc/decision_points/aivss/ethical_framework_alignment.py
  src/ssvc/decision_points/aivss/financial_impact.py
  src/ssvc/decision_points/aivss/human_oversight.py
  src/ssvc/decision_points/aivss/model_extraction.py
  src/ssvc/decision_points/aivss/model_inversion.py
  src/ssvc/decision_points/aivss/operational_disruption.py
  src/ssvc/decision_points/aivss/operations.py
  src/ssvc/decision_points/aivss/reputational_damage.py
  src/ssvc/decision_points/aivss/risk_management.py
  src/ssvc/decision_points/aivss/safety_critical.py
  src/ssvc/decision_points/aivss/threat_intelligence_integration.py
  src/ssvc/decision_points/aivss/training.py
  src/ssvc/decision_points/aivss/transparency_and_explainability.py
  src/ssvc/decision_tables/aivss/adaptability.py
  src/ssvc/decision_tables/aivss/adversarial_attack_surface.py
  src/ssvc/decision_tables/aivss/data_sensitivity.py
  src/ssvc/decision_tables/aivss/decision_criticality.py
  src/ssvc/decision_tables/aivss/ethical_implications.py
  src/ssvc/decision_tables/aivss/governance.py
  src/ssvc/decision_tables/aivss/lifecycle_vulnerabilities.py
  src/ssvc/decision_tables/aivss/model_robustness.py
  src/ssvc/decision_tables/ssvc/human_impact.py
  src/ssvc/decision_tables/ssvc/supplier_dt.py
  src/ssvc/decision_tables/ssvc/utlity.py
Owners: @ahouseholder

use basic objects in constructing registry
  data/schema/v2/Ssvc_Object_Registry-2-0-0.schema.json
  src/ssvc/registry/base.py
Owners: @sei-vsarvepalli, @ahouseholder

add decision tables to doc tools dumpers
  data/json/decision_tables/ssvc/human_impact_1_0_0.json
  data/json/decision_tables/ssvc/supplier_patch_development_priority_1_0_0.json
  data/json/decision_tables/ssvc/utility_1_0_0.json
  src/ssvc/doctools.py
Owners: @sei-vsarvepalli, @ahouseholder

dump registry from doctools.py
  data/json/ssvc_object_registry.json
  src/ssvc/doctools.py
Owners: @sei-vsarvepalli, @ahouseholder

Added Deployer Decision Table
  data/csvs/human-impact.csv
  data/json/decision_tables/ssvc/deployer_patch_application_priority_1_0_0.json
  src/ssvc/decision_tables/ssvc/deployer_dt.py
Owners: @ahouseholder, @j---, @sei-vsarvepalli

Added Deployer Decision Table
  data/csvs/human-impact.csv
Owners: @ahouseholder, @j---
