Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli

Update namespace to ensure sufficient limits are established
  data/schema/v1/Decision_Point-1-0-1.schema.json
  src/ssvc/_mixins.py
  src/ssvc/namespaces.py
Owners: @sei-vsarvepalli, @ahouseholder

Remove tabs smoothly
  data/schema/v1/Decision_Point-1-0-1.schema.json
  data/schema/v1/Decision_Point_Group-1-0-1.schema.json
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
  data/schema/v1/Outcome_Group-1-0-1.schema.json
Owners: @sei-vsarvepalli

Remove ending spaces
  data/schema/v1/Decision_Point-1-0-1.schema.json
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
  data/schema/v1/Outcome_Group-1-0-1.schema.json
Owners: @sei-vsarvepalli

Update namespace test_mixins.py
  src/test/test_mixins.py
Owners: @ahouseholder

add test make target
  Makefile
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Change docs copyright page to reflect new LICENSE wording (#763)
  docs/about/copyright.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Update namespace to ensure sufficient limits are established (#765)
  data/schema/v1/Decision_Point-1-0-1.schema.json
  data/schema/v1/Decision_Point_Group-1-0-1.schema.json
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
  data/schema/v1/Outcome_Group-1-0-1.schema.json
  src/ssvc/_mixins.py
  src/ssvc/namespaces.py
  src/test/test_mixins.py
Owners: @sei-vsarvepalli, @ahouseholder

update copyright
  src/ssvc/decision_points/nciss/__init__.py
  src/ssvc/decision_points/nciss/base.py
  src/ssvc/decision_points/nciss/functional_impact.py
  src/ssvc/decision_points/nciss/incident_severity.py
  src/ssvc/decision_points/nciss/information_impact.py
  src/ssvc/decision_points/nciss/observed_activity.py
  src/ssvc/decision_points/nciss/observed_activity_location.py
  src/ssvc/decision_points/nciss/recoverability.py
Owners: @ahouseholder

update example
  src/ssvc/decision_tables/base.py
Owners: @ahouseholder

add type hints
  src/ssvc/decision_points/base.py
  src/ssvc/dp_groups/base.py
Owners: @ahouseholder

add consistency checks to DecisionTable object
  src/ssvc/decision_tables/base.py
Owners: @ahouseholder

update unit tests
  src/ssvc/decision_tables/base.py
  src/test/decision_tables/test_base.py
Owners: @ahouseholder

Update for Compliance
  docs/assets/Software_Engineering_Institute_Unitmark_White.svg
  docs/assets/cert.png
  docs/assets/cert_seal.svg
  docs/stylesheets/extra.css
  mkdocs.yml
  overrides/partials/copyright.html
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Update site design template (#771)
  docs/assets/Software_Engineering_Institute_Unitmark_White.svg
  docs/assets/cert.png
  docs/assets/cert_seal.svg
  docs/stylesheets/extra.css
  mkdocs.yml
  overrides/partials/copyright.html
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

simplify Makefile / Dockerfile interactions using docker-compose.yml
  Makefile
  docker/Dockerfile
  docker/docker-compose.yml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Add line about cybersecurity risk
  docs/explanation.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

markdown lint
  docs/explanation.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

simplify Makefile / Dockerfile interactions using docker-compose.yml
  Makefile
  README.md
  docker/Dockerfile
  docker/docker-compose.yml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Rename file to match navtree
  docs/ssvc_overview.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

fix links
  docs/index.md
  docs/ssvc_overview.md
  mkdocs.yml
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Fix link
  docs/ssvc_overview.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Please be the last bad link to fix
  docs/ssvc_overview.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Add an 'Explanation' Overview document (#716)
  .gitignore
  docs/index.md
  docs/ssvc_overview.md
  mkdocs.yml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

Update README.md
  README.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Update README.md
  README.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Simplify Makefile / Dockerfile interactions using docker-compose.yml (#785)
  Makefile
  README.md
  docker/Dockerfile
  docker/docker-compose.yml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

initial commit to separate HTGs from reference docs
  docs/howto/gathering_info/automatable.md
  docs/howto/gathering_info/exploitation.md
  docs/howto/gathering_info/mission_impact.md
  docs/howto/gathering_info/system_exposure.md
  docs/howto/gathering_info/technical_impact.md
  docs/howto/gathering_info/value_density.md
  docs/reference/decision_points/automatable.md
  docs/reference/decision_points/exploitation.md
  docs/reference/decision_points/mission_impact.md
  docs/reference/decision_points/system_exposure.md
  docs/reference/decision_points/technical_impact.md
  docs/reference/decision_points/value_density.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Fix formatting
  docs/howto/gathering_info/automatable.md
  docs/howto/gathering_info/exploitation.md
  docs/howto/gathering_info/technical_impact.md
  docs/howto/gathering_info/value_density.md
  mkdocs.yml
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

make unit tests pass
  src/ssvc/decision_tables/base.py
  src/ssvc/decision_tables/experimental_base.py
  src/ssvc/dp_groups/base.py
  src/test/decision_tables/test_base.py
  src/test/decision_tables/test_experimental_base.py
Owners: @ahouseholder

use namespace enum rather than hard-coded string for namespace in cisa objects
  src/ssvc/decision_points/cisa/base.py
Owners: @ahouseholder

refactoring branches
  src/ssvc/decision_tables/__init__.py
  src/ssvc/decision_tables/base.py
  src/ssvc/decision_tables/experimental_base.py
  src/test/decision_tables/__init__.py
  src/test/decision_tables/test_base.py
  src/test/decision_tables/test_experimental_base.py
Owners: @ahouseholder

add decision table object
  src/ssvc/decision_tables/__init__.py
  src/ssvc/decision_tables/base.py
  src/ssvc/decision_tables/experimental_base.py
  src/test/decision_tables/__init__.py
  src/test/decision_tables/test_base.py
  src/test/decision_tables/test_experimental_base.py
Owners: @ahouseholder

rename DecisionTableBase to DecisionTable
  src/ssvc/decision_tables/base.py
  src/test/decision_tables/test_base.py
Owners: @ahouseholder

update unit tests
  src/ssvc/decision_tables/base.py
  src/test/decision_tables/test_base.py
Owners: @ahouseholder

update Makefile
  Makefile
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Update mission_prevalence.py
  src/ssvc/decision_points/ssvc_/mission_prevalence.py
Owners: @ahouseholder

make registry fail on duplicate item keys
  src/ssvc/decision_points/base.py
  src/ssvc/decision_points/cvss/helpers.py
  src/ssvc/doctools.py
Owners: @ahouseholder

fix duplicate keys
  src/ssvc/decision_points/cvss/supplemental/safety.py
  src/ssvc/decision_points/ssvc/supplier_contacted.py
  src/ssvc/decision_points/ssvc/supplier_involvement.py
Owners: @ahouseholder

regenerate json examples
  data/json/decision_points/cisa/cisa_levels_1_0_0.json
  data/json/decision_points/cvss/availability_impact_2_0_1.json
  data/json/decision_points/cvss/confidentiality_impact_2_0_1.json
  data/json/decision_points/cvss/cvss_qualitative_severity_rating_scale_1_0_0.json
  data/json/decision_points/cvss/integrity_impact_2_0_1.json
  data/json/decision_points/cvss/integrity_requirement_1_0_1.json
  data/json/decision_points/cvss/modified_availability_impact_2_0_1.json
  data/json/decision_points/cvss/modified_availability_impact_to_the_subsequent_system_1_0_0.json
  data/json/decision_points/cvss/modified_availability_impact_to_the_subsequent_system_1_0_1.json
  data/json/decision_points/cvss/modified_confidentiality_impact_2_0_1.json
  data/json/decision_points/cvss/modified_confidentiality_impact_to_the_subsequent_system_1_0_1.json
  data/json/decision_points/cvss/modified_integrity_impact_2_0_1.json
  data/json/decision_points/cvss/modified_integrity_impact_to_the_subsequent_system_1_0_1.json
  data/json/decision_points/cvss/modified_subsequent_availability_impact_1_0_0.json
  data/json/decision_points/cvss/safety_1_0_0.json
  data/json/decision_points/ssvc/critical_software_1_0_0.json
  data/json/decision_points/ssvc/decline_track_coordinate_1_0_0.json
  data/json/decision_points/ssvc/defer_scheduled_out_of_cycle_immediate_1_0_0.json
  data/json/decision_points/ssvc/high_value_asset_1_0_0.json
  data/json/decision_points/ssvc/human_impact_1_0_0.json
  data/json/decision_points/ssvc/in_kev_1_0_0.json
  data/json/decision_points/ssvc/mission_and_well_being_impact_1_0_0.json
  data/json/decision_points/ssvc/public_safety_impact_1_0_0.json
  data/json/decision_points/ssvc/public_well_being_impact_1_0_0.json
  data/json/decision_points/ssvc/publish_do_not_publish_1_0_0.json
  data/json/decision_points/ssvc/supplier_contacted_1_0_0.json
  data/json/decision_points/ssvc/supplier_involvement_1_0_0.json
  data/json/decision_points/x_basic/do_schedule_delegate_delete_1_0_0.json
  data/json/decision_points/x_basic/moscow_1_0_0.json
  data/json/decision_points/x_basic/value_complexity_1_0_0.json
  data/json/decision_points/x_basic/yes_no_1_0_0.json
  data/json/decision_points/x_community/theparanoids_1_0_0.json
  data/json/outcomes/CVSS.json
Owners: @sei-vsarvepalli, @ahouseholder

add makefile target to regenerate json examples
  Makefile
  src/ssvc/doctools.py
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough
