Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

add semver checks to dp_diff helper method
  src/ssvc/decision_points/helpers.py
Owners: @ahouseholder

address common error where `ssvc` module is not found due to PYTHONPATH
  README.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

add `venv` note
  README.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

explain that ports in docker containers are local to the container
  README.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

add basic `make` explainer
  README.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

`markdownlint --fix .`
  README.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

use long options
  Makefile
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

s/derived from/was developed alongside/
  docs/_includes/automatable_cvss_ssvc.md
  docs/_includes/value_density_cvss_ssvc.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

clarify safety connection
  docs/_includes/safety_cvss_ssvc.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Update schema JSON to use cross-referencing and force more validations
  data/schema/v1/Decision_Point-1-0-1.schema.json
  data/schema/v1/Decision_Point_Group-1-0-1.schema.json
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
Owners: @sei-vsarvepalli

Update test_dp_base namespace to be name1 instead of 'ns'
  src/test/test_dp_base.py
Owners: @ahouseholder

Update regex
  data/schema/v1/Decision_Point-1-0-1.schema.json
Owners: @sei-vsarvepalli

add recoverability
  docs/reference/decision_points/nciss/index.md
  docs/reference/decision_points/nciss/recoverability.md
  mkdocs.yml
  src/ssvc/decision_points/nciss/recoverability.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add observed activity location
  docs/reference/decision_points/nciss/observed_activity_location.md
  mkdocs.yml
  src/ssvc/decision_points/nciss/observed_activity_location.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add index
  docs/reference/decision_points/nciss/index.md
  mkdocs.yml
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add incident severity decision point (+1 squashed commit) Squashed commits: [7e4fada] update incident severity
  src/ssvc/decision_points/base.py
  src/ssvc/decision_points/nciss/__init__.py
  src/ssvc/decision_points/nciss/base.py
Owners: @ahouseholder

add recoverability decision point (+1 squashed commit) Squashed commits: [f5827ab] add recoverability
  docs/reference/decision_points/nciss/incident_severity.md
  mkdocs.yml
  src/ssvc/decision_points/nciss/incident_severity.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

refactor a _Valued mixin class
  src/ssvc/_mixins.py
  src/ssvc/decision_points/base.py
  src/test/test_doctools.py
Owners: @ahouseholder

Update to obj.namespace
  src/test/test_dp_base.py
Owners: @ahouseholder

Updated mission_impact.md
  docs/reference/decision_points/mission_impact.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

s/cybersecurity/cyber/
  docs/reference/decision_points/nciss/index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

markdownlint
  docs/reference/decision_points/nciss/incident_severity.md
  docs/reference/decision_points/nciss/index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Updated mission_impact.md (#706)
  docs/reference/decision_points/mission_impact.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

fix docstrings and comments
  src/ssvc/decision_points/nciss/__init__.py
  src/ssvc/decision_points/nciss/recoverability.py
Owners: @ahouseholder

Update data/schema/v1/Decision_Point-1-0-1.schema.json
  data/schema/v1/Decision_Point-1-0-1.schema.json
Owners: @sei-vsarvepalli

Missing comma and backslashes in @tschmidt's PR
  data/schema/v1/Decision_Point-1-0-1.schema.json
Owners: @sei-vsarvepalli

Going back to date-time from regex for timestamp
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
Owners: @sei-vsarvepalli

add CVSS qualitative severity as a decision point
  docs/reference/decision_points/cvss/qualitative_severity.md
  mkdocs.yml
  src/ssvc/decision_points/cvss/qualitative_severity.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

make json in `example_block()` optional
  src/ssvc/doc_helpers.py
Owners: @ahouseholder

markdownlint
  docs/reference/decision_points/cvss/qualitative_severity.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add qualitative severity link to cvss/index.md
  docs/reference/decision_points/cvss/index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Add CVSS Qualitative Severity Rating Scale decision point (#712)
  docs/reference/decision_points/cvss/index.md
  docs/reference/decision_points/cvss/qualitative_severity.md
  mkdocs.yml
  src/ssvc/decision_points/cvss/qualitative_severity.py
  src/ssvc/doc_helpers.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Import canonical dp tables
  docs/explanation-index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

fix trailing space @tschmidt
  data/schema/v1/Decision_Point-1-0-1.schema.json
Owners: @sei-vsarvepalli

Clarified JSON schema description fields in more detail
  data/schema/v1/Decision_Point-1-0-1.schema.json
  data/schema/v1/Decision_Point_Group-1-0-1.schema.json
  data/schema/v1/Decision_Point_Value_Selection-1-0-1.schema.json
Owners: @sei-vsarvepalli

Add example decision trees
  docs/explanation.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Modify menu bar and index cards to add Explanation (Overview) and move Tutorial to Reference
  docs/index.md
  mkdocs.yml
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

change filename
  docs/explanation-index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

`markdownlint --fix .`
  docs/explanation.md
  docs/index.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Dockerize the mkdocs dev server (#695)
  Dockerfile
  Makefile
  README.md
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli
