Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

add comments with reference links
  src/ssvc/decision_points/nciss/functional_impact.py
  src/ssvc/decision_points/nciss/information_impact.py
Owners: @ahouseholder

Replace `Track*`/`Track *` with `Monitor` in CISA-based decision model (#738)
  data/json/outcomes/CISA.json
  docs/ssvc-calc/CISA-Coordinator.json
  docs/ssvc-calc/findex.html
  docs/ssvc-calc/old_index.html
  docs/ssvc-calc/sample-ssvc.txt
  docs/ssvc-calc/ssvc.js
  src/ssvc/outcomes/base.py
  src/ssvc/outcomes/groups.py
Owners: @sei-vsarvepalli, @ahouseholder

Revert "Replace `Track*`/`Track *` with `Monitor` in CISA-based decision mode…"
  data/json/outcomes/CISA.json
  docs/ssvc-calc/CISA-Coordinator.json
  docs/ssvc-calc/findex.html
  docs/ssvc-calc/old_index.html
  docs/ssvc-calc/sample-ssvc.txt
  docs/ssvc-calc/ssvc.js
  src/ssvc/outcomes/base.py
  src/ssvc/outcomes/groups.py
Owners: @sei-vsarvepalli, @ahouseholder

Revert "Replace `Track*`/`Track *` with `Monitor` in CISA-based decision mode…" (#741)
  data/json/outcomes/CISA.json
  docs/ssvc-calc/CISA-Coordinator.json
  docs/ssvc-calc/findex.html
  docs/ssvc-calc/old_index.html
  docs/ssvc-calc/sample-ssvc.txt
  docs/ssvc-calc/ssvc.js
  src/ssvc/outcomes/base.py
  src/ssvc/outcomes/groups.py
Owners: @sei-vsarvepalli, @ahouseholder

add functional impact, info impact, observed activity reference docs
  docs/reference/decision_points/nciss/functional_impact.md
  docs/reference/decision_points/nciss/information_impact.md
  docs/reference/decision_points/nciss/observed_activity.md
  mkdocs.yml
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

fix links
  docs/reference/decision_points/nciss/functional_impact.md
  docs/reference/decision_points/nciss/index.md
  docs/reference/decision_points/nciss/information_impact.md
  docs/reference/decision_points/nciss/observed_activity.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

create a `_Valued` mixin
  src/ssvc/_mixins.py
Owners: @ahouseholder

add `_Valued` mixin to base decision point class. Also reorder mixins to adjust default json output key order
  src/ssvc/decision_points/base.py
  src/test/test_doctools.py
Owners: @ahouseholder

markdownlint --fix
  docs/reference/decision_points/nciss/functional_impact.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

move header
  docs/reference/decision_points/nciss/incident_severity.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

empty the ssvc/decision_tables/__init__.py
  src/ssvc/decision_tables/__init__.py
Owners: @ahouseholder

rename OutcomeGroup.outcomes to OutcomeGroup.values
  src/ssvc/decision_tables/base.py
  src/ssvc/outcomes/base.py
  src/ssvc/outcomes/groups.py
  src/ssvc/policy_generator.py
  src/test/test_outcomes.py
  src/test/test_policy_generator.py
Owners: @ahouseholder

add len() to _Valued mixin
  src/ssvc/_mixins.py
Owners: @ahouseholder

use _Valued mixin
  src/ssvc/outcomes/base.py
Owners: @ahouseholder

add len() to _Valued mixin
  src/ssvc/_mixins.py
Owners: @ahouseholder

add tests
  src/test/test_dp_base.py
  src/test/test_mixins.py
Owners: @ahouseholder

add tests
  src/test/test_dp_base.py
  src/test/test_mixins.py
Owners: @ahouseholder

fix return to match type hint
  src/ssvc/doctools.py
Owners: @ahouseholder

refactor registration and validation
  src/ssvc/decision_points/base.py
  src/ssvc/decision_points/cvss/helpers.py
Owners: @ahouseholder

updated cvss description text
  data/json/decision_points/cvss/modified_availability_impact_to_the_subsequent_system_1_0_0.json
  data/json/decision_points/cvss/modified_confidentiality_impact_to_the_subsequent_system_1_0_0.json
  data/json/decision_points/cvss/modified_integrity_impact_to_the_subsequent_system_1_0_0.json
Owners: @sei-vsarvepalli, @ahouseholder

allow comments
  src/ssvc/decision_tables/base.py
Owners: @ahouseholder

wip commit
  src/ssvc/decision_points/base.py
  src/ssvc/decision_points/cvss/helpers.py
  src/ssvc/decision_tables/base.py
  src/ssvc/outcomes/groups.py
  src/ssvc/policy_generator.py
  src/test/test_cvss_helpers.py
  src/test/test_decision_table.py
  src/test/test_dp_base.py
  src/test/test_prioritization_framework.py
Owners: @ahouseholder

add a namespace Enum along with a pydantic dataclass validator to enforce it
  src/ssvc/namespaces.py
Owners: @ahouseholder

add validator to _Namespaced mixin class
  src/ssvc/_mixins.py
Owners: @ahouseholder

refactor base classes to use NameSpace enum values
  src/ssvc/decision_points/base.py
  src/ssvc/decision_points/cvss/base.py
Owners: @ahouseholder

add optional "x_" prefix as valid namespace pattern
  data/schema/v1/Decision_Point-1-0-1.schema.json
Owners: @sei-vsarvepalli

update unit tests
  src/test/test_doc_helpers.py
  src/test/test_dp_base.py
  src/test/test_mixins.py
Owners: @ahouseholder

add docstrings
  src/ssvc/namespaces.py
  src/test/test_mixins.py
Owners: @ahouseholder

add `mdlint_fix` target to Makefile (#744)
  Makefile
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

bump python test version to 3.12
  .github/workflows/python-app.yml
Owners: @ahouseholder, @sei-vsarvepalli

add `nciss` namespace
  src/ssvc/decision_points/nciss/base.py
  src/ssvc/namespaces.py
Owners: @ahouseholder

add _Valued mixin
  src/ssvc/decision_points/base.py
Owners: @ahouseholder

update the regex pattern for namespaces, add validation to pydantic field
  data/schema/v1/Decision_Point-1-0-1.schema.json
  src/ssvc/_mixins.py
  src/ssvc/namespaces.py
Owners: @sei-vsarvepalli, @ahouseholder

refactor namespace validation methods
  src/ssvc/_mixins.py
  src/ssvc/namespaces.py
Owners: @ahouseholder

add unit tests
  src/test/test_namespaces.py
Owners: @ahouseholder

simplify regex to avoid inefficiencies
  data/schema/v1/Decision_Point-1-0-1.schema.json
  src/ssvc/namespaces.py
Owners: @sei-vsarvepalli, @ahouseholder

pin changed-files action to specific sha1
  .github/workflows/lint_md_changes.yml
Owners: @ahouseholder, @sei-vsarvepalli

add length requirements to namespace patterns and fields
  data/schema/v1/Decision_Point-1-0-1.schema.json
  src/ssvc/_mixins.py
  src/ssvc/namespaces.py
  src/test/test_mixins.py
Owners: @sei-vsarvepalli, @ahouseholder

refactor regex again
  data/schema/v1/Decision_Point-1-0-1.schema.json
  src/ssvc/namespaces.py
Owners: @sei-vsarvepalli, @ahouseholder

add docstrings
  src/ssvc/namespaces.py
Owners: @ahouseholder

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli
