Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

add prefix and tags to API router and enhance root redirect description
  src/ssvc/api/main.py
Owners: @ahouseholder

remove prefix and tags from v1 API router configuration
  src/ssvc/api/v1/routers/v1_router.py
Owners: @ahouseholder

add README.md for SSVC API setup and usage instructions
  src/ssvc/api/README.md
Owners: @ahouseholder, @sei-vsarvepalli

Update src/test/api/routers/test_examples.py
  src/test/api/routers/test_examples.py
Owners: @ahouseholder

black formatter
  src/ssvc/api/main.py
  src/ssvc/api/v1/routers/examples.py
  src/ssvc/examples.py
  src/ssvc/selection.py
  src/test/api/routers/test_examples.py
  src/test/test_selections.py
Owners: @ahouseholder

Update src/ssvc/selection.py
  src/ssvc/selection.py
Owners: @ahouseholder

Update src/test/test_selections.py
  src/test/test_selections.py
Owners: @ahouseholder

Update src/test/test_selections.py
  src/test/test_selections.py
Owners: @ahouseholder

fix clipping
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Update docs/_includes/default_automatable_values.md
  docs/_includes/default_automatable_values.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

update dependabot
  .github/dependabot.yml
Owners: @ahouseholder, @sei-vsarvepalli

lint
  .github/workflows/deploy_site.yml
Owners: @ahouseholder, @sei-vsarvepalli

Update pyproject.toml
  pyproject.toml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Remove virtual environment setup from Dockerfile since uv will handle that now
  docker/Dockerfile
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Refactor Makefile to remove PROJECT_DIR variable and simplify uv commands...
  Makefile
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Add example environment file to avoid Docker naming collisions (+1 squashed commit) Squashed commits: [94a51d0] add newline
  docker/env_example
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

remove requirements.txt because we use pyproject.toml now
  .github/workflows/link_checker.yml
  requirements.txt
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

add black to uv dev dependencies
  pyproject.toml
  uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Apply suggestion from @Copilot
  docs/_includes/default_mission_impact_values.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Apply suggestion from @Copilot
  docs/_includes/default_safety_values.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Update docs/_includes/default_safety_values.md
  docs/_includes/default_safety_values.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Update safety impact documentation
  docs/reference/decision_points/safety_impact.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Enable rewriting of relative links in MkDocs configuration
  mkdocs.yml
Owners: @ahouseholder

Clean up
  .github/copilot-instructions.md
Owners: @ahouseholder, @sei-vsarvepalli

test markdown lint to exclude .github
  .markdownlint.yml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Change syntax of markdownlint ignores
  .markdownlint.yml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Remove mention of kebab case
  .github/copilot-instructions.md
Owners: @ahouseholder, @sei-vsarvepalli

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Owners: @ahouseholder, @sei-vsarvepalli

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Owners: @ahouseholder, @sei-vsarvepalli

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Owners: @ahouseholder, @sei-vsarvepalli

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Owners: @ahouseholder, @sei-vsarvepalli

Update docs/ssvc-explorer/simple.js
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Update docs/ssvc-explorer/simple.js
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

updates also to truncate long fields
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Update docs/ssvc-explorer/simple.js
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Updates to handle words that may end with spaces and ellipsis is invisible
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Suggestion to color distinguish values from names of Decision Points
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Added more conditions to regex match
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Reduce string length to truncate
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

Uncomment a slicer
  docs/ssvc-explorer/simple.js
Owners: @sei-vsarvepalli

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli
