Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

Update src/ssvc/utils/ssvc_namespace_pattern.abnf
  src/ssvc/utils/ssvc_namespace_pattern.abnf
Owners: @ahouseholder, @sei-vsarvepalli

Update src/ssvc/utils/ssvc_namespace_pattern.abnf
  src/ssvc/utils/ssvc_namespace_pattern.abnf
Owners: @ahouseholder, @sei-vsarvepalli

Update src/ssvc/utils/ssvc_namespace_pattern.abnf
  src/ssvc/utils/ssvc_namespace_pattern.abnf
Owners: @ahouseholder, @sei-vsarvepalli

Update src/test/test_mixins.py
  src/test/test_mixins.py
Owners: @ahouseholder

improve test_namespaces.py
  src/test/test_namespaces.py
Owners: @ahouseholder

Fix ssvc/utils/patterns.py by anchoring NS_PATTERN
  src/ssvc/utils/patterns.py
  src/test/test_namespaces.py
Owners: @ahouseholder

cleanup tailing whitespace for ssvc_namespace_pattern.abnf
  src/ssvc/utils/ssvc_namespace_pattern.abnf
Owners: @ahouseholder, @sei-vsarvepalli

change to updated json schema files
  data/schema/v2/Decision_Point-2-0-0.schema.json
  data/schema/v2/Decision_Point_Group-2-0-0.schema.json
  data/schema/v2/Decision_Point_Value_Selection-2-0-0.schema.json
  data/schema/v2/Decision_Table-2-0-0.schema.json
  data/schema/v2/Ssvc_Object_Registry-2-0-0.schema.json
Owners: @sei-vsarvepalli

Update src/test/test_namespaces.py
  src/test/test_namespaces.py
Owners: @ahouseholder

Update src/test/test_namespaces_pattern.py
  src/test/test_namespaces_pattern.py
Owners: @ahouseholder

fix typo in comment of test_namespaces_pattern.py
  src/test/test_namespaces_pattern.py
Owners: @ahouseholder

Update src/test/test_namespaces_pattern.py
  src/test/test_namespaces_pattern.py
Owners: @ahouseholder

add mkdocs-exec
  Makefile
  src/pyproject.toml
  src/uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

swap print() for logger.warning()
  src/ssvc/decision_tables/helpers.py
Owners: @ahouseholder

change test case for namespace
  src/ssvc/decision_tables/base.py
  src/ssvc/selection.py
  src/ssvc/utils/field_specs.py
  src/test/decision_points/test_dp_base.py
  src/test/decision_tables/test_base.py
  src/test/registry/test_base.py
  src/test/test_namespaces_pattern.py
  src/test/utils/test_toposort.py
Owners: @ahouseholder

uv --project=./src add "fastapi[standard]"
  src/pyproject.toml
  src/uv.lock
Owners: @ahouseholder, @sei-vsarvepalli

add test if NS_PATTERN is anchored
  src/test/test_namespaces.py
Owners: @ahouseholder

uv --project=./src add "fastapi[all]"
  src/pyproject.toml
  src/uv.lock
Owners: @ahouseholder, @sei-vsarvepalli

add first pass at registry api
  src/ssvc/api.py
Owners: @ahouseholder

Update src/test/test_namespaces_pattern.py
  src/test/test_namespaces_pattern.py
Owners: @ahouseholder

Update src/test/test_namespaces_pattern.py
  src/test/test_namespaces_pattern.py
Owners: @ahouseholder

adjust documentation for new namespace rules
  docs/reference/code/namespaces.md
  src/ssvc/namespaces.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Missing { in includes in supplier_tree.md
  docs/howto/supplier_tree.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

Added SSVC Explorer
  docs/ssvc-explorer/findex.html
  docs/ssvc-explorer/index.md
  docs/ssvc-explorer/simple.js
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

Added Policy Explorer
  docs/ssvc-explorer/findex.html
  docs/ssvc-explorer/index.md
  docs/ssvc-explorer/simple.js
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

Updated calc and explorer
  docs/ssvc-calc/findex.html
  docs/ssvc-calc/index.md
  docs/ssvc-explorer/findex.html
  docs/ssvc-explorer/index.md
  mkdocs.yml
Owners: @sei-vsarvepalli, @ahouseholder, @cgyarbrough, @j---

Namespace ABNF
  docs/reference/code/namespaces.md
  src/ssvc/namespaces.py
  src/ssvc/utils/field_specs.py
  src/test/test_namespaces_pattern.py
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

fix relative link in namespaces.md documentation
  docs/reference/code/namespaces.md
Owners: @ahouseholder, @cgyarbrough, @sei-vsarvepalli, @j---

add docker ignore
  docker/.dockerignore
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

add api server to docker config
  docker/Dockerfile
  docker/docker-compose.yml
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

refactor
  Makefile
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

add some basic 404s
  src/ssvc/api.py
Owners: @ahouseholder

add some basic 404s
  src/ssvc/api.py
Owners: @ahouseholder

update requirements.txt
  requirements.txt
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

fix python-app.yml for uv
  .github/workflows/python-app.yml
Owners: @ahouseholder, @sei-vsarvepalli

fix link_checker.yml for uv
  .github/workflows/link_checker.yml
  requirements.txt
  src/pyproject.toml
  src/uv.lock
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

Updates to SSVC Explorer to use namespaces and verify them properly
  docs/ssvc-explorer/findex.html
  docs/ssvc-explorer/simple.js
Owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough

refactor api and add more routes
  src/ssvc/api.py
Owners: @ahouseholder

add __init__.py to ssvc/decision_tables/cisa to fix importer
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/cisa/__init__.py
Owners: @sei-vsarvepalli, @ahouseholder

refactor
  src/ssvc/api.py
  src/ssvc/utils/api_helpers.py
Owners: @ahouseholder

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli
