Repository CERTCC/SSVC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @sei-vsarvepalli, @cgyarbrough, @j---

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @sei-vsarvepalli @cgyarbrough

# any markdown file in doc
/doc/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# any markdown file in docs
/docs/**/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# architecture decision records
/docs/adr/*.md @ahouseholder @cgyarbrough @sei-vsarvepalli @j---

# ssvc-calc, wherever it lives
ssvc-calc/ @sei-vsarvepalli @ahouseholder

# source code
/src/ @ahouseholder @sei-vsarvepalli
*.py @ahouseholder
*.js @sei-vsarvepalli

# data
/data/ @sei-vsarvepalli @ahouseholder
/data/csvs @ahouseholder @j---
/data/schema @sei-vsarvepalli
/data/schema_examples @sei-vsarvepalli

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli

fix errors in EQ4
  data/json/decision_tables/cvss/cvss_v4_equivalence_set_4_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/cvss/equivalence_set_four.py
Owners: @sei-vsarvepalli, @ahouseholder

regenerate registry
  data/json/ssvc_object_registry.json
Owners: @sei-vsarvepalli, @ahouseholder

add unit tests
  data/json/decision_tables/cvss/cvss_v4_equivalence_set_6_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/cvss/equivalence_set_six.py
  src/test/decision_tables/cvss/__init__.py
  src/test/decision_tables/cvss/test_eq1.py
  src/test/decision_tables/cvss/test_eq2.py
  src/test/decision_tables/cvss/test_eq3.py
  src/test/decision_tables/cvss/test_eq4.py
  src/test/decision_tables/cvss/test_eq5.py
  src/test/decision_tables/cvss/test_eq6.py
Owners: @sei-vsarvepalli, @ahouseholder

add coord triage table
  data/json/decision_tables/ssvc/coordinator_triage_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/ssvc/coord_triage.py
  src/test/decision_tables/ssvc/__init__.py
  src/test/decision_tables/ssvc/test_coord_triage.py
Owners: @sei-vsarvepalli, @ahouseholder

Rename-a-file
  data/json/decision_tables/cvss/cvss_equivalence_set_5_1_0_0.json
Owners: @sei-vsarvepalli, @ahouseholder

Move a file to be consistent
  data/json/decision_tables/cvss/cvss_v4_equivalence_set_5_1_0_0.json
Owners: @sei-vsarvepalli, @ahouseholder

SSVC Cacluator to accept new schema
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli

pin specific decision point versions
  data/json/decision_tables/ssvc/coordinator_triage_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/ssvc/coord_triage.py
  src/test/decision_tables/ssvc/test_coord_triage.py
Owners: @sei-vsarvepalli, @ahouseholder

isolate failing test
  src/test/decision_tables/ssvc/test_coord_triage.py
Owners: @ahouseholder

tighten up table and unit tests
  data/json/decision_tables/ssvc/coordinator_triage_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/ssvc/coord_triage.py
  src/test/decision_tables/ssvc/test_coord_triage.py
Owners: @sei-vsarvepalli, @ahouseholder

refactor unit tests
  src/test/decision_tables/ssvc/test_coord_triage.py
Owners: @ahouseholder

modify title of Decision Table object
  data/json/decision_tables/cvss/cvss_v4_equivalence_set_5_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/cvss/equivalence_set_five.py
Owners: @sei-vsarvepalli, @ahouseholder

Move a file to be consistent in data/json/decision_points folder (#866)
  data/json/decision_tables/cvss/cvss_v4_equivalence_set_5_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/cvss/equivalence_set_five.py
Owners: @sei-vsarvepalli, @ahouseholder

SSVC Cacluator to accept new schema (#867)
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli

Create `DecisionTable` representation of coordinator triage decision model (#868)
  data/json/decision_tables/ssvc/coordinator_triage_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/ssvc/coord_triage.py
  src/test/decision_tables/ssvc/__init__.py
  src/test/decision_tables/ssvc/test_coord_triage.py
Owners: @sei-vsarvepalli, @ahouseholder

add unit test for human impact decision table
  src/test/decision_tables/ssvc/test_human_impact.py
Owners: @ahouseholder

pin HI to specific versions of SI and MI
  data/json/decision_tables/ssvc/human_impact_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/ssvc/human_impact.py
Owners: @sei-vsarvepalli, @ahouseholder

rev human impact decision point to reflect that None and Degraded were combined a while back.
  data/json/decision_points/ssvc/human_impact_2_0_2.json
  data/json/decision_tables/ssvc/deployer_patch_application_priority_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_points/ssvc/human_impact.py
  src/ssvc/decision_tables/cisa/cisa_coordinate_dt.py
  src/ssvc/decision_tables/ssvc/deployer_dt.py
  src/test/decision_tables/ssvc/test_human_impact.py
Owners: @sei-vsarvepalli, @ahouseholder

pin decision points to specific versions
  src/ssvc/decision_tables/cisa/cisa_coordinate_dt.py
Owners: @ahouseholder

pin specific decision point versions in table
  src/ssvc/decision_tables/ssvc/deployer_dt.py
Owners: @ahouseholder

CVSS V4 Quality Severity Rating added
  src/ssvc/decision_tables/cvss/qualitative_severity.py
Owners: @ahouseholder

Removed local module mapper for testing docker
  src/ssvc/decision_tables/cvss/qualitative_severity.py
Owners: @ahouseholder

fix redundancies in human impact table
  data/json/decision_tables/ssvc/human_impact_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/ssvc/human_impact.py
  src/test/decision_tables/ssvc/test_human_impact.py
Owners: @sei-vsarvepalli, @ahouseholder

add validator to detect duplicate mapping rows
  src/ssvc/decision_tables/base.py
  src/test/decision_tables/test_base.py
Owners: @ahouseholder

add a validator that guarantees full coverage of decision point value combinations in DecisionTable
  data/json/decision_points/cvss/exploit_maturity_without_not_defined__2_0_0.json
  data/json/decision_tables/cisa/cisa_coordinator_2_0_3.json
  data/json/decision_tables/cvss/cvss_v4_equivalence_set_5_1_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_points/cvss/exploit_maturity.py
  src/ssvc/decision_tables/base.py
  src/ssvc/decision_tables/cisa/cisa_coordinate_dt.py
  src/ssvc/decision_tables/cvss/equivalence_set_five.py
  src/test/decision_tables/test_base.py
Owners: @sei-vsarvepalli, @ahouseholder

add check for duplicate value keys inside a single decision point. Fix offending decision points.
  data/json/decision_points/cisa/cisa_levels_1_0_0.json
  data/json/decision_points/ssvc/public_well_being_impact_1_0_0.json
  data/json/decision_tables/cisa/cisa_coordinator_2_0_3.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_points/base.py
  src/ssvc/decision_points/ssvc/public_safety_impact.py
  src/ssvc/decision_tables/cisa/cisa_coordinate_dt.py
  src/ssvc/outcomes/cisa/scoring.py
Owners: @sei-vsarvepalli, @ahouseholder

use HI 2.0.2
  data/json/decision_tables/ssvc/human_impact_1_0_0.json
  src/ssvc/decision_tables/ssvc/human_impact.py
Owners: @sei-vsarvepalli, @ahouseholder

bump public_well_being version
  data/json/decision_points/ssvc/public_well_being_impact_1_1_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_points/ssvc/public_safety_impact.py
Owners: @sei-vsarvepalli, @ahouseholder

ssvc:pwi:1.0.0 no longer validates (duplicate keys), so get rid of it.
  data/json/decision_points/ssvc/public_well_being_impact_1_0_0.json
Owners: @sei-vsarvepalli, @ahouseholder

bump CISA scoring version to reflect change in keys
  data/json/decision_points/cisa/cisa_levels_1_1_0.json
  data/json/decision_tables/cisa/cisa_coordinator_2_0_3.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/cisa/cisa_coordinate_dt.py
  src/ssvc/outcomes/cisa/scoring.py
Owners: @sei-vsarvepalli, @ahouseholder

copyright update
  src/ssvc/outcomes/cvss/lmhc.py
Owners: @ahouseholder

add table with coverage of EQ3=L,EQ6=H. They're invalid according to CVSSv4 rules, but we need them for state coverage.
  data/json/decision_tables/cvss/cvss_v4_0_qualitative_severity_ratings_4_0_0.json
  data/json/ssvc_object_registry.json
  src/ssvc/decision_tables/cvss/qualitative_severity.py
Owners: @sei-vsarvepalli, @ahouseholder

add unit tests for CVSS v4 QSR DecisionTable
  src/test/decision_tables/cvss/_v4expected.py
  src/test/decision_tables/cvss/test_cvss_qsr4.py
Owners: @ahouseholder

wip commit
  src/ssvc/decision_tables/_mermaid.py
  src/ssvc/decision_tables/test.md
Owners: @ahouseholder, @sei-vsarvepalli

Updated SSVC Calculator to use registry
  docs/ssvc-calc/findex.html
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli, @ahouseholder

move registry url to local
  docs/ssvc-calc/ssvc.js
  docs/ssvc-calc/ssvc_object_registry.json
Owners: @sei-vsarvepalli, @ahouseholder

fix broken f-strings
  src/ssvc/decision_points/cvss/helpers.py
  src/ssvc/doctools.py
Owners: @ahouseholder

Use registry dynamic colors and capabilities
  docs/ssvc-calc/findex.html
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli, @ahouseholder

Evaluation for vulnerbaility
  docs/ssvc-calc/findex.html
  docs/ssvc-calc/ssvc.js
Owners: @sei-vsarvepalli, @ahouseholder

add new TestNamespacePattern from #858
  src/test/test_namespaces_pattern.py
Owners: @ahouseholder
